Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lint:resources:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  
    '

lint:js:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest related {staged_files}
  
    '

test:unit:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest {staged_files}
  
    '

fix(npmrc): update authentication settings to reflect deprecation of global always-auth key
  common/config/rush/.npmrc
Due: none

fix(docs): clarify guidelines on using git history for workflow reviews
  .ai/rules/agent-execution.md
  .ai/workflows/pkg-review.md
  .ai/workflows/pkg-workflow.md
Due: none

feat: enhance sandbox document generation with direction support and improve watcher event handling
  docs/.vitepress/plugins/component-preview/plugin.ts
  docs/.vitepress/theme/components/component-preview/__tests__/sandboxDoc.test.ts
  docs/.vitepress/theme/components/component-preview/sandboxDoc.ts
  docs/vitest.config.ts
Due: lint:js, test:unit

chore(refine): Improve refine headless module
  common/changes/@vielzeug/refine/main_2026-07-03-12-02.json
  docs/refine/api.md
  docs/refine/components/combobox.md
  packages/refine/src/content/card/card.ts
  packages/refine/src/content/copy-command/copy-command.css
  packages/refine/src/content/copy-command/copy-command.ts
  packages/refine/src/disclosure/accordion-item/accordion-item.ts
  packages/refine/src/disclosure/tabs/tabs.ts
  packages/refine/src/feedback/toast/toast.ts
  packages/refine/src/headless/__tests__/date-picker.test.ts
  packages/refine/src/headless/__tests__/direction.test.ts
  packages/refine/src/headless/__tests__/keyboard.test.ts
  packages/refine/src/headless/__tests__/nav.test.ts
  packages/refine/src/headless/__tests__/option-list.test.ts
  packages/refine/src/headless/__tests__/positioner.test.ts
  packages/refine/src/headless/__tests__/selection-control.test.ts
  packages/refine/src/headless/__tests__/spinner.test.ts
  packages/refine/src/headless/__tests__/swipe.test.ts
  packages/refine/src/headless/__tests__/utils.test.ts
  packages/refine/src/headless/announcer.ts
  packages/refine/src/headless/checkable.ts
  packages/refine/src/headless/direction.ts
  packages/refine/src/headless/field-base.ts
  packages/refine/src/headless/keyboard.ts
  packages/refine/src/headless/nav.ts
  packages/refine/src/headless/numbers.ts
  packages/refine/src/headless/option-list.ts
  packages/refine/src/headless/positioner.ts
  packages/refine/src/headless/spinner.ts
  packages/refine/src/headless/swipe.ts
  packages/refine/src/inputs/combobox/combobox.css
  packages/refine/src/inputs/combobox/combobox.ts
  packages/refine/src/inputs/file-input/file-input.ts
  packages/refine/src/overlay/drawer/drawer.ts
  packages/refine/src/styles/index.ts
  packages/refine/src/styles/mixins/accessibility.css.ts
Due: lint:resources, lint:js, test:unit

fix(ore): fix XSS gaps in setAttr, matchMedia test env, dead code cleanup, test coverage, and docs accuracy
  common/changes/@vielzeug/ore/main_2026-07-03-18-23.json
  docs/codex/index.md
  docs/ore/api.md
  docs/ore/examples/observers-in-onmount.md
  docs/ore/examples/search-list-with-directives.md
  docs/ore/examples/test-example-at-vielzeug-ore-testing.md
  docs/ore/examples/typed-props-and-emits.md
  docs/ore/index.md
  docs/ore/usage.md
  packages/ore/AGENTS.md
  packages/ore/src/__tests__/component-helpers.test.ts
  packages/ore/src/__tests__/dom-security.test.ts
  packages/ore/src/__tests__/intersection-observe.test.ts
  packages/ore/src/__tests__/media-observe.test.ts
  packages/ore/src/__tests__/mutation-observe.test.ts
  packages/ore/src/__tests__/resize-observe.test.ts
  packages/ore/src/__tests__/testing.test.ts
  packages/ore/src/__tests__/utilities.test.ts
  packages/ore/src/props.ts
  packages/ore/src/utils/dom.ts
  packages/ore/src/utils/id.ts
  packages/ore/vitest.setup.ts
Due: lint:resources, lint:js, test:unit

chore(config): update MCP configuration for local development and add review/security templates
  .ai/mcp/mcp.json
  .ai/rules/code/conventions.md
  .ai/rules/data/catalogue.md
  .ai/rules/docs/doc-template.md
  .ai/rules/docs/plan-template.md
  .ai/rules/docs/review-template.md
  .ai/rules/docs/security-template.md
  .ai/rules/process/agent-execution.md
  .ai/rules/process/workspace.md
  .ai/workflows/manifest.json
  .ai/workflows/pkg-docs.md
  .ai/workflows/pkg-implement.md
  .ai/workflows/pkg-plan.md
  .ai/workflows/pkg-repl.md
  .ai/workflows/pkg-review.md
  .ai/workflows/pkg-security.md
  .ai/workflows/pkg-tests.md
  .ai/workflows/pkg-workflow.md
  .ai/workflows/runs/AGENTS.md
  .gitignore
  .rumdl.toml
  AGENTS.md
  docs/AGENTS.md
  packages/AGENTS.md
  packages/codex/AGENTS.md
  packages/prism/AGENTS.md
  packages/refine/AGENTS.md
  scripts/__tests__/sync-workflow-docs.test.mjs
  scripts/sync-workflow-docs.mjs
  scripts/worktree.mjs
Due: lint:resources

feat: add catalogue dependency graph check to CI workflow and update security templates for code formatting
  .ai/rules/code/conventions.md
  .ai/rules/data/catalogue.md
  .ai/rules/docs/plan-template.md
  .ai/rules/docs/review-template.md
  .ai/rules/docs/security-template.md
  .ai/rules/process/agent-execution.md
  .ai/rules/process/workspace.md
  .ai/workflows/pkg-docs.md
  .ai/workflows/pkg-implement.md
  .ai/workflows/pkg-plan.md
  .ai/workflows/pkg-repl.md
  .ai/workflows/pkg-review.md
  .ai/workflows/pkg-security.md
  .ai/workflows/pkg-tests.md
  .ai/workflows/pkg-workflow.md
  .github/workflows/_test-lint.yml
  .rumdl.toml
  README.md
  package.json
  scripts/__tests__/sync-catalogue.test.mjs
  scripts/__tests__/sync-workflow-docs.test.mjs
  scripts/sync-catalogue.mjs
  scripts/sync-workflow-docs.mjs
Due: lint:resources

fix(clockwork): scope invoke/after-timer restarts to exited paths, harden against prototype-key state/event names, fix stale MachineError docs
  common/changes/@vielzeug/clockwork/main_2026-07-03-21-20.json
  docs/.vitepress/theme/components/repl/examples/clockwork/context-validation.ts
  docs/.vitepress/theme/components/repl/examples/clockwork/resolve-and-error.ts
  docs/clockwork/api.md
  docs/clockwork/index.md
  docs/clockwork/usage.md
  packages/clockwork/README.md
  packages/clockwork/src/__tests__/machine.test.ts
  packages/clockwork/src/definition.ts
  packages/clockwork/src/interpret.ts
Due: lint:resources, lint:js, test:unit

fix(refine): surface visible failure state in ore-copy-command instead of silently failing
  common/changes/@vielzeug/refine/main_2026-07-03-22-24.json
  docs/.vitepress/theme/components/HomePage.vue
  packages/refine/src/content/copy-command/copy-command.css
  packages/refine/src/content/copy-command/copy-command.test.ts
  packages/refine/src/content/copy-command/copy-command.ts
Due: lint:resources, lint:js, test:unit

fix(HomePage): remove unnecessary margin-left from hero-install-counter
  docs/.vitepress/theme/components/HomePage.vue
Due: none

fix(vitest): add vue alias to vitest configuration for improved module resolution
  docs/vitest.config.ts
Due: lint:js

fix(vitest): add vue alias to vitest configuration for improved module resolution
  docs/vitest.config.ts
  package.json
  pnpm-lock.yaml
Due: lint:resources, lint:js

docs: updated root README.md
  CLAUDE.md
  README.md
Due: none

CI: bump actions/upload-artifact version to 4.6.2
  .github/workflows/_test-lint.yml
  .github/workflows/ci.yml
Due: lint:resources

fix(coins): widen dev-warning scientific-notation detection, wire CurrencyCode into signatures, accept number rate in exchange(), remove dead arsenal dep, fix error-class docs
  .ai/rules/data/catalogue.md
  common/changes/@vielzeug/coins/main_2026-07-04-07-29.json
  packages/coins/README.md
  packages/coins/package.json
  packages/coins/src/__tests__/exchange.test.ts
  packages/coins/src/__tests__/money.test.ts
  packages/coins/src/__tests__/utils.test.ts
  packages/coins/src/exchange.ts
  packages/coins/src/money.ts
  packages/coins/src/types.ts
  packages/coins/src/utils.ts
Due: lint:resources, lint:js, test:unit

fix(conduit): widespread unprefixed error-class names and stale API references
  common/changes/@vielzeug/conduit/main_2026-07-04-09-55.json
  docs/conduit/api.md
  docs/conduit/examples/async-providers.md
  docs/conduit/examples/basic-setup.md
  docs/conduit/examples/dispose-lifecycle.md
  docs/conduit/examples/lifetimes.md
  docs/conduit/examples/named-scopes.md
  docs/conduit/examples/sync-resolution.md
  docs/conduit/index.md
  docs/conduit/usage.md
  packages/conduit/README.md
  packages/conduit/src/__tests__/conduit.test.ts
  packages/conduit/src/_dev.ts
Due: lint:resources, lint:js, test:unit

chore(dnd): rework dnd disposal internals onto AbortSignal, drop unused resolveDisabled export, warn on duplicate getKey values
  .ai/mcp/mcp.json
  .gitignore
  common/changes/@vielzeug/dnd/main_2026-07-04-10-00.json
  common/changes/@vielzeug/refine/main_2026-07-03-12-02.json
  packages/dnd/src/__tests__/sortable.test.ts
  packages/dnd/src/_shared.ts
  packages/dnd/src/drop-zone.ts
  packages/dnd/src/index.ts
  packages/dnd/src/sortable.ts
  packages/dnd/src/types.ts
Due: lint:resources, lint:js, test:unit

fix(courier): guard mutate() against disposed state, fix batcher sync-throw hang, dedupe retry/query helpers, add devtools sub-path and sync-store test coverage
  common/changes/@vielzeug/courier/main_2026-07-04-07-58.json
  docs/.vitepress/theme/components/repl/examples/courier/debug-courier.ts
  docs/.vitepress/theme/components/repl/examples/courier/index.ts
  docs/.vitepress/theme/components/repl/examples/courier/sync-store.ts
  docs/courier/api.md
  docs/courier/examples/authentication.md
  docs/courier/examples/disposal.md
  docs/courier/examples/error-handling-patterns.md
  docs/courier/examples/mutation-cancel.md
  docs/courier/examples/query-callbacks.md
  docs/courier/index.md
  docs/courier/usage.md
  packages/courier/package.json
  packages/courier/src/__tests__/batcher.test.ts
  packages/courier/src/__tests__/devtools.test.ts
  packages/courier/src/__tests__/errors.test.ts
  packages/courier/src/__tests__/focus.test.ts
  packages/courier/src/__tests__/interceptors.test.ts
  packages/courier/src/__tests__/mutation.test.ts
  packages/courier/src/__tests__/query.test.ts
  packages/courier/src/__tests__/sync-store.test.ts
  packages/courier/src/_dev.ts
  packages/courier/src/api.ts
  packages/courier/src/batcher.ts
  packages/courier/src/devtools.ts
  packages/courier/src/errors.ts
  packages/courier/src/focus.ts
  packages/courier/src/mutation.ts
  packages/courier/src/query-observe.ts
  packages/courier/src/query.ts
  packages/courier/src/retry.ts
  packages/courier/src/stream.ts
  packages/courier/vite.config.ts
Due: lint:resources, lint:js, test:unit

fix(familiar): stale README/docs error-class references, bounded batch(ordered:false) buffering, timer-unref consistency, and coverage gaps
  common/changes/@vielzeug/familiar/main_2026-07-04-09-12.json
  docs/.vitepress/theme/components/repl/examples/familiar/error-handling.ts
  docs/.vitepress/theme/components/repl/examples/familiar/lifecycle.ts
  docs/.vitepress/theme/components/repl/examples/familiar/streaming.ts
  docs/familiar/api.md
  docs/familiar/examples/cancellable-batch.md
  docs/familiar/examples/data-transformation-pipeline.md
  docs/familiar/examples/fibonacci-with-pool-and-timeout.md
  docs/familiar/examples/image-processing.md
  docs/familiar/examples/streaming-with-runstream.md
  docs/familiar/examples/typed-error-handling.md
  docs/familiar/index.md
  docs/familiar/usage.md
  packages/familiar/README.md
  packages/familiar/src/__tests__/protocol.test.ts
  packages/familiar/src/__tests__/worker-runtime.test.ts
  packages/familiar/src/__tests__/worker-test-double.test.ts
  packages/familiar/src/_pool.ts
  packages/familiar/src/_timers.ts
  packages/familiar/src/errors.ts
  packages/familiar/src/testing/testing.ts
  packages/familiar/src/worker.ts
Due: lint:resources, lint:js, test:unit

feat(ledger): add AbortSignal cancellation support, make Command/compose generic over TData, fix README batch()/compose() mismatch
  common/changes/@vielzeug/ledger/main_2026-07-04-09-29.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples/ledger/cancellation.ts
  docs/.vitepress/theme/components/repl/examples/ledger/index.ts
  docs/ledger/api.md
  docs/ledger/examples/form-history.md
  docs/ledger/examples/text-editor.md
  docs/ledger/index.md
  docs/ledger/usage.md
  packages/ledger/README.md
  packages/ledger/src/__tests__/compose.test.ts
  packages/ledger/src/__tests__/ledger.test.ts
  packages/ledger/src/compose.ts
  packages/ledger/src/errors.ts
  packages/ledger/src/index.ts
  packages/ledger/src/ledger.ts
  packages/ledger/src/types.ts
Due: lint:resources, lint:js, test:unit

fix(keymap): correct chord cross-binding leakage, listBindings() mutation leak
  common/changes/@vielzeug/keymap/main_2026-07-04-09-49.json
  docs/.vitepress/theme/components/repl/examples/keymap/chord-sequences.ts
  docs/.vitepress/theme/components/repl/examples/keymap/conflict-detection.ts
  docs/.vitepress/theme/components/repl/examples/keymap/index.ts
  docs/.vitepress/theme/components/repl/examples/keymap/keymap-layers.ts
  docs/.vitepress/theme/components/repl/examples/keymap/parse-and-match.ts
  docs/keymap/api.md
  docs/keymap/examples.md
  docs/keymap/examples/global-shortcuts.md
  docs/keymap/examples/vim-navigation.md
  docs/keymap/index.md
  docs/keymap/usage.md
  packages/keymap/README.md
  packages/keymap/src/__tests__/chord.test.ts
  packages/keymap/src/__tests__/conflicts.test.ts
  packages/keymap/src/__tests__/errors.test.ts
  packages/keymap/src/__tests__/keymap.test.ts
  packages/keymap/src/__tests__/layer.test.ts
  packages/keymap/src/__tests__/parser.test.ts
  packages/keymap/src/conflicts.ts
  packages/keymap/src/index.ts
  packages/keymap/src/keymap.ts
  packages/keymap/src/parser.ts
Due: lint:resources, lint:js, test:unit

chore(flux): harden flux operator error-forwarding, dedupe subject/pipe internals, fix withLatestFrom error swallow
  common/changes/@vielzeug/flux/main_2026-07-04-09-52.json
  docs/.vitepress/theme/components/repl/examples/flux/error-handling.ts
  docs/flux/api.md
  docs/flux/examples/combine-streams.md
  docs/flux/usage.md
  packages/flux/src/__tests__/flux.test.ts
  packages/flux/src/__tests__/operators.test.ts
  packages/flux/src/__tests__/subject.test.ts
  packages/flux/src/_dev.ts
  packages/flux/src/_iterator.ts
  packages/flux/src/_numeric.ts
  packages/flux/src/_pipe.ts
  packages/flux/src/_safe.ts
  packages/flux/src/core.ts
  packages/flux/src/operators/combination.ts
  packages/flux/src/operators/filtering.ts
  packages/flux/src/operators/transformation.ts
  packages/flux/src/operators/utility.ts
  packages/flux/src/subject.ts
Due: lint:resources, lint:js, test:unit

fix(familiar): simplify entry point keys in Vite configuration
  packages/familiar/vite.config.ts
Due: lint:js

fix(orbit): stop redundant DOM reads in computePosition hot path, export getRects, fix README API drift, add devtools/error test coverage
  common/changes/@vielzeug/orbit/main_2026-07-04-09-35.json
  docs/.vitepress/theme/components/repl/examples/orbit/get-rects.ts
  docs/.vitepress/theme/components/repl/examples/orbit/index.ts
  docs/orbit/api.md
  docs/orbit/examples/reactive-adapter.md
  docs/orbit/examples/ssr-setup.md
  docs/orbit/examples/with-ore-component.md
  docs/orbit/index.md
  docs/orbit/usage.md
  packages/orbit/README.md
  packages/orbit/src/__tests__/devtools.test.ts
  packages/orbit/src/__tests__/orbit.test.ts
  packages/orbit/src/core.ts
  packages/orbit/src/index.ts
  packages/orbit/src/middleware/auto-placement.ts
  packages/orbit/src/middleware/hide.ts
  packages/orbit/src/middleware/size.ts
  packages/orbit/src/overflow.ts
Due: lint:resources, lint:js, test:unit

docs(workflows): update Rush change file instructions and clarify usage of scoped helper script
  .ai/rules/process/workspace.md
  .ai/workflows/pkg-implement.md
  .ai/workflows/pkg-workflow.md
  CLAUDE.md
  scripts/rush-change.mjs
Due: none

fix(lingua): restore broken @vielzeug/lingua/validate subpath
  common/changes/@vielzeug/lingua/main_2026-07-04-12-11.json
  docs/.vitepress/theme/components/repl/examples/lingua/dispose-lifecycle.ts
  docs/.vitepress/theme/components/repl/examples/lingua/index.ts
  docs/.vitepress/theme/components/repl/examples/lingua/ssr-hydration.ts
  docs/.vitepress/theme/components/repl/examples/lingua/standalone-formatter.ts
  docs/lingua/api.md
  docs/lingua/examples/async-loading-and-reload.md
  docs/lingua/examples/diagnostics-hook.md
  docs/lingua/examples/per-request-locale-handling.md
  docs/lingua/index.md
  docs/lingua/usage.md
  packages/lingua/package.json
  packages/lingua/scripts/verify-exports.mjs
  packages/lingua/src/__tests__/i18n.test.ts
  packages/lingua/src/_namespace-store.ts
  packages/lingua/src/errors.ts
  packages/lingua/src/i18n.ts
  packages/lingua/src/ssr.ts
  packages/lingua/src/testing.ts
  packages/lingua/vite.config.ts
Due: lint:resources, lint:js, test:unit

fix(pulse): correct channel/presence disposal-signal race, warn on silent drops, remove dead code
  common/changes/@vielzeug/pulse/main_2026-07-04-10-24.json
  docs/pulse/api.md
  docs/pulse/index.md
  docs/pulse/usage.md
  packages/pulse/src/__tests__/_fixtures.ts
  packages/pulse/src/__tests__/channel.test.ts
  packages/pulse/src/__tests__/heartbeat.test.ts
  packages/pulse/src/__tests__/presence.test.ts
  packages/pulse/src/__tests__/pulse.test.ts
  packages/pulse/src/__tests__/utils.test.ts
  packages/pulse/src/_listener-map.ts
  packages/pulse/src/_utils.ts
  packages/pulse/src/channel.ts
  packages/pulse/src/errors.ts
  packages/pulse/src/heartbeat.ts
  packages/pulse/src/presence.ts
  packages/pulse/src/pulse.ts
  packages/pulse/src/types.ts
Due: lint:resources, lint:js, test:unit

fix(scroll): fix ResizeObserver leak on dispose, stale README dispose() calls, Proxy state visibility
  common/changes/@vielzeug/scroll/agent_1783193155064.json
  docs/.vitepress/theme/components/repl/examples/scroll/grid-virtualizer.ts
  docs/.vitepress/theme/components/repl/examples/scroll/index.ts
  docs/.vitepress/theme/components/repl/examples/scroll/reactive-virtualizer.ts
  docs/scroll/api.md
  packages/scroll/README.md
  packages/scroll/src/__tests__/axis1d.test.ts
  packages/scroll/src/__tests__/dom-virtual-list.test.ts
  packages/scroll/src/__tests__/errors.test.ts
  packages/scroll/src/__tests__/grid-virtualizer.test.ts
  packages/scroll/src/__tests__/grouped-virtualizer.test.ts
  packages/scroll/src/__tests__/reactive.test.ts
  packages/scroll/src/__tests__/virtualizer.test.ts
  packages/scroll/src/_axis1d.ts
  packages/scroll/src/_utils.ts
  packages/scroll/src/grid-virtualizer.ts
  packages/scroll/src/grouped-virtualizer.ts
  packages/scroll/src/reactive.ts
  packages/scroll/src/virtualizer.ts
  scripts/repl-setup.ts
Due: lint:resources, lint:js, test:unit

fix(rune): patch Node console format-string injection and improve overall security
  common/changes/@vielzeug/rune/main_2026-07-04-17-24.json
  docs/rune/api.md
  docs/rune/examples/production-setup.md
  docs/rune/examples/react-integration.md
  docs/rune/examples/request-middleware.md
  docs/rune/examples/testing.md
  docs/rune/examples/timing-and-grouping.md
  docs/rune/index.md
  docs/rune/usage.md
  packages/rune/README.md
  packages/rune/src/__tests__/rune.test.ts
  packages/rune/src/_dev.ts
  packages/rune/src/_prototype.ts
  packages/rune/src/console.ts
  packages/rune/src/errors.ts
  packages/rune/src/index.ts
  packages/rune/src/lazy.ts
  packages/rune/src/logger.ts
  packages/rune/src/transports.ts
  packages/rune/src/types.ts
  pnpm-lock.yaml
Due: lint:resources, lint:js, test:unit

fix(scout): tokenize() now preserves non-ASCII text (CJK/Cyrillic were unsearchable)
  common/changes/@vielzeug/scout/agent_1783196383880.json
  docs/.vitepress/theme/components/repl/examples/scout/incremental-updates.ts
  docs/.vitepress/theme/components/repl/examples/scout/index.ts
  docs/.vitepress/theme/components/repl/examples/scout/segment-words.ts
  docs/scout/api.md
  docs/scout/examples/basic-search.md
  docs/scout/examples/reactive-combobox.md
  docs/scout/examples/sourcerer-integration.md
  docs/scout/index.md
  docs/scout/usage.md
  packages/scout/README.md
  packages/scout/package.json
  packages/scout/src/__tests__/devtools.test.ts
  packages/scout/src/__tests__/index.test.ts
  packages/scout/src/__tests__/reactive.test.ts
  packages/scout/src/__tests__/segment-fallback.test.ts
  packages/scout/src/__tests__/segment.test.ts
  packages/scout/src/_dev.ts
  packages/scout/src/devtools.ts
  packages/scout/src/highlight.ts
  packages/scout/src/index.ts
  packages/scout/src/reactive.ts
  packages/scout/src/scout-index.ts
  packages/scout/src/segment.ts
  packages/scout/src/tokenize.ts
  packages/scout/src/types.ts
  packages/scout/vite.config.ts
Due: lint:resources, lint:js, test:unit

feat(spell): add min()/max()/size()/nonEmpty() constraints to s.map(), fix docs/string.regex() equals() limitation note
  common/changes/@vielzeug/spell/agent_1783195821782.json
  common/changes/@vielzeug/spell/agent_1783198256145.json
  docs/.vitepress/theme/components/repl/examples/spell/object-defaults.ts
  docs/spell/api.md
  docs/spell/examples/api.md
  docs/spell/examples/forms.md
  docs/spell/examples/unions.md
  docs/spell/index.md
  docs/spell/usage.md
  packages/spell/README.md
  packages/spell/src/__tests__/core-check.test.ts
  packages/spell/src/__tests__/core-modifiers.test.ts
  packages/spell/src/__tests__/core-parse.test.ts
  packages/spell/src/__tests__/instanceof.test.ts
  packages/spell/src/__tests__/json.test.ts
  packages/spell/src/__tests__/map.test.ts
  packages/spell/src/__tests__/object.test.ts
  packages/spell/src/__tests__/record.test.ts
  packages/spell/src/__tests__/set.test.ts
  packages/spell/src/__tests__/tuple-rest-object-strip.test.ts
  packages/spell/src/__tests__/tuple.test.ts
  packages/spell/src/core.ts
  packages/spell/src/json-schema.ts
  packages/spell/src/messages.ts
  packages/spell/src/schemas/instanceof.ts
  packages/spell/src/schemas/map.ts
  packages/spell/src/schemas/object.ts
  packages/spell/src/schemas/record.ts
  packages/spell/src/schemas/set.ts
  packages/spell/src/schemas/string.ts
  packages/spell/src/schemas/tuple.ts
  packages/spell/src/types.ts
Due: lint:resources, lint:js, test:unit

fix(ward): correct pervasive docs API drift (can/canAll/canAny, rule()/defineRules, Express/Hono guards never existed) and freeze detectConflicts() cache against mutation
  common/changes/@vielzeug/ward/agent_1783198333230.json
  docs/.vitepress/theme/components/repl/examples/ward/index.ts
  docs/.vitepress/theme/components/repl/examples/ward/rule-factories.ts
  docs/ward/api.md
  docs/ward/examples/blog-roles.md
  docs/ward/examples/bound-guard-in-ui-layer.md
  docs/ward/examples/conflict-detection.md
  docs/ward/examples/disabling-wildcard-fallback.md
  docs/ward/examples/inheritance-and-overrides.md
  docs/ward/examples/logger-for-auditing.md
  docs/ward/examples/multi-role-rules.md
  docs/ward/examples/snapshot-restore-for-test-isolation.md
  docs/ward/examples/trace-decision.md
  docs/ward/examples/wildcard-action.md
  docs/ward/usage.md
  packages/ward/src/__tests__/factory.test.ts
  packages/ward/src/factory.ts
  packages/ward/src/types.ts
Due: lint:resources, lint:js, test:unit

fix(wayfinder): prevent preload() from running after dispose, guard parseQuery against __proto__ key hijack, add devtools test coverage
  common/changes/@vielzeug/wayfinder/agent_1783226273842.json
  docs/wayfinder/api.md
  docs/wayfinder/index.md
  packages/wayfinder/src/__tests__/coerce-search.test.ts
  packages/wayfinder/src/__tests__/devtools.test.ts
  packages/wayfinder/src/__tests__/preload.test.ts
  packages/wayfinder/src/compile.ts
  packages/wayfinder/src/path.ts
  packages/wayfinder/src/router.ts
Due: lint:resources, lint:js, test:unit

fix(tempo): sync README/docs/REPL example with actual error hierarchy, drop dead _dev.ts and arsenal build config
  common/changes/@vielzeug/tempo/agent_1783226463614.json
  docs/.vitepress/theme/components/repl/examples/tempo/error-handling.ts
  docs/tempo/api.md
  docs/tempo/examples/expiry-classification.md
  docs/tempo/examples/timezone-conversion.md
  docs/tempo/index.md
  packages/tempo/README.md
  packages/tempo/src/_dev.ts
  packages/tempo/vite.bundle.config.ts
  packages/tempo/vite.config.ts
  packages/tempo/vitest.config.ts
Due: lint:resources, lint:js

fix(vault): correct IndexedDB keys() to exclude ad-hoc TTL-expired records
  common/changes/@vielzeug/vault/agent_1783196183263.json
  docs/.vitepress/config.ts
  docs/vault/api.md
  docs/vault/examples/iterate.md
  docs/vault/examples/querying.md
  docs/vault/index.md
  docs/vault/usage.md
  eslint.config.ts
  packages/lingua/scripts/verify-exports.mjs
  packages/vault/src/__tests__/indexeddb.test.ts
  packages/vault/src/adapters/indexeddb.ts
  packages/vault/src/types.ts
  packages/vault/src/versioned-codec.ts
Due: lint:resources, lint:js, test:unit

Path conditions:
  lint:resources: any of: *.{html,json,yml}
  lint:js: any of: *[!.{spec,test}].{[tj]s,[tj]sx}
  test:unit: any of: *.{spec,test}.{[tj]s,[tj]sx}
