Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lefthook.yml:

pre-commit:
  piped: true
  follow: true
  commands:
    lint:resources:
      glob: '*.{html,json,yml}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    lint:js:
      glob: '*[!.{spec,test}].{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest related {staged_files}
    test:unit:
      glob: '*.{spec,test}.{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest {staged_files}

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,md,mdx,html}"
      run: npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

chore(logit): code cleanup
  common/changes/@vielzeug/logit/chore-logit-code-cleanup_2026-02-12-15-15.json
  packages/logit/src/logit.ts
Due: lint:resources, lint:js

chore(logit): code cleanup (#23)
  common/changes/@vielzeug/logit/chore-logit-code-cleanup_2026-02-12-15-15.json
  packages/logit/src/logit.ts
Due: lint:resources, lint:js

chore(i18nit): code cleanup
  common/changes/@vielzeug/i18nit/chore-code-cleanup_2026-02-12-15-25.json
  packages/i18nit/src/i18nit.ts
Due: lint:resources, lint:js

chore(i18nit): code cleanup (#24)
  common/changes/@vielzeug/i18nit/chore-code-cleanup_2026-02-12-15-25.json
  packages/i18nit/src/i18nit.ts
Due: lint:resources, lint:js

chore(formit): code cleanup
  common/changes/@vielzeug/formit/chore-formit-code-cleanup_2026-02-12-17-18.json
  packages/formit/src/formit.ts
Due: lint:resources, lint:js

chore(formit): code cleanup (#25)
  common/changes/@vielzeug/formit/chore-formit-code-cleanup_2026-02-12-17-18.json
  packages/formit/src/formit.ts
Due: lint:resources, lint:js

chore(fetchit): code cleanup
  common/changes/@vielzeug/fetchit/chore-fetchit-code-cleanup_2026-02-12-17-34.json
  packages/fetchit/src/fetchit.test.ts
  packages/fetchit/src/fetchit.ts
Due: lint:resources, lint:js, test:unit

chore(fetchit): code cleanup (#26)
  common/changes/@vielzeug/fetchit/chore-fetchit-code-cleanup_2026-02-12-17-34.json
  packages/fetchit/src/fetchit.test.ts
  packages/fetchit/src/fetchit.ts
Due: lint:resources, lint:js, test:unit

chore(deposit): code cleanup
  common/changes/@vielzeug/deposit/chore-deposit-code-cleanup_2026-02-12-17-48.json
  common/changes/@vielzeug/i18nit/chore-deposit-code-cleanup_2026-02-12-17-48.json
  packages/deposit/src/deposit.ts
  packages/i18nit/src/i18nit.ts
Due: lint:resources, lint:js

chore(deposit): code cleanup (#27)
  common/changes/@vielzeug/deposit/chore-deposit-code-cleanup_2026-02-12-17-48.json
  common/changes/@vielzeug/i18nit/chore-deposit-code-cleanup_2026-02-12-17-48.json
  packages/deposit/src/deposit.ts
  packages/i18nit/src/i18nit.ts
Due: lint:resources, lint:js

feat(stateit): new state lib
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/REPLComponent.vue
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/index.md
  docs/public/logo-stateit.svg
  docs/stateit/api.md
  docs/stateit/examples.md
  docs/stateit/index.md
  docs/stateit/usage.md
  packages/stateit/README.md
  packages/stateit/package.json
  packages/stateit/src/index.ts
  packages/stateit/src/stateit.test.ts
  packages/stateit/src/stateit.ts
  packages/stateit/tsconfig.json
  packages/stateit/vite.config.ts
  packages/stateit/vitest.config.ts
  packages/stateit/vitest.setup.ts
  pnpm-lock.yaml
  rush.json
Due: lint:resources, lint:js, test:unit

feat(stateit): new state lib
  common/changes/@vielzeug/stateit/feat-new-stateit-lib_2026-02-12-21-23.json
  docs/.vitepress/theme/components/REPLComponent.vue
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/stateit/api.md
  docs/stateit/examples.md
  docs/stateit/index.md
  docs/stateit/usage.md
  packages/stateit/README.md
  packages/stateit/src/stateit.test.ts
  packages/stateit/src/stateit.ts
Due: lint:resources, lint:js, test:unit

feat(stateit): fix build
  .github/workflows/release.yml
  common/config/rush/pnpm-lock.yaml
Due: lint:resources

feat(stateit): restore toolkit entry in features list
  docs/index.md
Due: none

feat(stateit): new state lib (#29)
  .github/workflows/release.yml
  common/changes/@vielzeug/stateit/feat-new-stateit-lib_2026-02-12-21-23.json
  common/config/rush/pnpm-lock.yaml
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/REPLComponent.vue
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/index.md
  docs/public/logo-stateit.svg
  docs/stateit/api.md
  docs/stateit/examples.md
  docs/stateit/index.md
  docs/stateit/usage.md
  packages/stateit/README.md
  packages/stateit/package.json
  packages/stateit/src/index.ts
  packages/stateit/src/stateit.test.ts
  packages/stateit/src/stateit.ts
  packages/stateit/tsconfig.json
  packages/stateit/vite.config.ts
  packages/stateit/vitest.config.ts
  packages/stateit/vitest.setup.ts
  pnpm-lock.yaml
  rush.json
Due: lint:resources, lint:js, test:unit

docs: improved overall navigation
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples.ts
  docs/deposit/index.md
  docs/deposit/usage.md
  docs/fetchit/index.md
  docs/fetchit/usage.md
  docs/formit/index.md
  docs/formit/usage.md
  docs/guide/index.md
  docs/i18nit/index.md
  docs/i18nit/usage.md
  docs/index.md
  docs/logit/index.md
  docs/logit/usage.md
  docs/permit/index.md
  docs/permit/usage.md
  docs/stateit/index.md
  docs/stateit/usage.md
  docs/toolkit/index.md
  docs/toolkit/usage.md
  docs/validit/index.md
  docs/validit/usage.md
  docs/wireit/index.md
  docs/wireit/usage.md
Due: lint:js

feat(validit): add UUID validation method to StringSchema
  common/changes/@vielzeug/validit/fix-validit-uuid-with-string_2026-02-13-08-50.json
  packages/validit/src/validit.ts
Due: lint:resources, lint:js

feat(validit): update docs
  docs/validit/api.md
  packages/validit/README.md
Due: none

fix(validit): add UUID validation method to StringSchema (#30)
  common/changes/@vielzeug/validit/fix-validit-uuid-with-string_2026-02-13-08-50.json
  docs/validit/api.md
  packages/validit/README.md
  packages/validit/src/validit.ts
Due: lint:resources, lint:js

docs: improvement to the REPL editor
  docs/.vitepress/theme/components/REPL.vue
  docs/.vitepress/theme/components/REPLComponent.vue
  docs/.vitepress/theme/components/REPLEditor.vue
  docs/.vitepress/theme/components/REPLReference.vue
  docs/.vitepress/theme/index.js
  docs/repl.md
Due: lint:js

feat(routeit): new routeit package
  .github/workflows/release.yml
  common/changes/@vielzeug/routeit/feat-new-routerit-lib_2026-02-13-16-20.json
  common/config/rush/pnpm-lock.yaml
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/REPL.vue
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/guide/index.md
  docs/index.md
  docs/public/logo-routeit.svg
  docs/routeit/api.md
  docs/routeit/examples.md
  docs/routeit/index.md
  docs/routeit/usage.md
  packages/routeit/README.md
  packages/routeit/package.json
  packages/routeit/src/index.ts
  packages/routeit/src/routeit.test.ts
  packages/routeit/src/routeit.ts
  packages/routeit/tsconfig.json
  packages/routeit/vite.config.ts
  packages/routeit/vitest.config.ts
  packages/routeit/vitest.setup.ts
  rush.json
Due: lint:resources, lint:js, test:unit

feat(routeit): update package lock
  pnpm-lock.yaml
Due: none

feat(routeit): new routeit package (#31)
  .github/workflows/release.yml
  common/changes/@vielzeug/routeit/feat-new-routerit-lib_2026-02-13-16-20.json
  common/config/rush/pnpm-lock.yaml
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/REPL.vue
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/guide/index.md
  docs/index.md
  docs/public/logo-routeit.svg
  docs/routeit/api.md
  docs/routeit/examples.md
  docs/routeit/index.md
  docs/routeit/usage.md
  packages/routeit/README.md
  packages/routeit/package.json
  packages/routeit/src/index.ts
  packages/routeit/src/routeit.test.ts
  packages/routeit/src/routeit.ts
  packages/routeit/tsconfig.json
  packages/routeit/vite.config.ts
  packages/routeit/vitest.config.ts
  packages/routeit/vitest.setup.ts
  pnpm-lock.yaml
  rush.json
Due: lint:resources, lint:js, test:unit

feat(elemit): new elemit package
  .github/contributing.md
  common/changes/@vielzeug/craftit/feat-new-elemit-package_2026-02-15-12-06.json
  common/config/rush/pnpm-lock.yaml
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/REPL.vue
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/craftit/api.md
  docs/craftit/examples.md
  docs/craftit/index.md
  docs/craftit/usage.md
  docs/index.md
  docs/public/logo-craftit.svg
  docs/public/logo-explorit.svg
  docs/validit/examples.md
  packages/craftit/README.md
  packages/craftit/package.json
  packages/craftit/src/craftit.test.ts
  packages/craftit/src/craftit.ts
  packages/craftit/src/index.ts
  packages/craftit/tsconfig.json
  packages/craftit/vite.config.ts
  packages/craftit/vitest.config.ts
  packages/craftit/vitest.setup.ts
  rush.json
Due: lint:resources, lint:js, test:unit

feat(craftit): add TypeScript and Vite dependencies
  pnpm-lock.yaml
Due: none

test(craftit): update theme color expectations in tests
  packages/craftit/src/craftit.test.ts
Due: lint:js, test:unit

feat(craftit): new craftit package (#32)
  .github/contributing.md
  common/changes/@vielzeug/craftit/feat-new-elemit-package_2026-02-15-12-06.json
  common/config/rush/pnpm-lock.yaml
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/REPL.vue
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/craftit/api.md
  docs/craftit/examples.md
  docs/craftit/index.md
  docs/craftit/usage.md
  docs/index.md
  docs/public/logo-craftit.svg
  docs/public/logo-explorit.svg
  docs/validit/examples.md
  packages/craftit/README.md
  packages/craftit/package.json
  packages/craftit/src/craftit.test.ts
  packages/craftit/src/craftit.ts
  packages/craftit/src/index.ts
  packages/craftit/tsconfig.json
  packages/craftit/vite.config.ts
  packages/craftit/vitest.config.ts
  packages/craftit/vitest.setup.ts
  pnpm-lock.yaml
  rush.json
Due: lint:resources, lint:js, test:unit

chore(formit): code cleanup and improvements
  common/changes/@vielzeug/formit/chore-update-formit-to-use-formdata_2026-02-15-16-39.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/craftit/api.md
  docs/formit/api.md
  docs/formit/examples.md
  docs/formit/index.md
  docs/formit/usage.md
  docs/stateit/api.md
  packages/formit/README.md
  packages/formit/src/formit.test.ts
  packages/formit/src/formit.ts
Due: lint:resources, lint:js, test:unit

chore(formit): code cleanup and improvements (#33)
  common/changes/@vielzeug/formit/chore-update-formit-to-use-formdata_2026-02-15-16-39.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/craftit/api.md
  docs/formit/api.md
  docs/formit/examples.md
  docs/formit/index.md
  docs/formit/usage.md
  docs/stateit/api.md
  packages/formit/README.md
  packages/formit/src/formit.test.ts
  packages/formit/src/formit.ts
Due: lint:resources, lint:js, test:unit

chore(stateit): code cleanup and improvements
  common/changes/@vielzeug/stateit/chore-stateit-code-cleanup_2026-02-15-17-28.json
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/stateit/api.md
  docs/stateit/examples.md
  docs/stateit/index.md
  docs/stateit/usage.md
  packages/stateit/README.md
  packages/stateit/src/stateit.test.ts
  packages/stateit/src/stateit.ts
Due: lint:resources, lint:js, test:unit

chore(stateit): code cleanup and improvements (#34)
  common/changes/@vielzeug/stateit/chore-stateit-code-cleanup_2026-02-15-17-28.json
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/stateit/api.md
  docs/stateit/examples.md
  docs/stateit/index.md
  docs/stateit/usage.md
  packages/stateit/README.md
  packages/stateit/src/stateit.test.ts
  packages/stateit/src/stateit.ts
Due: lint:resources, lint:js, test:unit

chore(validit): code cleanup and improvements
  common/changes/@vielzeug/validit/chore-validit_2026-02-15-19-12.json
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/validit/api.md
  docs/validit/examples.md
  docs/validit/index.md
  docs/validit/usage.md
  packages/validit/README.md
  packages/validit/src/validit.test.ts
  packages/validit/src/validit.ts
Due: lint:resources, lint:js, test:unit

chore(validit): code cleanup and improvements (#35)
  common/changes/@vielzeug/validit/chore-validit_2026-02-15-19-12.json
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/validit/api.md
  docs/validit/examples.md
  docs/validit/index.md
  docs/validit/usage.md
  packages/validit/README.md
  packages/validit/src/validit.test.ts
  packages/validit/src/validit.ts
Due: lint:resources, lint:js, test:unit

chore(i18nit): code cleanup and improvements
  docs/.vitepress/theme/components/repl/examples.ts
  docs/i18nit/api.md
  docs/i18nit/index.md
  docs/i18nit/usage.md
  packages/i18nit/README.md
  packages/i18nit/src/i18nit.test.ts
  packages/i18nit/src/i18nit.ts
Due: lint:js, test:unit

chore(i18nit): code cleanup and improvements
  common/changes/@vielzeug/i18nit/chore-i18nit-code-cleanup_2026-02-15-20-16.json
Due: lint:resources

chore(i18nit): code cleanup and improvements (#36)
  common/changes/@vielzeug/i18nit/chore-i18nit-code-cleanup_2026-02-15-20-16.json
  docs/.vitepress/theme/components/repl/examples.ts
  docs/i18nit/api.md
  docs/i18nit/index.md
  docs/i18nit/usage.md
  packages/i18nit/README.md
  packages/i18nit/src/i18nit.test.ts
  packages/i18nit/src/i18nit.ts
Due: lint:resources, lint:js, test:unit

fix(i18nit): wrong vue format in the examples
  docs/i18nit/examples.md
Due: none

fix(fetchit): wrong vue format in the examples
  common/changes/@vielzeug/fetchit/chore-fetchit-code-cleanup_2026-02-15-21-08.json
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/fetchit/api.md
  docs/fetchit/examples.md
  docs/fetchit/index.md
  docs/fetchit/usage.md
  packages/fetchit/README.md
  packages/fetchit/src/fetchit.test.ts
  packages/fetchit/src/fetchit.ts
Due: lint:resources, lint:js, test:unit
