Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lefthook.yml:

pre-commit:
  piped: true
  follow: true
  commands:
    lint:resources:
      glob: '*.{html,json,yml}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    lint:js:
      glob: '*[!.{spec,test}].{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest related {staged_files}
    test:unit:
      glob: '*.{spec,test}.{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest {staged_files}

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,md,mdx,html}"
      run: npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

chore: update release pipeline
  .github/workflows/release.yml
Due: lint:resources

chore(release): bump version
  common/changes/@vielzeug/deposit/main_2025-10-22-06-09.json
  common/changes/@vielzeug/fetchit/main_2025-10-22-06-09.json
  common/changes/@vielzeug/logit/main_2025-10-22-06-09.json
  common/changes/@vielzeug/permit/main_2025-10-22-06-09.json
  common/changes/@vielzeug/toolkit/main_2025-10-22-06-09.json
  packages/deposit/CHANGELOG.json
  packages/deposit/CHANGELOG.md
  packages/deposit/package.json
  packages/fetchit/CHANGELOG.json
  packages/fetchit/CHANGELOG.md
  packages/fetchit/package.json
  packages/logit/CHANGELOG.json
  packages/logit/CHANGELOG.md
  packages/logit/package.json
  packages/permit/CHANGELOG.json
  packages/permit/CHANGELOG.md
  packages/permit/package.json
  packages/toolkit/CHANGELOG.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Due: lint:resources

chore: update release pipeline (#4)
  .github/workflows/release.yml
  common/changes/@vielzeug/deposit/main_2025-10-22-06-09.json
  common/changes/@vielzeug/fetchit/main_2025-10-22-06-09.json
  common/changes/@vielzeug/logit/main_2025-10-22-06-09.json
  common/changes/@vielzeug/permit/main_2025-10-22-06-09.json
  common/changes/@vielzeug/toolkit/main_2025-10-22-06-09.json
  packages/deposit/CHANGELOG.json
  packages/deposit/CHANGELOG.md
  packages/deposit/package.json
  packages/fetchit/CHANGELOG.json
  packages/fetchit/CHANGELOG.md
  packages/fetchit/package.json
  packages/logit/CHANGELOG.json
  packages/logit/CHANGELOG.md
  packages/logit/package.json
  packages/permit/CHANGELOG.json
  packages/permit/CHANGELOG.md
  packages/permit/package.json
  packages/toolkit/CHANGELOG.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Due: lint:resources

chore: update release pipeline
  .github/workflows/release.yml
  QUICK_REFERENCE.md
  common/config/rush/.npmrc-publish
  common/config/rush/version-policies.json
  rush.json
Due: lint:resources

chore: fix node version
  rush.json
Due: lint:resources

fix: node version in the test-pr workflow
  .github/workflows/test-pr.yml
Due: lint:resources

fix: update dependencies
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  package.json
  packages/deposit/package.json
  packages/fetchit/package.json
  packages/logit/package.json
  packages/permit/package.json
  packages/toolkit/package.json
  pnpm-lock.yaml
  rush.json
Due: lint:resources

fix: fix test
  packages/toolkit/src/date/__tests__/timeDiff.test.ts
Due: lint:js, test:unit

fix: fix test
  common/changes/@vielzeug/deposit/fix-release_pipeline_2025-12-09-13-54.json
  common/changes/@vielzeug/fetchit/fix-release_pipeline_2025-12-09-13-54.json
  common/changes/@vielzeug/logit/fix-release_pipeline_2025-12-09-13-54.json
  common/changes/@vielzeug/permit/fix-release_pipeline_2025-12-09-13-54.json
  common/changes/@vielzeug/toolkit/fix-release_pipeline_2025-12-09-13-54.json
Due: lint:resources

fix: fix test
  .github/workflows/test-pr.yml
Due: lint:resources

fix: fix test
  common/config/rush/pnpm-lock.yaml
Due: none

fix: fix test
  biome.json
  packages/fetchit/src/fetchit.ts
  packages/toolkit/src/function/__tests__/assert.test.ts
  packages/toolkit/src/math/__tests__/average.test.ts
  packages/toolkit/src/math/__tests__/boil.test.ts
  packages/toolkit/src/object/__tests__/clone.test.ts
  packages/toolkit/src/object/__tests__/diff.test.ts
  packages/toolkit/src/object/merge.ts
  packages/toolkit/src/typed/__tests__/isOdd.test.ts
  packages/toolkit/src/typed/__tests__/isRegex.test.ts
Due: lint:resources, lint:js, test:unit

chore: update release pipeline (#5)
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  .github/workflows/test-pr.yml
  QUICK_REFERENCE.md
  biome.json
  common/changes/@vielzeug/deposit/fix-release_pipeline_2025-12-09-13-54.json
  common/changes/@vielzeug/fetchit/fix-release_pipeline_2025-12-09-13-54.json
  common/changes/@vielzeug/logit/fix-release_pipeline_2025-12-09-13-54.json
  common/changes/@vielzeug/permit/fix-release_pipeline_2025-12-09-13-54.json
  common/changes/@vielzeug/toolkit/fix-release_pipeline_2025-12-09-13-54.json
  common/config/rush/.npmrc-publish
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  package.json
  packages/deposit/package.json
  packages/fetchit/package.json
  packages/fetchit/src/fetchit.ts
  packages/logit/package.json
  packages/permit/package.json
  packages/toolkit/package.json
  packages/toolkit/src/date/__tests__/timeDiff.test.ts
  packages/toolkit/src/function/__tests__/assert.test.ts
  packages/toolkit/src/math/__tests__/average.test.ts
  packages/toolkit/src/math/__tests__/boil.test.ts
  packages/toolkit/src/object/__tests__/clone.test.ts
  packages/toolkit/src/object/__tests__/diff.test.ts
  packages/toolkit/src/object/merge.ts
  packages/toolkit/src/typed/__tests__/isOdd.test.ts
  packages/toolkit/src/typed/__tests__/isRegex.test.ts
  pnpm-lock.yaml
  rush.json
Due: lint:resources, lint:js, test:unit

fix: fix release pipeline
  .github/workflows/release.yml
  docs/RELEASE_GUIDE.md
Due: lint:resources

feat: add dry run release workflow and testing guide
  .github/workflows/release-test.yml
  docs/TESTING_RELEASE.md
Due: lint:resources

fix: fix release pipeline (#6)
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  docs/RELEASE_GUIDE.md
  docs/TESTING_RELEASE.md
Due: lint:resources

fix: update rush and copilot configuration files
  copilot.json
  rush.json
Due: lint:resources

fix: update rush and copilot configuration files (#7)
  copilot.json
  rush.json
Due: lint:resources

fix: add npm authentication setup to release workflows
  .github/workflows/release-test.yml
  .github/workflows/release.yml
Due: lint:resources

fix: add npm authentication setup to release workflows (#8)
  .github/workflows/release-test.yml
  .github/workflows/release.yml
Due: lint:resources

fix: add npm authentication setup to release workflows
  .github/workflows/release.yml
Due: lint:resources

refactor: streamline adapter creation and enhance error handling in Deposit class
  packages/deposit/src/deposit.ts
  packages/deposit/vitest.config.ts
Due: lint:js

test: add comprehensive tests for fetch service and URL building
  packages/fetchit/src/fetchit.test.ts
  packages/fetchit/src/fetchit.ts
Due: lint:js, test:unit

test: enhance permission checks with comprehensive test cases and improve code structure
  packages/permit/src/permit.test.ts
  packages/permit/src/permit.ts
Due: lint:js, test:unit

test: add comprehensive tests for Logit logging methods and configuration
  packages/logit/src/logit.test.ts
  packages/logit/src/logit.ts
Due: lint:js, test:unit

test: add comprehensive tests for Logit logging methods and configuration
  packages/toolkit/src/function/__tests__/assertParams.test.ts
  packages/toolkit/src/function/assertParams.ts
Due: lint:js, test:unit

chore: update dependencies for Vite and Vitest to latest versions
  common/config/rush/pnpm-lock.yaml
  docs/.vitepress/theme/components/REPLComponent.vue
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/toolkit/examples/function.md
  docs/toolkit/examples/function/assertParams.md
  package.json
  packages/deposit/package.json
  packages/fetchit/package.json
  packages/logit/package.json
  packages/permit/package.json
  packages/toolkit/package.json
  packages/toolkit/src/index.ts
  pnpm-lock.yaml
Due: lint:resources, lint:js

docs: enhance documentation
  biome.json
  docs/.vitepress/theme/components/repl/examples.ts
  docs/deposit/index.md
  docs/fetchit/index.md
  docs/logit/index.md
  docs/permit/index.md
  docs/toolkit/api.md
  docs/toolkit/examples/array/group.md
  docs/toolkit/examples/array/map.md
  docs/toolkit/index.md
  docs/toolkit/usage.md
  packages/toolkit/src/array/alternate.ts
  packages/toolkit/src/function/__tests__/assertParams.test.ts
  packages/toolkit/src/function/assertParams.ts
  packages/toolkit/src/function/compose.ts
  packages/toolkit/src/index.ts
  packages/toolkit/src/math/median.ts
  packages/toolkit/src/string/similarity.ts
Due: lint:resources, lint:js, test:unit

docs: enhance documentation
  docs/deposit/index.md
  docs/fetchit/index.md
  docs/logit/index.md
  docs/permit/index.md
  docs/toolkit/index.md
Due: none

chore: update pnpm and devDependencies to latest versions
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  .github/workflows/test-pr.yml
  package.json
  rush.json
Due: lint:resources

chore: update nodeSupportedVersionRange to support Node.js 22.22.0
  rush.json
Due: lint:resources

chore: add minor changes for multiple @vielzeug packages
  common/changes/@vielzeug/deposit/chore-general_improvements_2026-02-02-10-03.json
  common/changes/@vielzeug/fetchit/chore-general_improvements_2026-02-02-10-03.json
  common/changes/@vielzeug/logit/chore-general_improvements_2026-02-02-10-03.json
  common/changes/@vielzeug/permit/chore-general_improvements_2026-02-02-10-03.json
  common/changes/@vielzeug/toolkit/chore-general_improvements_2026-02-02-10-03.json
Due: lint:resources
