Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lint:resources:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  
    '

lint:js:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest related {staged_files}
  
    '

test:unit:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest {staged_files}
  
    '

chore: update fetch mock implementation and enhance type safety in tests
  packages/fetchit/src/fetchit.test.ts
  packages/toolkit/src/function/__tests__/assertParams.test.ts
Due: lint:js, test:unit

chore: update fetch mock implementation and enhance type safety in tests
  pnpm-lock.yaml
Due: none

chore: update fetch mock implementation and enhance type safety in tests
  common/changes/@vielzeug/toolkit/fix-update_npmrc_config_2026-02-02-10-16.json
Due: lint:resources

Fix/update npmrc config (#9)
  .github/workflows/release.yml
  common/changes/@vielzeug/toolkit/fix-update_npmrc_config_2026-02-02-10-16.json
  packages/toolkit/CHANGELOG.md
  packages/toolkit/package.json
Due: lint:resources

fix: correct spelling of "Collision-Resistant" in documentation
  docs/toolkit/examples/random/uuid.md
  docs/toolkit/examples/typed/isRegex.md
Due: none

fix: correct spelling of "Collision-Resistant" in documentation
  .github/workflows/release.yml
Due: lint:resources

chore: update release configuration and add npm publish settings
  .github/workflows/release.yml
  packages/deposit/package.json
  packages/fetchit/package.json
  packages/logit/package.json
  packages/permit/package.json
  packages/toolkit/package.json
Due: lint:resources

docs: fix github link
  docs/.vitepress/config.ts
Due: lint:js

feat: enhance list functionality tests with new features and edge cases
  docs/fetchit/index.md
  docs/fetchit/usage.md
  docs/logit/index.md
  docs/toolkit/examples/array/list.md
  docs/toolkit/examples/function/predict.md
  docs/toolkit/examples/function/retry.md
  docs/toolkit/examples/math/average.md
  docs/toolkit/examples/math/median.md
  packages/toolkit/src/array/__tests__/list.test.ts
  packages/toolkit/src/array/__tests__/map.test.ts
  packages/toolkit/src/array/list.ts
  packages/toolkit/src/types.ts
Due: lint:js, test:unit

feat: add changelog
  common/changes/@vielzeug/deposit/feat-improve_list_2026-02-06-10-55.json
  common/changes/@vielzeug/toolkit/feat-improve_list_2026-02-06-10-55.json
Due: lint:resources

fix: doc sorting
  docs/.vitepress/config.ts
Due: lint:js

feat: enhance fetchit with query and mutation APIs, caching, and improved error handling
  docs/fetchit/api.md
  docs/fetchit/examples.md
  docs/fetchit/index.md
  docs/fetchit/usage.md
  docs/toolkit/api.md
  docs/toolkit/examples/object/cache.md
  packages/fetchit/package.json
  packages/fetchit/src/fetchit.test.ts
  packages/fetchit/src/fetchit.ts
  packages/toolkit/src/index.ts
  packages/toolkit/src/object/__tests__/cache.test.ts
  packages/toolkit/src/object/cache.ts
  pnpm-lock.yaml
Due: lint:resources, lint:js, test:unit

feat: added changelog
  common/changes/@vielzeug/fetchit/feat-improved-fetchit_2026-02-07-05-20.json
  common/changes/@vielzeug/toolkit/feat-improved-fetchit_2026-02-07-05-20.json
Due: lint:resources

feat: added changelog
  packages/fetchit/src/fetchit.test.ts
  packages/fetchit/src/fetchit.ts
  packages/toolkit/src/function/__tests__/parallel.test.ts
  packages/toolkit/src/index.ts
  packages/toolkit/src/object/__tests__/cache.test.ts
  packages/toolkit/src/object/cache.ts
Due: lint:js, test:unit

feat: fix pnpm-lock.yaml out of sync
  common/config/rush/pnpm-lock.yaml
Due: none

feat: enhance fetchit with query and mutation APIs, caching, and improved error handling (#13)
  common/changes/@vielzeug/fetchit/feat-improved-fetchit_2026-02-07-05-20.json
  common/changes/@vielzeug/toolkit/feat-improved-fetchit_2026-02-07-05-20.json
  common/config/rush/pnpm-lock.yaml
  docs/fetchit/api.md
  docs/fetchit/examples.md
  docs/fetchit/index.md
  docs/fetchit/usage.md
  docs/toolkit/api.md
  docs/toolkit/examples/object/cache.md
  packages/fetchit/package.json
  packages/fetchit/src/fetchit.test.ts
  packages/fetchit/src/fetchit.ts
  packages/toolkit/src/function/__tests__/parallel.test.ts
  packages/toolkit/src/index.ts
  packages/toolkit/src/object/__tests__/cache.test.ts
  packages/toolkit/src/object/cache.ts
  pnpm-lock.yaml
Due: lint:resources, lint:js, test:unit

feat: update pnpm-lock.yaml to remove unused dependencies and add new ones for formit
  pnpm-lock.yaml
Due: none

feat: doc improvements
  README.md
  docs/deposit/index.md
  docs/fetchit/index.md
  docs/formit/index.md
  docs/logit/index.md
  docs/permit/index.md
  docs/toolkit/index.md
Due: none

feat: doc improvements
  docs/deposit/examples.md
  docs/deposit/usage.md
  docs/fetchit/examples.md
  docs/fetchit/usage.md
  docs/formit/examples.md
  docs/formit/usage.md
  docs/logit/examples.md
  docs/logit/usage.md
  docs/permit/examples.md
  docs/permit/usage.md
  docs/public/logo-utils.svg
  docs/toolkit/usage.md
Due: none

feat: new i18nit lib
  .github/workflows/release.yml
  common/changes/@vielzeug/i18nit/feat-new-i18nit-lib_2026-02-09-13-07.json
  common/config/rush/pnpm-lock.yaml
  copilot.json
  packages/i18nit/package.json
  packages/i18nit/src/i18nit.test.ts
  packages/i18nit/src/i18nit.ts
  packages/i18nit/src/index.ts
  packages/i18nit/tsconfig.json
  packages/i18nit/vite.config.ts
  packages/i18nit/vitest.config.ts
  packages/i18nit/vitest.setup.ts
  rush.json
Due: lint:resources, lint:js, test:unit

feat: added documentation
  docs/.vitepress/config.ts
  docs/.vitepress/theme/theme.css
  docs/i18nit/api.md
  docs/i18nit/examples.md
  docs/i18nit/index.md
  docs/i18nit/usage.md
  docs/index.md
  docs/public/logo-i18nit.svg
Due: lint:js

feat: update pnpm-lock.yaml with i18nit package dependencies
  pnpm-lock.yaml
Due: none

feat: new i18n lib (#15)
  .github/workflows/release.yml
  common/changes/@vielzeug/i18nit/feat-new-i18nit-lib_2026-02-09-13-07.json
  common/config/rush/pnpm-lock.yaml
  copilot.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/theme.css
  docs/i18nit/api.md
  docs/i18nit/examples.md
  docs/i18nit/index.md
  docs/i18nit/usage.md
  docs/index.md
  docs/public/logo-i18nit.svg
  packages/i18nit/package.json
  packages/i18nit/src/i18nit.test.ts
  packages/i18nit/src/i18nit.ts
  packages/i18nit/src/index.ts
  packages/i18nit/tsconfig.json
  packages/i18nit/vite.config.ts
  packages/i18nit/vitest.config.ts
  packages/i18nit/vitest.setup.ts
  pnpm-lock.yaml
  rush.json
Due: lint:resources, lint:js, test:unit

chore: update README
  QUICK_REFERENCE.md
  README.md
Due: none

chore: update util logo
  docs/public/logo-utils.svg
Due: none

feat: new validit lib
  docs/public/logo-validit.svg
  packages/validit/README.md
  packages/validit/package.json
  packages/validit/src/index.ts
  packages/validit/src/validit.test.ts
  packages/validit/src/validit.ts
  packages/validit/tsconfig.json
  packages/validit/vite.config.ts
  packages/validit/vitest.config.ts
  packages/validit/vitest.setup.ts
Due: lint:resources, lint:js, test:unit

feat: added docs
  docs/.vitepress/config.ts
  docs/index.md
  docs/validit/DOCUMENTATION_SUMMARY.md
  docs/validit/api.md
  docs/validit/examples.md
  docs/validit/index.md
  docs/validit/usage.md
  package.json
  pnpm-lock.yaml
Due: lint:resources, lint:js

feat: fix unit test
  packages/validit/src/validit.test.ts
  packages/validit/vitest.config.ts
Due: lint:js, test:unit

Path conditions:
  lint:resources: any of: *.{html,json,yml}
  lint:js: any of: *[!.{spec,test}].{[tj]s,[tj]sx}
  test:unit: any of: *.{spec,test}.{[tj]s,[tj]sx}
