Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lefthook.yml:

pre-commit:
  piped: true
  follow: true
  commands:
    lint:resources:
      glob: '*.{html,json,yml}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    lint:js:
      glob: '*[!.{spec,test}].{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest related {staged_files}
    test:unit:
      glob: '*.{spec,test}.{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest {staged_files}

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,md,mdx,html}"
      run: npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

feat(buildit): bugfixes and general improvements
  common/changes/@vielzeug/timit/major-release_2026-03-21-00-00.json
  common/config/rush/pnpm-lock.yaml
  docs/.vitepress/config.ts
  docs/index.md
  docs/public/logo-timit.svg
  docs/public/logo-toolkit.svg
  docs/timit/api.md
  docs/timit/examples.md
  docs/timit/examples/dst-safe-arithmetic.md
  docs/timit/examples/locale-formatting.md
  docs/timit/examples/timezone-conversion.md
  docs/timit/index.md
  docs/timit/usage.md
  packages/buildit/GUIDELINE.md
  packages/buildit/src/actions/button/button.css
  packages/buildit/src/form/input/input.css
  packages/buildit/src/styles/theme.css
  packages/timit/README.md
  packages/timit/package.json
  packages/timit/src/index.ts
  packages/timit/src/timit.test.ts
  packages/timit/src/timit.ts
  packages/timit/tsconfig.declarations.json
  packages/timit/tsconfig.json
  packages/timit/vite.config.ts
  packages/timit/vitest.config.ts
  packages/timit/vitest.setup.ts
  pnpm-lock.yaml
  rush.json
Due: lint:resources, lint:js, test:unit

feat(buildit): bugfixes and general improvements
  common/changes/@vielzeug/timit/major-release_2026-03-21-00-00.json
  common/config/rush/pnpm-lock.yaml
  docs/.vitepress/config.ts
  docs/index.md
  docs/public/logo-timit.svg
  docs/public/logo-toolkit.svg
  docs/timit/api.md
  docs/timit/examples.md
  docs/timit/examples/dst-safe-arithmetic.md
  docs/timit/examples/locale-formatting.md
  docs/timit/examples/timezone-conversion.md
  docs/timit/index.md
  docs/timit/usage.md
  packages/buildit/GUIDELINE.md
  packages/buildit/src/actions/button/button.css
  packages/buildit/src/form/input/input.css
  packages/buildit/src/styles/theme.css
  packages/craftit/src/__tests__/reflect.test.ts
  packages/timit/README.md
  packages/timit/package.json
  packages/timit/src/index.ts
  packages/timit/src/timit.test.ts
  packages/timit/src/timit.ts
  packages/timit/tsconfig.declarations.json
  packages/timit/tsconfig.json
  packages/timit/vite.config.ts
  packages/timit/vitest.config.ts
  packages/timit/vitest.setup.ts
  pnpm-lock.yaml
  rush.json
Due: lint:resources, lint:js, test:unit

feat(buildit): bugfixes and general improvements
  docs/.vitepress/config.ts
  docs/craftit/api.md
  docs/craftit/index.md
  docs/craftit/labs.md
  docs/craftit/usage.md
  packages/buildit/src/content/table/table.test.ts
  packages/buildit/src/content/table/table.ts
  packages/buildit/src/types/elements.d.ts
Due: lint:js, test:unit

feat(buildit): bugfixes and general improvements
  docs/buildit/components/sidebar.md
  packages/buildit/src/layout/sidebar/sidebar-group.css
  packages/buildit/src/layout/sidebar/sidebar-item.css
  packages/buildit/src/layout/sidebar/sidebar.css
  packages/buildit/src/layout/sidebar/sidebar.test.ts
  packages/buildit/src/layout/sidebar/sidebar.ts
Due: lint:js, test:unit

feat(buildit): bugfixes and general improvements
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release-all.yml
  .github/workflows/release.yml
  .github/workflows/test-pr.yml
  rush.json
Due: lint:resources

feat(buildit): bugfixes and general improvements
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release-all.yml
  .github/workflows/release.yml
  .github/workflows/test-pr.yml
  common/changes/@vielzeug/timit/major-release_2026-03-21-00-00.json
  common/config/rush/pnpm-lock.yaml
  package.json
  packages/buildit/package.json
  packages/craftit/package.json
  packages/deposit/package.json
  packages/dragit/package.json
  packages/eventit/package.json
  packages/fetchit/package.json
  packages/floatit/package.json
  packages/formit/package.json
  packages/i18nit/package.json
  packages/logit/package.json
  packages/permit/package.json
  packages/routeit/package.json
  packages/stateit/package.json
  packages/timit/package.json
  packages/toolkit/package.json
  packages/validit/package.json
  packages/virtualit/package.json
  packages/wireit/package.json
  packages/workit/package.json
  pnpm-lock.yaml
  rush.json
Due: lint:resources

feat(buildit): bugfixes and general improvements
  rush.json
Due: lint:resources

feat(buildit): bugfixes and general improvements
  .github/workflows/deploy-docs.yml
Due: lint:resources

feat(buildit): bugfixes and general improvements
  docs/.vitepress/theme/components/REPLEditor.vue
Due: none

feat(buildit): update favicon
  docs/public/favicon/apple-touch-icon.png
  docs/public/favicon/favicon-96x96.png
  docs/public/favicon/favicon.ico
  docs/public/favicon/favicon.svg
  docs/public/favicon/site.webmanifest
  docs/public/favicon/web-app-manifest-192x192.png
  docs/public/favicon/web-app-manifest-512x512.png
Due: none

feat(buildit): update logos
  docs/public/logo-buildit.svg
  docs/public/logo-deposit.svg
  docs/public/logo-toolkit.svg
Due: none

chore(craftit): enhance security
  common/changes/@vielzeug/craftit/chore-craftit_improved_security_2026-03-26-05-42.json
  packages/craftit/src/__tests__/directives.test.ts
  packages/craftit/src/__tests__/templates.test.ts
  packages/craftit/src/core/internal.ts
  packages/craftit/src/core/template-compiler.ts
  packages/craftit/src/core/utilities.ts
  packages/craftit/src/directives/each.ts
Due: lint:resources, lint:js, test:unit

chore(craftit): enhance security (#49)
  common/changes/@vielzeug/craftit/chore-craftit_improved_security_2026-03-26-05-42.json
  packages/craftit/src/__tests__/directives.test.ts
  packages/craftit/src/__tests__/templates.test.ts
  packages/craftit/src/core/internal.ts
  packages/craftit/src/core/template-compiler.ts
  packages/craftit/src/core/utilities.ts
  packages/craftit/src/directives/each.ts
Due: lint:resources, lint:js, test:unit

feat: general improvements and bugfixes
  rush.json
Due: lint:resources

feat: general improvements and bugfixes
  common/changes/@vielzeug/buildit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/craftit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/deposit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/dragit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/eventit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/fetchit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/floatit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/formit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/i18nit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/logit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/permit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/routeit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/stateit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/timit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/toolkit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/validit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/virtualit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/wireit/feat-general_improvements_2026-04-04-13-07.json
  common/changes/@vielzeug/workit/feat-general_improvements_2026-04-04-13-07.json
Due: lint:resources

feat: general improvements and bugfixes
  packages/craftit/src/controls/__tests__/a11y-control.test.ts
  packages/craftit/src/controls/__tests__/field-control.test.ts
Due: lint:js, test:unit

feat: general improvements and bugfixes
  packages/craftit/vitest.config.ts
Due: lint:js

feat: general improvements and bugfixes
  packages/buildit/vitest.config.ts
Due: lint:js

feat: general improvements and bugfixes
  docs/craftit/api.md
  docs/craftit/examples/context-provider-and-consumer.md
  docs/craftit/examples/counter-component.md
  docs/craftit/examples/form-associated-rating-input.md
  docs/craftit/examples/observers-in-onmount.md
  docs/craftit/examples/propsof-builder-api.md
  docs/craftit/examples/search-list-with-directives.md
  docs/craftit/examples/typed-props-and-emits.md
  docs/craftit/index.md
  docs/craftit/lifecycle-best-practices.md
  docs/craftit/usage.md
  packages/craftit/src/__tests__/component.test.ts
  packages/craftit/src/__tests__/host.test.ts
  packages/craftit/src/component.ts
  packages/craftit/src/controls/field-control.ts
  packages/craftit/src/directives/each.ts
  packages/craftit/src/host.ts
  packages/craftit/src/internal.ts
  packages/craftit/src/props.ts
  packages/craftit/src/registration.ts
  packages/craftit/src/template-compiler.ts
Due: lint:js, test:unit

feat(stateit): enhance testing and error handling for effects and batching
  docs/craftit/api.md
  docs/craftit/lifecycle-best-practices.md
  docs/craftit/usage.md
  packages/craftit/src/__tests__/component.test.ts
  packages/craftit/src/__tests__/directives.test.ts
  packages/craftit/src/__tests__/host.test.ts
  packages/craftit/src/__tests__/templates.test.ts
  packages/craftit/src/component.ts
  packages/craftit/src/form.ts
  packages/craftit/src/host.ts
  packages/craftit/src/index.ts
  packages/craftit/src/registration.ts
  packages/stateit/src/__tests__/stateit.test.ts
  packages/stateit/src/stateit.ts
Due: lint:js, test:unit

chore: update docs
  docs/.vitepress/config.ts
  docs/craftit/api.md
  docs/craftit/controls.md
  docs/craftit/examples.md
  docs/craftit/examples/context-provider-and-consumer.md
  docs/craftit/examples/counter-component.md
  docs/craftit/examples/form-associated-rating-input.md
  docs/craftit/examples/observers-in-onmount.md
  docs/craftit/examples/propsof-builder-api.md
  docs/craftit/examples/search-list-with-directives.md
  docs/craftit/examples/typed-props-and-emits.md
  docs/craftit/index.md
  docs/craftit/lifecycle-best-practices.md
  docs/craftit/usage.md
  docs/toolkit/api.md
  docs/toolkit/examples/function.md
  docs/toolkit/examples/function/fp.md
  docs/toolkit/examples/math.md
  docs/toolkit/examples/math/distribute.md
  docs/toolkit/examples/money.md
  docs/toolkit/examples/money/currency.md
  packages/buildit/src/disclosure/accordion/accordion.ts
  packages/buildit/src/disclosure/tabs/tabs.ts
  packages/buildit/src/inputs/otp-input/otp-input.ts
  packages/buildit/src/inputs/radio-group/radio-group.ts
  packages/buildit/src/inputs/radio/radio.ts
  packages/craftit/README.md
  packages/craftit/src/component.ts
  packages/craftit/src/controls/index.ts
  packages/craftit/src/controls/list-control.ts
  packages/craftit/src/controls/popup-list-control.ts
  packages/craftit/src/host.ts
  packages/craftit/src/internal.ts
  packages/craftit/src/runtime.ts
  packages/craftit/src/template-compiler.ts
Due: lint:js

chore: update docs
  packages/craftit/src/__tests__/host.test.ts
  packages/craftit/src/component.ts
  packages/craftit/src/controls/__tests__/field-control.test.ts
  packages/craftit/src/controls/a11y-control.ts
  packages/craftit/src/controls/choice-field-control.ts
  packages/craftit/src/controls/field-control.ts
  packages/craftit/src/controls/internal/control-state.ts
  packages/craftit/src/controls/text-field-control.ts
  packages/craftit/src/host.ts
  packages/craftit/src/registration.ts
  packages/craftit/src/runtime.ts
Due: lint:js, test:unit
