Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lint:resources:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  
    '

lint:js:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest related {staged_files}
  
    '

test:unit:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest {staged_files}
  
    '

feat(refine): overall design and feature parity for inputs components
  common/changes/@vielzeug/refine/agent_1784879533727.json
  common/changes/@vielzeug/refine/agent_1784881281414.json
  common/changes/@vielzeug/refine/agent_1784882478234.json
  packages/refine/src/inputs/__tests__/date-picker.test.ts
  packages/refine/src/inputs/combobox/combobox.test.ts
  packages/refine/src/inputs/combobox/combobox.ts
  packages/refine/src/inputs/date-picker/date-picker.ts
  packages/refine/src/inputs/file-input/file-input.css
  packages/refine/src/inputs/file-input/file-input.test.ts
  packages/refine/src/inputs/file-input/file-input.ts
  packages/refine/src/inputs/input/input.css
  packages/refine/src/inputs/input/input.test.ts
  packages/refine/src/inputs/input/input.ts
  packages/refine/src/inputs/message-composer/message-composer.css
  packages/refine/src/inputs/message-composer/message-composer.test.ts
  packages/refine/src/inputs/message-composer/message-composer.ts
  packages/refine/src/inputs/number-input/number-input.css
  packages/refine/src/inputs/number-input/number-input.test.ts
  packages/refine/src/inputs/number-input/number-input.ts
  packages/refine/src/inputs/select/select.test.ts
  packages/refine/src/inputs/select/select.ts
  packages/refine/src/inputs/textarea/textarea.css
  packages/refine/src/inputs/textarea/textarea.test.ts
  packages/refine/src/inputs/textarea/textarea.ts
  packages/refine/src/inputs/time-picker/time-picker.test.ts
  packages/refine/src/inputs/time-picker/time-picker.ts
  packages/refine/src/shared/types.ts
Due: lint:resources, lint:js, test:unit

feat(refine): input variants cleanup
  packages/refine/src/content/list/list.e2e.ts
  packages/refine/src/headless/__tests__/ref-callback.test.ts
  packages/refine/src/headless/index.ts
  packages/refine/src/headless/ref-callback.ts
  packages/refine/src/inputs/file-input/file-input.ts
  packages/refine/src/inputs/input/input.css
  packages/refine/src/inputs/input/input.e2e.ts
  packages/refine/src/inputs/input/input.ts
  packages/refine/src/inputs/message-composer/message-composer.css
  packages/refine/src/inputs/message-composer/message-composer.e2e.ts
  packages/refine/src/inputs/message-composer/message-composer.ts
  packages/refine/src/inputs/number-input/number-input.ts
  packages/refine/src/inputs/otp-input/otp-input.css
  packages/refine/src/inputs/otp-input/otp-input.e2e.ts
  packages/refine/src/inputs/otp-input/otp-input.ts
  packages/refine/src/inputs/shared/index.ts
  packages/refine/src/inputs/shared/templates.ts
  packages/refine/src/inputs/textarea/textarea.css
  packages/refine/src/inputs/textarea/textarea.e2e.ts
  packages/refine/src/inputs/textarea/textarea.ts
  packages/refine/src/styles/index.ts
  packages/refine/src/styles/mixins/field-variants.css.ts
Due: lint:js, test:unit

chore(deps): update package dependencies to latest versions
  demos/kanban/package.json
  demos/kanban/pnpm-lock.yaml
  demos/kanban/pnpm-workspace.yaml
Due: lint:resources

chore: add bundled docs data refresh for @vielzeug/codex
  common/changes/@vielzeug/codex/agent_1784948708405.json
Due: lint:resources

feat: implement auto-change codex script to manage patch change files for docs updates
  .ai/tasks/docs.md
  lefthook.yml
  packages/codex/AGENTS.md
  scripts/AGENTS.md
  scripts/__tests__/auto-change-codex.test.mjs
  scripts/auto-change-codex.mjs
Due: lint:resources

refactor(ripple): move storeWithHistory to /history sub-path; tighten readonly()/resource() typing
  .ai/core/conventions.md
  common/changes/@vielzeug/codex/agent_1784956070971.json
  common/changes/@vielzeug/ripple/agent_1784955981722.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples/ripple/index.ts
  docs/.vitepress/theme/components/repl/examples/ripple/store-history.ts
  docs/ripple/api.md
  docs/ripple/examples/store-history.md
  docs/ripple/index.md
  docs/ripple/usage.md
  packages/ripple/README.md
  packages/ripple/package.json
  packages/ripple/src/__tests__/devtools.test.ts
  packages/ripple/src/__tests__/execution-context.test.ts
  packages/ripple/src/__tests__/history.test.ts
  packages/ripple/src/async-computed.ts
  packages/ripple/src/effect.ts
  packages/ripple/src/execution-context.ts
  packages/ripple/src/history.ts
  packages/ripple/src/index.ts
  packages/ripple/src/scheduling.ts
  packages/ripple/src/ssr/index.ts
  packages/ripple/src/store.ts
  packages/ripple/src/subscription.ts
  packages/ripple/src/symbols.ts
  packages/ripple/src/tracking.ts
  packages/ripple/src/types.ts
  packages/ripple/src/utilities.ts
  packages/ripple/vite.config.ts
Due: lint:resources, lint:js, test:unit

refactor(forge): move snapshot/restore to form.history
  common/changes/@vielzeug/forge/agent_1784981789899.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples/forge/index.ts
  docs/.vitepress/theme/components/repl/examples/forge/validate-stream.ts
  docs/forge/api.md
  docs/forge/index.md
  docs/forge/usage.md
  packages/forge/src/__tests__/devtools.test.ts
  packages/forge/src/__tests__/form/array-fields.test.ts
  packages/forge/src/__tests__/form/errors.test.ts
  packages/forge/src/__tests__/form/scope.test.ts
  packages/forge/src/__tests__/form/security.test.ts
  packages/forge/src/__tests__/form/state-and-values.test.ts
  packages/forge/src/__tests__/form/subscriptions-and-lifecycle.test.ts
  packages/forge/src/__tests__/form/validation-and-submit.test.ts
  packages/forge/src/__tests__/notifier.test.ts
  packages/forge/src/_utils.ts
  packages/forge/src/core/array.ts
  packages/forge/src/core/asyncQueue.ts
  packages/forge/src/core/context.ts
  packages/forge/src/core/fields.ts
  packages/forge/src/core/lifecycle.ts
  packages/forge/src/core/notifier.ts
  packages/forge/src/core/observe.ts
  packages/forge/src/core/scope.ts
  packages/forge/src/core/validation.ts
  packages/forge/src/core/values.ts
  packages/forge/src/errors.ts
  packages/forge/src/form.ts
  packages/forge/src/types.ts
Due: lint:resources, lint:js, test:unit

fix(lingua): warn in dev when t() is called on a plural-branch-only key
  common/changes/@vielzeug/lingua/agent_1785009126566.json
  docs/.vitepress/theme/components/repl/examples/lingua/ssr-hydration.ts
  docs/lingua/api.md
  docs/lingua/index.md
  docs/lingua/usage.md
  packages/lingua/src/__tests__/_bounded-cache.test.ts
  packages/lingua/src/__tests__/_translate.test.ts
  packages/lingua/src/__tests__/errors.test.ts
  packages/lingua/src/__tests__/i18n.fork.test.ts
  packages/lingua/src/__tests__/i18n.lifecycle.test.ts
  packages/lingua/src/__tests__/i18n.locale.test.ts
  packages/lingua/src/__tests__/i18n.namespaces.test.ts
  packages/lingua/src/__tests__/i18n.scope.test.ts
  packages/lingua/src/__tests__/i18n.ssr.test.ts
  packages/lingua/src/__tests__/i18n.subscribe.test.ts
  packages/lingua/src/__tests__/i18n.test.ts
  packages/lingua/src/__tests__/i18n.translate.test.ts
  packages/lingua/src/_bounded-cache.ts
  packages/lingua/src/_catalog-store.ts
  packages/lingua/src/_translate.ts
  packages/lingua/src/format.ts
  packages/lingua/src/i18n-types.ts
  packages/lingua/src/i18n.ts
  packages/lingua/src/index.ts
  packages/lingua/src/validate.ts
Due: lint:resources, lint:js, test:unit

refactor(ore): extract query/event/wait testing primitives into new @vielzeug/assay dependency
  common/changes/@vielzeug/refine/agent_1785039162015.json
  docs/refine/testing.md
  packages/refine/package.json
  packages/refine/src/content/code-window/code-window.ts
  packages/refine/src/content/icon/icon.ts
  packages/refine/src/disclosure/tab-panel/tab-panel.ts
  packages/refine/src/feedback/async/async.ts
  packages/refine/src/feedback/progress/progress.ts
  packages/refine/src/feedback/toast/toast.test.ts
  packages/refine/src/inputs/calendar/calendar.ts
  packages/refine/src/inputs/checkbox-group/checkbox-group.ts
  packages/refine/src/inputs/file-input/file-input.ts
  packages/refine/src/inputs/radio-group/radio-group.ts
  packages/refine/src/testing/__tests__/testing.test.ts
  packages/refine/src/testing/index.ts
  packages/refine/vite.config.ts
  packages/refine/vitest.config.ts
Due: lint:resources, lint:js, test:unit

feat(assay): initial release — framework-agnostic DOM testing primitives
  .ai/data/packages.json
  .ai/reference/packages.md
  CLAUDE.md
  README.md
  common/changes/@vielzeug/assay/agent_1785039257177.json
  common/config/rush/pnpm-lock.yaml
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/HomePage.vue
  docs/assay/api.md
  docs/assay/examples.md
  docs/assay/examples/custom-element-interaction.md
  docs/assay/examples/waiting-for-async-updates.md
  docs/assay/index.md
  docs/assay/usage.md
  docs/guide/index.md
  docs/public/logo-assay.svg
  packages/assay/README.md
  packages/assay/package.json
  packages/assay/src/__tests__/events.test.ts
  packages/assay/src/__tests__/query.test.ts
  packages/assay/src/__tests__/wait.test.ts
  packages/assay/src/_dev.ts
  packages/assay/src/errors.ts
  packages/assay/src/events.ts
  packages/assay/src/index.ts
  packages/assay/src/query.ts
  packages/assay/src/wait.ts
  packages/assay/tsconfig.declarations.json
  packages/assay/tsconfig.json
  packages/assay/vite.bundle.config.ts
  packages/assay/vite.config.ts
  packages/assay/vitest.config.ts
  packages/ore/src/testing/mount.ts
  pnpm-lock.yaml
  rush.json
  scripts/repl-metadata.ts
Due: lint:resources, lint:js, test:unit

fix: kanban demo app
  .gitignore
  demos/kanban/package.json
  demos/kanban/scripts/local-packages.ts
  demos/kanban/scripts/write-local-tsconfig.ts
  demos/kanban/src/ui/app-shell.ts
  demos/kanban/src/ui/components/column.ts
  demos/kanban/src/ui/components/task-card.ts
  demos/kanban/src/ui/components/task-dialog.ts
  demos/kanban/src/ui/views/board.ts
  demos/kanban/src/ui/views/settings.ts
  demos/kanban/vite.config.ts
Due: lint:resources, lint:js

fix(refine): ore-slider no longer forces width:100% by default
  common/changes/@vielzeug/codex/agent_1785208153292.json
  common/changes/@vielzeug/refine/agent_1785176422683.json
  docs/refine/components/slider.md
  packages/refine/src/inputs/slider/slider.css
  packages/refine/src/inputs/slider/slider.ts
Due: lint:resources, lint:js

feat(refine): new stepper component
  common/changes/@vielzeug/refine/agent_1785317007385.json
  docs/.vitepress/config.ts
  docs/refine/accessibility.md
  docs/refine/api.md
  docs/refine/components/stepper.md
  docs/refine/index.md
  packages/refine/package.json
  packages/refine/scripts/refine-manifest.mjs
  packages/refine/src/content/avatar/avatar-group.test.ts
  packages/refine/src/content/avatar/avatar-group.ts
  packages/refine/src/content/avatar/avatar.test.ts
  packages/refine/src/content/avatar/avatar.ts
  packages/refine/src/content/index.ts
  packages/refine/src/content/stepper/_is-step-navigable.ts
  packages/refine/src/content/stepper/step.css
  packages/refine/src/content/stepper/step.test.ts
  packages/refine/src/content/stepper/step.ts
  packages/refine/src/content/stepper/stepper.css
  packages/refine/src/content/stepper/stepper.e2e.ts
  packages/refine/src/content/stepper/stepper.test.ts
  packages/refine/src/content/stepper/stepper.ts
Due: lint:resources, lint:js, test:unit

refactor(ripple): fix sub-path export packaging, add disposalSignal lifecycle contract, deep-freeze store state, compile-time lens path validation
  common/changes/@vielzeug/ripple/agent_1785399416695.json
  docs/clockwork/usage.md
  docs/ripple/api.md
  docs/ripple/examples/store-history.md
  docs/ripple/index.md
  docs/ripple/usage.md
  packages/ripple/README.md
  packages/ripple/package.json
  packages/ripple/scripts/verify-exports.mjs
  packages/ripple/src/__tests__/computed.test.ts
  packages/ripple/src/__tests__/devtools.test.ts
  packages/ripple/src/__tests__/effect.test.ts
  packages/ripple/src/__tests__/history.test.ts
  packages/ripple/src/__tests__/resource.test.ts
  packages/ripple/src/__tests__/scheduling.bench.ts
  packages/ripple/src/__tests__/signal.test.ts
  packages/ripple/src/__tests__/ssr.test.ts
  packages/ripple/src/__tests__/store.test.ts
  packages/ripple/src/_abort-swap.ts
  packages/ripple/src/_deep-freeze.ts
  packages/ripple/src/_dev.ts
  packages/ripple/src/async-computed.ts
  packages/ripple/src/computed.ts
  packages/ripple/src/devtools.ts
  packages/ripple/src/effect.ts
  packages/ripple/src/errors.ts
  packages/ripple/src/execution-context.ts
  packages/ripple/src/history.ts
  packages/ripple/src/index.ts
  packages/ripple/src/scheduling.ts
  packages/ripple/src/signal.ts
  packages/ripple/src/ssr/index.ts
  packages/ripple/src/store.ts
  packages/ripple/src/subscription.ts
  packages/ripple/src/types.ts
  packages/ripple/tsconfig.json
  packages/ripple/vite.config.ts
Due: lint:resources, lint:js, test:unit

chore(lingua): has() is leaf-only by default (use { kind: 'branch' }). isLoaded()/isNamespaceLoaded() now throw on invalid locale tags
  common/changes/@vielzeug/refine/agent_1785317007385.json
Due: lint:resources

refactor(forge) root and scoped forms now share one implementation (createFormView)
  common/changes/@vielzeug/forge/agent_1785443326806.json
  docs/.vitepress/theme/components/repl/examples/forge/dynamic-fields.ts
  docs/.vitepress/theme/components/repl/examples/forge/field-binding.ts
  docs/forge/api.md
  docs/forge/index.md
  docs/forge/usage.md
  packages/forge/src/__tests__/form/errors.test.ts
  packages/forge/src/__tests__/form/scope.test.ts
  packages/forge/src/__tests__/form/state-and-values.test.ts
  packages/forge/src/__tests__/form/subscriptions-and-lifecycle.test.ts
  packages/forge/src/__tests__/form/validation-and-submit.test.ts
  packages/forge/src/__tests__/notifier.test.ts
  packages/forge/src/core/asyncQueue.ts
  packages/forge/src/core/context.ts
  packages/forge/src/core/fields.ts
  packages/forge/src/core/lifecycle.ts
  packages/forge/src/core/notifier.ts
  packages/forge/src/core/observe.ts
  packages/forge/src/core/scope.ts
  packages/forge/src/core/view.ts
  packages/forge/src/errors.ts
  packages/forge/src/form.ts
  packages/forge/src/index.ts
  packages/forge/src/types.ts
Due: lint:resources, lint:js, test:unit

refactor(ore) live() now returns a per-binding wrapper
  common/changes/@vielzeug/ore/agent_1785410876666.json
  packages/ore/AGENTS.md
  packages/ore/package.json
  packages/ore/src/__tests__/host.test.ts
  packages/ore/src/__tests__/templates.test.ts
  packages/ore/src/context.ts
  packages/ore/src/template/compiler.ts
Due: lint:resources, lint:js, test:unit

chore(courier): mutations start at status 'idle'
  .github/workflows/_test-lint.yml
  common/changes/@vielzeug/courier/agent_1785473369306.json
  common/changes/@vielzeug/ore/agent_1785410876666.json
  docs/.vitepress/theme/components/repl/examples/courier/index.ts
  docs/.vitepress/theme/components/repl/examples/courier/query-client-url.ts
  docs/.vitepress/theme/components/repl/examples/courier/sync-store.ts
  docs/courier/api.md
  docs/courier/index.md
  docs/courier/usage.md
  package.json
  packages/courier/README.md
  packages/courier/src/__tests__/api.test.ts
  packages/courier/src/__tests__/mutation.test.ts
  packages/courier/src/__tests__/query.test.ts
  packages/courier/src/__tests__/stream.test.ts
  packages/courier/src/__tests__/sync-store.test.ts
  packages/courier/src/__tests__/transport.test.ts
  packages/courier/src/api.ts
  packages/courier/src/courier.ts
  packages/courier/src/index.ts
  packages/courier/src/mutation.ts
  packages/courier/src/persist.ts
  packages/courier/src/query-cache.ts
  packages/courier/src/query-observe.ts
  packages/courier/src/query.ts
  packages/courier/src/stream-readable.ts
  packages/courier/src/stream-shared.ts
  packages/courier/src/stream-sse.ts
  packages/courier/src/sync-store.ts
  packages/courier/src/types.ts
  packages/flux/vite.config.ts
  packages/lingua/vite.bundle.config.ts
  packages/lingua/vite.config.ts
  packages/ore/vite.bundle.config.ts
  packages/ore/vite.config.ts
  scripts/AGENTS.md
  scripts/verify-prod-gate.mjs
  vite.config.ts
Due: lint:resources, lint:js, test:unit

feat(lingua): createTranslator() — minimal static single-locale factory (t/tp/ti) for per-component catalogs
  common/changes/@vielzeug/lingua/agent_1785498000930.json
  docs/.vitepress/theme/components/repl/examples/lingua/index.ts
  docs/.vitepress/theme/components/repl/examples/lingua/segmented-interpolation.ts
  docs/.vitepress/theme/components/repl/examples/lingua/segmented-plurals.ts
  docs/.vitepress/theme/components/repl/examples/lingua/translator.ts
  docs/lingua/api.md
  docs/lingua/index.md
  docs/lingua/usage.md
  packages/lingua/README.md
  packages/lingua/src/__tests__/i18n.translate.test.ts
  packages/lingua/src/__tests__/translator.test.ts
  packages/lingua/src/_chain.ts
  packages/lingua/src/_translate.ts
  packages/lingua/src/i18n-types.ts
  packages/lingua/src/i18n.ts
  packages/lingua/src/index.ts
  packages/lingua/src/template.ts
  packages/lingua/src/translator.ts
Due: lint:resources, lint:js, test:unit

refactor(assay): replace synthetic user interactions
  common/changes/@vielzeug/assay/agent_1785569489391.json
  docs/assay/api.md
  docs/assay/examples/custom-element-interaction.md
  docs/assay/examples/waiting-for-async-updates.md
  docs/assay/index.md
  docs/assay/usage.md
  packages/assay/README.md
  packages/assay/src/__tests__/events.test.ts
  packages/assay/src/__tests__/query.test.ts
  packages/assay/src/__tests__/wait.test.ts
  packages/assay/src/errors.ts
  packages/assay/src/events.ts
  packages/assay/src/index.ts
  packages/assay/src/query.ts
  packages/assay/src/wait.ts
Due: lint:resources, lint:js, test:unit

refactor(demo): migrate to Ore's root-only runtime API
  README.md
  common/changes/@vielzeug/courier/agent_1785473369306.json
  common/changes/@vielzeug/forge/agent_1785443326806.json
  common/changes/@vielzeug/lingua/agent_1785430869411.json
  common/changes/@vielzeug/lingua/agent_1785498000930.json
  demos/eshop/README.md
  demos/eshop/package.json
  demos/eshop/scripts/local-packages.ts
  demos/eshop/src/main.ts
  demos/eshop/src/ui/app-shell.ts
  demos/eshop/src/ui/components/car-silhouette.ts
  demos/eshop/src/ui/components/compare-drawer.ts
  demos/eshop/src/ui/components/model-card.ts
  demos/eshop/src/ui/components/share-build-dialog.ts
  demos/eshop/src/ui/views/admin.ts
  demos/eshop/src/ui/views/cart.ts
  demos/eshop/src/ui/views/catalog.ts
  demos/eshop/src/ui/views/checkout.ts
  demos/eshop/src/ui/views/model-detail.ts
  demos/eshop/src/ui/views/orders.ts
  demos/eshop/src/ui/views/settings.ts
  demos/kanban/scripts/local-packages.ts
  demos/kanban/src/ui/app-shell.ts
  demos/kanban/src/ui/components/task-card.ts
  demos/kanban/src/ui/components/task-dialog.ts
  demos/kanban/src/ui/views/backlog.ts
  demos/kanban/src/ui/views/board.ts
  demos/kanban/src/ui/views/settings.ts
Due: lint:resources, lint:js

refactor(REPLEditor): update event handling to use target value for example selection
  docs/.vitepress/theme/components/REPLEditor.vue
Due: none

refactor(spell): restrict synchronous parsing for asynchronous schemas
  common/changes/@vielzeug/forge/agent_1785783141442.json
  common/changes/@vielzeug/spell/agent_1785783141394.json
  docs/spell/api.md
  docs/spell/usage.md
  packages/forge/src/spell.ts
  packages/spell/package.json
  packages/spell/src/__tests__/types.test.ts
  packages/spell/src/core.ts
  packages/spell/src/index.ts
  packages/spell/src/schemas/array.ts
  packages/spell/src/schemas/bigint.ts
  packages/spell/src/schemas/boolean.ts
  packages/spell/src/schemas/date.ts
  packages/spell/src/schemas/enum.ts
  packages/spell/src/schemas/instanceof.ts
  packages/spell/src/schemas/intersect.ts
  packages/spell/src/schemas/lazy.ts
  packages/spell/src/schemas/literal.ts
  packages/spell/src/schemas/map.ts
  packages/spell/src/schemas/never.ts
  packages/spell/src/schemas/number.ts
  packages/spell/src/schemas/object.ts
  packages/spell/src/schemas/record.ts
  packages/spell/src/schemas/set.ts
  packages/spell/src/schemas/string.ts
  packages/spell/src/schemas/tuple.ts
  packages/spell/src/schemas/union.ts
  packages/spell/src/schemas/variant.ts
  packages/spell/src/types.ts
Due: lint:resources, lint:js, test:unit

Path conditions:
  lint:resources: any of: *.{html,json,yml}
  lint:js: any of: *[!.{spec,test}].{[tj]s,[tj]sx}
  test:unit: any of: *.{spec,test}.{[tj]s,[tj]sx}
