Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lefthook.yml:

pre-commit:
  piped: true
  follow: true
  commands:
    lint:resources:
      glob: '*.{html,json,yml}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    lint:js:
      glob: '*[!.{spec,test}].{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest related {staged_files}
    test:unit:
      glob: '*.{spec,test}.{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest {staged_files}

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,md,mdx,html}"
      run: npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

chore: general improvements and bugfixes
  docs/.vitepress/plugins/component-preview/plugin.ts
  docs/.vitepress/theme/components/component-preview/useComponentPreview.ts
  package.json
  packages/refine/src/content/carousel/carousel.css
  packages/refine/src/content/carousel/carousel.test.ts
  packages/refine/src/content/carousel/carousel.ts
  packages/refine/src/feedback/badge/badge.css
  packages/refine/src/headless/datagrid.ts
  packages/refine/src/inputs/button/button.css
  packages/refine/src/inputs/combobox/combobox.test.ts
  packages/refine/src/inputs/combobox/combobox.ts
  packages/refine/src/inputs/combobox/combobox.types.ts
  packages/refine/src/inputs/datagrid/datagrid-column.ts
  packages/refine/src/inputs/datagrid/datagrid-controls.test.ts
  packages/refine/src/inputs/datagrid/datagrid-controls.ts
  packages/refine/src/inputs/datagrid/datagrid.css
  packages/refine/src/inputs/datagrid/datagrid.test.ts
  packages/refine/src/inputs/datagrid/datagrid.ts
  packages/refine/tsconfig.json
Due: lint:resources, lint:js, test:unit

fix(docs): manage timers and intervals in `REPLEditor` to prevent resource leaks
  docs/.vitepress/theme/components/REPLEditor.vue
Due: none

test(ripple): general improvements
  packages/ore/src/aria.ts
  packages/ore/src/directives/classMap.ts
  packages/ore/src/directives/raw.ts
  packages/ore/src/directives/styleMap.ts
  packages/ore/src/directives/when.ts
  packages/ore/src/host-bind.ts
  packages/ore/src/template/bindings.ts
  packages/ore/src/template/instantiator.ts
  packages/prism/src/charts/area/area-chart.ts
  packages/prism/src/charts/bar/bar-chart.ts
  packages/prism/src/charts/line/line-chart.ts
  packages/prism/src/charts/pie/pie-chart.ts
  packages/prism/src/charts/sparkline/sparkline.ts
  packages/ripple/src/__tests__/batch.test.ts
  packages/ripple/src/__tests__/computed.test.ts
  packages/ripple/src/__tests__/devtools.test.ts
  packages/ripple/src/__tests__/effect.test.ts
  packages/ripple/src/__tests__/errors.test.ts
  packages/ripple/src/__tests__/resource.test.ts
  packages/ripple/src/__tests__/ripple.test.ts
  packages/ripple/src/__tests__/scope.test.ts
  packages/ripple/src/__tests__/signal.test.ts
  packages/ripple/src/__tests__/ssr.test.ts
  packages/ripple/src/__tests__/store-history.test.ts
  packages/ripple/src/__tests__/store.test.ts
  packages/ripple/src/__tests__/utilities.test.ts
  packages/ripple/src/__tests__/watch.test.ts
  packages/ripple/src/_warn.ts
  packages/ripple/src/async-computed.ts
  packages/ripple/src/computed.ts
  packages/ripple/src/effect.ts
  packages/ripple/src/index.ts
  packages/ripple/src/scheduling.ts
  packages/ripple/src/store-history.ts
  packages/ripple/src/store.ts
  packages/ripple/src/tracking.ts
  packages/ripple/src/utilities.ts
Due: lint:js, test:unit

refactor(sandbox): remove unused files, improve CSP options, and extend sandbox functionality
  docs/.vitepress/config.ts
  docs/sandbox/api.md
  docs/sandbox/examples.md
  docs/sandbox/examples/ai-ui-renderer.md
  docs/sandbox/examples/component-preview.md
  docs/sandbox/examples/embedded-widget.md
  docs/sandbox/examples/user-script-sandbox.md
  docs/sandbox/index.md
  docs/sandbox/usage.md
  packages/sandbox/package.json
  packages/sandbox/src/__tests__/sandbox.test.ts
  packages/sandbox/src/_protocol.ts
  packages/sandbox/src/_sandbox.ts
  packages/sandbox/src/_warn.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/testing.ts
  packages/sandbox/vite.config.ts
Due: lint:resources, lint:js, test:unit

docs: update CLAUDE.md
  .ai/mcp/mcp.json
  .devin/rules/conventions.md
  .devin/workflows/pkg-docs.md
  .devin/workflows/pkg-implement.md
  .devin/workflows/pkg-plan.md
  .devin/workflows/pkg-repl.md
  .devin/workflows/pkg-review.md
  .devin/workflows/pkg-security.md
  .devin/workflows/pkg-spec.md
  .devin/workflows/pkg-tests.md
  .devin/workflows/pkg-workflow.md
  .devin/workflows/runs/AGENTS.md
  .gitignore
  CLAUDE.md
  eslint.config.ts
Due: lint:resources, lint:js

refactor(component-preview): migrate iframe-based rendering to sandbox-based rendering
  docs/.vitepress/theme/components/component-preview/sandboxDoc.ts
  docs/.vitepress/theme/components/component-preview/useComponentPreview.ts
  packages/sandbox/src/_sandbox.ts
Due: lint:js

docs(component-preview): standardize layout with consistent height and vertical alignment adjustments
  docs/refine/components/dialog.md
  docs/refine/components/drawer.md
  docs/refine/components/menu.md
  docs/refine/components/tooltip.md
Due: none

style(carousel): add styling for standalone controls and vertical orientation support
  packages/refine/src/content/carousel/carousel.css
Due: none

refactor(dialog): remove unused `elevationMixin` from styles
  packages/refine/src/overlay/dialog/dialog.ts
Due: lint:js

style(menu-item): remove unused background styles for checkbox and radio items
  packages/refine/src/overlay/menu/menu-item.css
Due: none

refactor(navbar, sidebar): improve integration and external mobile menu handling
  packages/refine/src/layout/navbar/navbar.ts
  packages/refine/src/layout/sidebar/sidebar.test.ts
  packages/refine/src/layout/sidebar/sidebar.ts
Due: lint:js, test:unit

chore: update Node.js version to 22.23.1 in tool-versions and rush.json
  .tool-versions
  rush.json
Due: lint:resources

refactor(actions): update release action
  .github/actions/publish-package/action.yml
  .github/workflows/release-all.yml
  .github/workflows/release.yml
Due: lint:resources

refactor(actions): update release action
  .github/workflows/release-all.yml
  .github/workflows/release.yml
Due: lint:resources

feat(actions): add workflow to publish missing npm versions
  .github/workflows/publish-missing.yml
Due: lint:resources

fix(actions): improve npm token verification in workflows
  .github/workflows/publish-missing.yml
  .github/workflows/release-all.yml
  .github/workflows/release.yml
Due: lint:resources

fix(actions): simplify npm token handling in workflows
  .github/workflows/publish-missing.yml
  .github/workflows/release-all.yml
  .github/workflows/release.yml
Due: lint:resources

fix(actions): simplify npm token handling in workflows
  .github/workflows/publish-missing.yml
Due: lint:resources

fix(actions): simplify npm token handling in workflows (#63)
  .github/workflows/publish-missing.yml
  .github/workflows/release-all.yml
  .github/workflows/release.yml
Due: lint:resources

chore(sandbox): add examples and improve documentation for sandbox features
  .gitignore
  common/changes/@vielzeug/sandbox/main_2026-07-02-04-39.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples/sandbox/build-document.ts
  docs/.vitepress/theme/components/repl/examples/sandbox/error-normalize.ts
  docs/.vitepress/theme/components/repl/examples/sandbox/index.ts
  docs/.vitepress/theme/components/repl/examples/sandbox/render-basic.ts
  docs/.vitepress/theme/components/repl/examples/sandbox/render-state.ts
  docs/.vitepress/theme/components/repl/libraries/index.ts
  docs/.vitepress/theme/components/repl/libraries/sandbox.ts
  docs/.vitepress/theme/components/repl/types/sandbox.ts
  docs/sandbox/api.md
  docs/sandbox/examples.md
  docs/sandbox/examples/ai-ui-renderer.md
  docs/sandbox/examples/component-preview.md
  docs/sandbox/examples/embedded-widget.md
  docs/sandbox/examples/user-script-sandbox.md
  docs/sandbox/index.md
  docs/sandbox/usage.md
  packages/sandbox/README.md
  packages/sandbox/src/__tests__/errors.test.ts
  packages/sandbox/src/__tests__/sandbox.test.ts
  packages/sandbox/src/__tests__/security.test.ts
  packages/sandbox/src/_sandbox.ts
  packages/sandbox/src/_warn.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/testing.ts
  packages/sandbox/src/types.ts
Due: lint:resources, lint:js, test:unit

fix(codex): add examples and improve documentation for sandbox features
  common/changes/@vielzeug/codex/main_2026-07-02-05-32.json
  docs/codex/api.md
  docs/codex/index.md
  packages/codex/README.md
  packages/codex/src/__tests__/cli.test.ts
  packages/codex/src/__tests__/errors.test.ts
  packages/codex/src/__tests__/http.test.ts
  packages/codex/src/__tests__/search.test.ts
  packages/codex/src/__tests__/tools.test.ts
  packages/codex/src/__tests__/unit.test.ts
  packages/codex/src/cli.ts
  packages/codex/src/http.ts
  packages/codex/src/tools.ts
Due: lint:resources, lint:js, test:unit

chore(workflows): update documentation for workflow run artifacts and improve clarity on state management
  .ai/rules/agent-execution.md
  .ai/rules/workspace.md
  .ai/workflows/manifest.json
  .ai/workflows/pkg-docs.md
  .ai/workflows/pkg-implement.md
  .ai/workflows/pkg-plan.md
  .ai/workflows/pkg-repl.md
  .ai/workflows/pkg-review.md
  .ai/workflows/pkg-security.md
  .ai/workflows/pkg-tests.md
  .ai/workflows/pkg-workflow.md
  .ai/workflows/runs/AGENTS.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  lefthook.yml
  package.json
  scripts/sync-workflow-docs.mjs
Due: lint:resources

fix(workflows): prevent writing secrets to tracked .npmrc files in publish workflows
  .github/workflows/publish-missing.yml
  .github/workflows/release-all.yml
  .github/workflows/release.yml
Due: lint:resources

fix(action): allow tar command to fail gracefully when listing contents of packed tarball
  .github/actions/publish-package/action.yml
Due: lint:resources

chore(release): add steps to manage change files for other packages during publish
  .github/workflows/_test-lint.yml
  .github/workflows/release.yml
Due: lint:resources

fix(docs): update documentation for run artifacts and context pointers
  .ai/rules/agent-execution.md
  .ai/rules/workspace.md
  .ai/workflows/manifest.json
  .ai/workflows/pkg-docs.md
  .ai/workflows/pkg-implement.md
  .ai/workflows/pkg-plan.md
  .ai/workflows/pkg-repl.md
  .ai/workflows/pkg-review.md
  .ai/workflows/pkg-security.md
  .ai/workflows/pkg-tests.md
  .ai/workflows/pkg-workflow.md
  .ai/workflows/runs/AGENTS.md
  CLAUDE.md
  scripts/__tests__/sync-workflow-docs.test.mjs
  scripts/sync-workflow-docs.mjs
  scripts/vitest.config.ts
  vitest.config.ts
Due: lint:resources, lint:js

feat(ripple): enhance store patch/replace atomicity, improve resource auto-disposal, and add multi-source support in watch()
  common/changes/@vielzeug/ripple/main_2026-07-02-09-39.json
  docs/.vitepress/theme/components/repl/examples/ripple/index.ts
  docs/.vitepress/theme/components/repl/examples/ripple/scope-setup.ts
  docs/.vitepress/theme/components/repl/examples/ripple/watch-multi-source.ts
  docs/.vitepress/theme/components/repl/types/ripple.ts
  docs/ripple/api.md
  docs/ripple/usage.md
  packages/ripple/README.md
  packages/ripple/src/__tests__/resource.test.ts
  packages/ripple/src/__tests__/ssr.test.ts
  packages/ripple/src/__tests__/store.test.ts
  packages/ripple/src/__tests__/watch.test.ts
  packages/ripple/src/async-computed.ts
  packages/ripple/src/computed.ts
  packages/ripple/src/effect.ts
  packages/ripple/src/scheduling.ts
  packages/ripple/src/ssr/index.ts
  packages/ripple/src/store.ts
  packages/ripple/src/tracking.ts
Due: lint:resources, lint:js, test:unit

feat(sandbox): add onState() subscription API and implement SandboxTimeoutError for render() timeout
  common/changes/@vielzeug/sandbox/main-onstate-generation.json
  common/changes/@vielzeug/sandbox/main-timeout-error.json
  docs/sandbox/api.md
  docs/sandbox/index.md
  docs/sandbox/usage.md
  packages/sandbox/README.md
  packages/sandbox/src/__tests__/sandbox.test.ts
  packages/sandbox/src/__tests__/security.test.ts
  packages/sandbox/src/_sandbox.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/types.ts
Due: lint:resources, lint:js, test:unit

feat(workflow): implement multi-agent worktree management and enhance dependency graph handling
  .ai/rules/workspace.md
  .gitignore
  eslint.config.ts
  package.json
  scripts/__tests__/worktree.test.mjs
  scripts/worktree.mjs
Due: lint:resources, lint:js

fix: rename NPM_AUTH_TOKEN to NODE_AUTH_TOKEN in action.yml and release-all.yml
  .github/actions/publish-package/action.yml
  .github/workflows/release-all.yml
Due: lint:resources

feat: sanitize npm token before verification to prevent whitespace issues
  .github/workflows/publish-missing.yml
  .github/workflows/release-all.yml
  .github/workflows/release.yml
Due: lint:resources

feat: update npm publishing workflow to use Trusted Publishing (OIDC) and remove npm token sanitization
  .github/actions/publish-package/action.yml
  .github/workflows/publish-missing.yml
  .github/workflows/release-all.yml
  .github/workflows/release.yml
Due: lint:resources
