Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lint:resources:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  
    '

lint:js:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest related {staged_files}
  
    '

test:unit:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest {staged_files}
  
    '

fix(fetchit): wrong vue format in the examples (#37)
  common/changes/@vielzeug/fetchit/chore-fetchit-code-cleanup_2026-02-15-21-08.json
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/fetchit/api.md
  docs/fetchit/examples.md
  docs/fetchit/index.md
  docs/fetchit/usage.md
  packages/fetchit/README.md
  packages/fetchit/src/fetchit.test.ts
  packages/fetchit/src/fetchit.ts
Due: lint:resources, lint:js, test:unit

chore(deposit): code cleanup and improvements
  common/changes/@vielzeug/deposit/chore-deposit-code-cleanup_2026-02-15-21-41.json
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/deposit/api.md
  docs/deposit/examples.md
  docs/deposit/index.md
  docs/deposit/usage.md
  packages/deposit/README.md
  packages/deposit/src/deposit.test.ts
  packages/deposit/src/deposit.ts
Due: lint:resources, lint:js, test:unit

chore(deposit): code cleanup and improvements (#38)
  common/changes/@vielzeug/deposit/chore-deposit-code-cleanup_2026-02-15-21-41.json
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/deposit/api.md
  docs/deposit/examples.md
  docs/deposit/index.md
  docs/deposit/usage.md
  packages/deposit/README.md
  packages/deposit/src/deposit.test.ts
  packages/deposit/src/deposit.ts
Due: lint:resources, lint:js, test:unit

docs: update README
  README.md
Due: none

chore(deposit): simplified schema definition
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/deposit/api.md
  docs/deposit/examples.md
  docs/deposit/usage.md
  packages/deposit/README.md
  packages/deposit/src/deposit.test.ts
  packages/deposit/src/deposit.ts
Due: lint:js, test:unit

chore(deposit): simplified schema definition
  .github/contributing.md
  packages/deposit/README.md
  packages/deposit/package.json
  packages/deposit/src/deposit.test.ts
  packages/deposit/src/deposit.ts
  pnpm-lock.yaml
Due: lint:resources, lint:js, test:unit

chore(deposit): simplified schema definition
  common/changes/@vielzeug/deposit/chore-deposit-code-cleanup_2026-02-16-09-23.json
Due: lint:resources

chore(deposit): fix build
  packages/deposit/package.json
  pnpm-lock.yaml
Due: lint:resources

chore(deposit): simplified schema definition (#39)
  .github/contributing.md
  common/changes/@vielzeug/deposit/chore-deposit-code-cleanup_2026-02-16-09-23.json
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/deposit/api.md
  docs/deposit/examples.md
  docs/deposit/usage.md
  packages/deposit/README.md
  packages/deposit/package.json
  packages/deposit/src/deposit.test.ts
  packages/deposit/src/deposit.ts
  pnpm-lock.yaml
Due: lint:resources, lint:js, test:unit

docs: update README
  README.md
  common/changes/@vielzeug/craftit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/deposit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/fetchit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/formit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/i18nit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/logit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/permit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/routeit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/stateit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/toolkit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/validit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/wireit/docs-update-README-files_2026-02-16-10-12.json
  packages/craftit/README.md
  packages/deposit/README.md
  packages/deposit/package.json
  packages/fetchit/README.md
  packages/formit/README.md
  packages/i18nit/README.md
  packages/logit/README.md
  packages/permit/README.md
  packages/routeit/README.md
  packages/stateit/README.md
  packages/toolkit/README.md
  packages/validit/README.md
  packages/wireit/README.md
Due: lint:resources

docs: update README (#40)
  README.md
  common/changes/@vielzeug/craftit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/deposit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/fetchit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/formit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/i18nit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/logit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/permit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/routeit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/stateit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/toolkit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/validit/docs-update-README-files_2026-02-16-10-12.json
  common/changes/@vielzeug/wireit/docs-update-README-files_2026-02-16-10-12.json
  packages/craftit/README.md
  packages/deposit/README.md
  packages/deposit/package.json
  packages/fetchit/README.md
  packages/formit/README.md
  packages/i18nit/README.md
  packages/logit/README.md
  packages/permit/README.md
  packages/routeit/README.md
  packages/stateit/README.md
  packages/toolkit/README.md
  packages/validit/README.md
  packages/wireit/README.md
Due: lint:resources

chore(fetchit): update HTTP client to support query and path parameters
  common/changes/@vielzeug/fetchit/chore-featchit-query-vs-params-issue_2026-02-16-10-55.json
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/fetchit/api.md
  docs/fetchit/examples.md
  docs/fetchit/usage.md
  packages/fetchit/README.md
  packages/fetchit/src/fetchit.test.ts
  packages/fetchit/src/fetchit.ts
Due: lint:resources, lint:js, test:unit

chore(fetchit): update HTTP client to support query and path parameters (#41)
  common/changes/@vielzeug/fetchit/chore-featchit-query-vs-params-issue_2026-02-16-10-55.json
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/fetchit/api.md
  docs/fetchit/examples.md
  docs/fetchit/usage.md
  packages/fetchit/README.md
  packages/fetchit/src/fetchit.test.ts
  packages/fetchit/src/fetchit.ts
Due: lint:resources, lint:js, test:unit

Delete common/changes/@vielzeug/fetchit/chore-featchit-query-vs-params-issue_2026-02-16-10-55.json
  common/changes/@vielzeug/fetchit/chore-featchit-query-vs-params-issue_2026-02-16-10-55.json
Due: lint:resources

docs: added favicon
  docs/.vitepress/config.ts
  docs/.vitepress/theme/theme.css
  docs/public/favicon/apple-touch-icon.png
  docs/public/favicon/favicon-96x96.png
  docs/public/favicon/favicon.ico
  docs/public/favicon/favicon.svg
  docs/public/favicon/site.webmanifest
  docs/public/favicon/web-app-manifest-192x192.png
  docs/public/favicon/web-app-manifest-512x512.png
Due: lint:js

chore(fetchit): update HTTP client to support query and path parameters
  common/changes/@vielzeug/fetchit/chore-featchit-query-vs-params-issue_2026-02-16-10-55.json
Due: lint:resources

docs: update CONTRIBUTION
  .github/contributing.md
Due: none

ci: enhance caching strategy in CI workflows
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
Due: lint:resources

docs: update base url
  docs/.vitepress/config.ts
  docs/guide/index.md
  docs/index.md
Due: lint:js

feat(i18n): support nested message objects and improve loader type
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/i18nit/api.md
  docs/i18nit/examples.md
  docs/i18nit/index.md
  docs/i18nit/usage.md
  packages/i18nit/README.md
  packages/i18nit/src/i18nit.test.ts
  packages/i18nit/src/i18nit.ts
Due: lint:js, test:unit

feat(i18n): added change file
  common/changes/@vielzeug/i18nit/fix-i18nit-fix-nested-messages_2026-02-16-21-07.json
Due: lint:resources

feat(i18n): fix linter errors
  packages/i18nit/src/i18nit.test.ts
  packages/i18nit/src/i18nit.ts
Due: lint:js, test:unit

feat(i18n): fix linter errors
  packages/i18nit/src/i18nit.test.ts
Due: lint:js, test:unit

feat(i18n): support nested message objects and improve loader type (#44)
  common/changes/@vielzeug/i18nit/fix-i18nit-fix-nested-messages_2026-02-16-21-07.json
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/i18nit/api.md
  docs/i18nit/examples.md
  docs/i18nit/index.md
  docs/i18nit/usage.md
  packages/i18nit/README.md
  packages/i18nit/src/i18nit.test.ts
  packages/i18nit/src/i18nit.ts
Due: lint:resources, lint:js, test:unit

docs: update DOCS
  common/changes/@vielzeug/deposit/docs-update-docs_2026-02-17-05-40.json
  common/changes/@vielzeug/fetchit/docs-update-docs_2026-02-17-05-40.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/PackageInfo.vue
  docs/craftit/index.md
  docs/craftit/usage.md
  docs/deposit/index.md
  docs/fetchit/index.md
  docs/formit/index.md
  docs/formit/usage.md
  docs/guide/index.md
  docs/i18nit/api.md
  docs/i18nit/index.md
  docs/i18nit/usage.md
  docs/logit/index.md
  docs/logit/usage.md
  docs/permit/index.md
  docs/routeit/index.md
  docs/routeit/usage.md
  docs/stateit/index.md
  docs/toolkit/index.md
  docs/validit/index.md
  docs/validit/usage.md
  docs/wireit/index.md
  packages/deposit/src/deposit.test.ts
  packages/fetchit/package.json
  packages/fetchit/src/fetchit.test.ts
Due: lint:resources, lint:js, test:unit

docs: update DOCS
  docs/craftit/index.md
  docs/i18nit/index.md
  docs/routeit/index.md
  docs/stateit/index.md
  docs/toolkit/index.md
  docs/validit/index.md
  docs/wireit/index.md
Due: none

docs: update README
  common/changes/@vielzeug/craftit/docs-update-docs_2026-02-17-06-08.json
  common/changes/@vielzeug/formit/docs-update-docs_2026-02-17-06-08.json
  common/changes/@vielzeug/i18nit/docs-update-docs_2026-02-17-06-08.json
  common/changes/@vielzeug/logit/docs-update-docs_2026-02-17-06-08.json
  common/changes/@vielzeug/permit/docs-update-docs_2026-02-17-06-08.json
  common/changes/@vielzeug/routeit/docs-update-docs_2026-02-17-06-08.json
  common/changes/@vielzeug/stateit/docs-update-docs_2026-02-17-06-08.json
  packages/craftit/README.md
  packages/deposit/README.md
  packages/formit/README.md
  packages/i18nit/README.md
  packages/logit/README.md
  packages/permit/README.md
  packages/routeit/README.md
  packages/stateit/README.md
Due: lint:resources

docs: update package-lock
  common/config/rush/pnpm-lock.yaml
Due: none

docs: update package-lock
  pnpm-lock.yaml
Due: none

chore(stateit): code cleanup
  common/changes/@vielzeug/stateit/chore-stateit-code-cleanup_2026-02-17-09-40.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/REPL.vue
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/guide/index.md
  docs/i18nit/index.md
  docs/stateit/api.md
  docs/stateit/examples.md
  docs/stateit/index.md
  docs/stateit/usage.md
  packages/stateit/README.md
  packages/stateit/src/stateit.test.ts
  packages/stateit/src/stateit.ts
Due: lint:resources, lint:js, test:unit

feat(stateit): added transaction and computed
  common/changes/@vielzeug/stateit/chore-stateit-code-cleanup_2026-02-17-09-40.json
  docs/.vitepress/theme/components/REPL.vue
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/index.md
  docs/stateit/api.md
  docs/stateit/examples.md
  docs/stateit/index.md
  docs/stateit/usage.md
  packages/stateit/README.md
  packages/stateit/src/stateit.test.ts
  packages/stateit/src/stateit.ts
Due: lint:resources, lint:js, test:unit

feat(stateit): added transaction and computed (#46)
  common/changes/@vielzeug/stateit/chore-stateit-code-cleanup_2026-02-17-09-40.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/REPL.vue
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/guide/index.md
  docs/i18nit/index.md
  docs/index.md
  docs/stateit/api.md
  docs/stateit/examples.md
  docs/stateit/index.md
  docs/stateit/usage.md
  packages/stateit/README.md
  packages/stateit/src/stateit.test.ts
  packages/stateit/src/stateit.ts
Due: lint:resources, lint:js, test:unit

docs: update docs for stateit
  docs/.vitepress/theme/components/repl/types.ts
  docs/stateit/api.md
  docs/stateit/examples.md
  docs/stateit/index.md
  docs/stateit/usage.md
Due: none

Path conditions:
  lint:resources: any of: *.{html,json,yml}
  lint:js: any of: *[!.{spec,test}].{[tj]s,[tj]sx}
  test:unit: any of: *.{spec,test}.{[tj]s,[tj]sx}
