Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lint:resources:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  
    '

lint:js:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest related {staged_files}
  
    '

test:unit:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest {staged_files}
  
    '

fix(deposit): resolve TypeScript type inference failures
  packages/deposit/src/__tests__/plugins.test.ts
  packages/deposit/src/__tests__/ttl.test.ts
  packages/deposit/src/adapter-core.ts
  packages/deposit/src/adapters/webstorage.ts
  packages/deposit/src/ttl.ts
  packages/deposit/src/types.ts
Due: lint:js, test:unit

docs(deposit): rewrite docs for current implementation
  docs/deposit/api.md
  docs/deposit/examples/advanced-examples.md
  docs/deposit/examples/basic-examples.md
  docs/deposit/index.md
  docs/deposit/usage.md
  packages/deposit/README.md
Due: none

refactor(deposit): rename deleteByKeys → deleteMany on CoreStorageOps
  docs/.vitepress/theme/components/repl/types/deposit.ts
  docs/deposit/api.md
  docs/deposit/examples/basic-examples.md
  docs/deposit/index.md
  docs/deposit/usage.md
  packages/deposit/src/__tests__/indexeddb.test.ts
  packages/deposit/src/__tests__/localstorage.test.ts
  packages/deposit/src/__tests__/memory.test.ts
  packages/deposit/src/__tests__/plugins.test.ts
  packages/deposit/src/__tests__/sessionstorage.test.ts
  packages/deposit/src/adapter-core.ts
  packages/deposit/src/adapters/indexeddb.ts
  packages/deposit/src/adapters/memory.ts
  packages/deposit/src/adapters/webstorage.ts
  packages/deposit/src/internal.ts
  packages/deposit/src/types.ts
Due: lint:js, test:unit

docs(deposit): update documentation for batch scope and validation interfaces
  docs/deposit/api.md
  docs/deposit/examples/advanced-examples.md
  docs/deposit/usage.md
  packages/deposit/src/__tests__/indexeddb.test.ts
  packages/deposit/src/__tests__/memory.test.ts
  packages/deposit/src/__tests__/plugins.test.ts
  packages/deposit/src/adapter-core.ts
  packages/deposit/src/adapters/indexeddb.ts
  packages/deposit/src/index.ts
  packages/deposit/src/plugins.ts
  packages/deposit/src/types.ts
Due: lint:js, test:unit

feat(deposit): add getMany method for bulk key lookups and implement reactive signals
  docs/deposit/api.md
  docs/deposit/examples/advanced-examples.md
  docs/deposit/examples/basic-examples.md
  docs/deposit/index.md
  docs/deposit/usage.md
  packages/deposit/src/__tests__/features.test.ts
  packages/deposit/src/adapter-core.ts
  packages/deposit/src/adapters/indexeddb.ts
  packages/deposit/src/adapters/memory.ts
  packages/deposit/src/adapters/webstorage.ts
  packages/deposit/src/index.ts
  packages/deposit/src/plugins.ts
  packages/deposit/src/types.ts
Due: lint:js, test:unit

feat(deposit): implement pruneExpired methods for IndexedDB and localStorage to remove expired records
  packages/deposit/src/__tests__/features.test.ts
  packages/deposit/src/__tests__/indexeddb.test.ts
  packages/deposit/src/__tests__/localstorage.test.ts
  packages/deposit/src/__tests__/memory.test.ts
  packages/deposit/src/__tests__/plugins.test.ts
  packages/deposit/src/__tests__/query.test.ts
  packages/deposit/src/__tests__/ttl.test.ts
  packages/deposit/src/adapter-core.ts
  packages/deposit/src/adapters/indexeddb.ts
  packages/deposit/src/adapters/memory.ts
  packages/deposit/src/adapters/webstorage.ts
  packages/deposit/src/index.ts
  packages/deposit/src/internal.ts
  packages/deposit/src/prune.ts
  packages/deposit/src/query.ts
  packages/deposit/src/ttl.ts
  packages/deposit/src/types.ts
Due: lint:js, test:unit

feat(deposit): add input validation for createIndexedDB and enhance deleteMany behavior
  docs/.vitepress/theme/components/repl/examples/deposit/bulk-operations.ts
  docs/.vitepress/theme/components/repl/examples/deposit/cache-first.ts
  docs/.vitepress/theme/components/repl/examples/deposit/index.ts
  docs/.vitepress/theme/components/repl/examples/deposit/indexed-db.ts
  docs/.vitepress/theme/components/repl/examples/deposit/reactive-observe.ts
  docs/.vitepress/theme/components/repl/examples/deposit/ttl-expiration.ts
  docs/.vitepress/theme/components/repl/types/deposit.ts
  docs/deposit/api.md
  docs/deposit/examples/advanced-examples.md
  docs/deposit/examples/basic-examples.md
  docs/deposit/index.md
  docs/deposit/usage.md
  packages/deposit/README.md
  packages/deposit/src/__tests__/indexeddb.test.ts
  packages/deposit/src/__tests__/localstorage.test.ts
  packages/deposit/src/__tests__/memory.test.ts
  packages/deposit/src/adapter-core.ts
  packages/deposit/src/adapters/indexeddb.ts
  packages/deposit/src/adapters/memory.ts
  packages/deposit/src/adapters/webstorage.ts
  packages/deposit/src/errors.ts
  packages/deposit/src/index.ts
  packages/deposit/src/internal.ts
  packages/deposit/src/plugins.ts
  packages/deposit/src/ttl.ts
  packages/deposit/src/types.ts
Due: lint:js, test:unit

fix(deposit): address all PR review findings
  packages/deposit/src/__tests__/features.test.ts
  packages/deposit/src/adapter-core.ts
  packages/deposit/src/adapters/indexeddb.ts
  packages/deposit/src/adapters/webstorage.ts
  packages/deposit/src/internal.ts
  packages/deposit/src/types.ts
Due: lint:js, test:unit

fix(deposit): address second-round PR review findings
  packages/deposit/src/__tests__/features.test.ts
  packages/deposit/src/__tests__/memory.test.ts
  packages/deposit/src/adapter-core.ts
  packages/deposit/src/adapters/indexeddb.ts
Due: lint:js, test:unit

fix(deposit): address third-round PR review findings
  packages/deposit/src/__tests__/memory.test.ts
  packages/deposit/src/adapters/indexeddb.ts
Due: lint:js, test:unit

chore(deposit): add rush change file for feat/deposit_improvements
  common/changes/@vielzeug/deposit/feat-deposit_improvements-1779338435.json
Due: lint:resources

refactor(machinit): implement DX improvements from review
  packages/buildit/src/headless/a11y-host.ts
  packages/buildit/src/headless/checkable.ts
  packages/buildit/src/headless/choice-field.ts
  packages/buildit/src/headless/composite.ts
  packages/buildit/src/headless/field-base.ts
  packages/buildit/src/headless/index.ts
  packages/buildit/src/headless/nav.ts
  packages/buildit/src/headless/option-list.ts
  packages/buildit/src/headless/scope.ts
  packages/buildit/src/headless/text-field.ts
  packages/buildit/src/headless/utils.ts
  packages/buildit/src/inputs/checkbox/checkbox.ts
  packages/buildit/src/inputs/combobox/combobox.ts
  packages/buildit/src/inputs/input/input.ts
  packages/buildit/src/inputs/radio/radio.ts
  packages/buildit/src/inputs/select/select.ts
  packages/buildit/src/inputs/shared/use-field.ts
  packages/buildit/src/inputs/switch/switch.ts
  packages/buildit/src/inputs/textarea/textarea.ts
  packages/machinit/package.json
  packages/machinit/src/__tests__/machinit.test.ts
  packages/machinit/src/index.ts
  packages/machinit/tsconfig.declarations.json
  packages/machinit/tsconfig.json
  packages/machinit/vite.config.ts
  packages/machinit/vitest.config.ts
  packages/machinit/vitest.setup.ts
  pnpm-lock.yaml
  rush.json
Due: lint:resources, lint:js, test:unit

refactor(machinit): implement Round 2 architectural improvements
  packages/buildit/src/inputs/combobox/combobox.ts
  packages/machinit/src/__tests__/machinit.test.ts
  packages/machinit/src/index.ts
Due: lint:js, test:unit

refactor(machinit): implement Round 3 polish improvements
  packages/machinit/src/__tests__/machinit.test.ts
  packages/machinit/src/index.ts
Due: lint:js, test:unit

feat: buildit refactory
  packages/buildit/src/inputs/combobox/combobox.ts
Due: lint:js

refactor(craftit): Round 1 comprehensive improvements
  packages/craftit/package.json
  packages/craftit/src/context.ts
  packages/craftit/src/directives/styleMap.ts
  packages/craftit/src/form.ts
  packages/craftit/src/host-bind.ts
  packages/craftit/src/host.ts
  packages/craftit/src/index.ts
  packages/craftit/src/internal.ts
  packages/craftit/src/props.ts
  packages/craftit/src/registration.ts
  packages/craftit/src/runtime.ts
  packages/craftit/src/slots.ts
  packages/craftit/src/template-bindings.ts
  packages/craftit/src/template-compiler.ts
  packages/craftit/src/testing/testing.ts
  packages/craftit/src/utils/css.ts
  packages/craftit/src/utils/dom.ts
  packages/craftit/src/utils/emit.ts
  packages/machinit/src/__tests__/machinit.test.ts
  packages/machinit/src/index.ts
Due: lint:resources, lint:js, test:unit

refactor(machinit): enhance machine definition and event handling
  packages/craftit/src/directives/each.ts
  packages/craftit/src/directives/raw.ts
  packages/craftit/src/directives/when.ts
  packages/craftit/src/host-bind.ts
  packages/craftit/src/index.ts
  packages/craftit/src/props.ts
  packages/craftit/src/registration.ts
  packages/craftit/src/template-bindings.ts
  packages/craftit/src/template-compiler.ts
  packages/craftit/src/testing/testing.ts
  packages/craftit/src/utils/css.ts
  packages/craftit/src/utils/emit.ts
  packages/machinit/src/__tests__/machinit.test.ts
  packages/machinit/src/index.ts
Due: lint:js, test:unit

refactor: general improvements
  .github/copilot/pkg-plan.prompt.md
  .windsurf/workflows/pkg-plan.md
  CLAUDE.md
  packages/clockwork/vitest.config.ts
  packages/familiar/vitest.config.ts
  packages/forge/src/__tests__/adapters/react.test.ts
  packages/forge/src/__tests__/form/array-fields.test.ts
  packages/grip/src/__tests__/drop-zone.test.ts
  packages/orbit/vitest.config.ts
  packages/ripple/src/ssr/index.ts
  packages/scroll/vitest.config.ts
  packages/spell/vitest.config.ts
  packages/tempo/vitest.config.ts
Due: lint:js, test:unit

refactor: general improvements
  common/config/rush/version-policies.json
Due: lint:resources

fix: added change files for patch release
  common/changes/@vielzeug/arsenal/2026-06-02-19-18.json
  common/changes/@vielzeug/clockwork/2026-06-02-19-18.json
  common/changes/@vielzeug/codex/2026-06-02-19-18.json
  common/changes/@vielzeug/coins/2026-06-02-19-18.json
  common/changes/@vielzeug/conduit/2026-06-02-19-18.json
  common/changes/@vielzeug/courier/2026-06-02-19-18.json
  common/changes/@vielzeug/craft/2026-06-02-19-18.json
  common/changes/@vielzeug/familiar/2026-06-02-19-18.json
  common/changes/@vielzeug/forge/2026-06-02-19-18.json
  common/changes/@vielzeug/grip/2026-06-02-19-18.json
  common/changes/@vielzeug/herald/2026-06-02-19-18.json
  common/changes/@vielzeug/lingua/2026-06-02-19-18.json
  common/changes/@vielzeug/orbit/2026-06-02-19-18.json
  common/changes/@vielzeug/ripple/2026-06-02-19-18.json
  common/changes/@vielzeug/rune/2026-06-02-19-18.json
  common/changes/@vielzeug/scroll/2026-06-02-19-18.json
  common/changes/@vielzeug/sigil/2026-06-02-19-18.json
  common/changes/@vielzeug/sourcerer/2026-06-02-19-18.json
  common/changes/@vielzeug/spell/2026-06-02-19-18.json
  common/changes/@vielzeug/tempo/2026-06-02-19-18.json
  common/changes/@vielzeug/vault/2026-06-02-19-18.json
  common/changes/@vielzeug/ward/2026-06-02-19-18.json
  common/changes/@vielzeug/wayfinder/2026-06-02-19-18.json
Due: lint:resources

chore: minor doc cleanup
  docs/clockwork/api.md
  docs/clockwork/examples.md
  docs/clockwork/examples/paginated-data-loading.md
  docs/clockwork/examples/permission-based-access.md
  docs/clockwork/index.md
  docs/clockwork/usage.md
Due: none

feat: new sigil components
  docs/sigil/components/async.md
  docs/sigil/components/datagrid.md
  docs/sigil/components/table.md
  packages/craft/src/__tests__/component-props.test.ts
  packages/craft/src/props.ts
  packages/sigil/package.json
  packages/sigil/src/content/index.ts
  packages/sigil/src/content/table/table.css
  packages/sigil/src/content/table/table.test.ts
  packages/sigil/src/content/table/table.ts
  packages/sigil/src/headless/datagrid.ts
  packages/sigil/src/headless/index.ts
  packages/sigil/src/inputs/datagrid/datagrid-nav.ts
  packages/sigil/src/inputs/datagrid/datagrid.css
  packages/sigil/src/inputs/datagrid/datagrid.test.ts
  packages/sigil/src/inputs/datagrid/datagrid.ts
  packages/sigil/src/inputs/select/select.css
  packages/sigil/src/styles/index.ts
  packages/sigil/src/styles/layer.css
  packages/sigil/src/styles/mixins/table-base.css.ts
Due: lint:resources, lint:js, test:unit

feat: new sigil components
  docs/.vitepress/config.ts
  docs/sigil/components/carousel.md
  docs/sigil/components/datagrid.md
  packages/sigil/src/content/carousel/carousel.css
  packages/sigil/src/content/carousel/carousel.test.ts
  packages/sigil/src/content/carousel/carousel.ts
  packages/sigil/src/content/index.ts
  packages/sigil/src/content/table/table.ts
  packages/sigil/src/headless/datagrid.ts
  packages/sigil/src/inputs/datagrid/datagrid-column.ts
  packages/sigil/src/inputs/datagrid/datagrid.css
  packages/sigil/src/inputs/datagrid/datagrid.test.ts
  packages/sigil/src/inputs/datagrid/datagrid.ts
  packages/sigil/src/styles/mixins/table-base.css.ts
Due: lint:js, test:unit

Path conditions:
  lint:resources: any of: *.{html,json,yml}
  lint:js: any of: *[!.{spec,test}].{[tj]s,[tj]sx}
  test:unit: any of: *.{spec,test}.{[tj]s,[tj]sx}
