Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lint:resources:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  
    '

lint:js:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest related {staged_files}
  
    '

test:unit:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest {staged_files}
  
    '

chore: general improvements
  packages/buildit/src/inputs/combobox/combobox.test.ts
  packages/buildit/src/inputs/combobox/combobox.ts
  packages/deposit/src/adapters/indexeddb.ts
  packages/dragit/src/dragit.ts
  packages/fetchit/src/__tests__/api.test.ts
  packages/fetchit/src/__tests__/query.test.ts
  packages/fetchit/src/__tests__/retry.test.ts
  packages/formit/src/__tests__/adapters/to-form-data.test.ts
  packages/i18nit/src/__tests__/format.test.ts
  packages/i18nit/src/__tests__/i18n.test.ts
  packages/logit/src/logit.ts
  packages/permit/src/__tests__/factory.test.ts
  packages/routeit/src/__tests__/lazy.test.ts
  packages/routeit/src/__tests__/matching.test.ts
  packages/routeit/src/__tests__/setup.ts
  packages/routeit/src/middleware.ts
  packages/routeit/src/router-internal.ts
  packages/routeit/src/router.ts
  packages/stateit/src/__tests__/stateit.test.ts
  packages/stateit/src/stateit.ts
  packages/toolkit/src/async/attempt.ts
  packages/toolkit/src/money/currency.ts
  packages/validit/src/__tests__/core-check.test.ts
  packages/validit/src/__tests__/core-modifiers.test.ts
  packages/validit/src/__tests__/intersect.test.ts
  packages/validit/src/__tests__/new-validators.test.ts
  packages/validit/src/__tests__/string.test.ts
  packages/validit/src/core.ts
  packages/validit/src/schemas/object.ts
  packages/validit/src/schemas/string.ts
  packages/virtualit/src/dom/dom.test.ts
Due: lint:js, test:unit

chore: general improvements
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release-all.yml
  .github/workflows/release.yml
  .github/workflows/test-pr.yml
  .npmrc
  common/config/rush/.npmrc
  common/config/rush/pnpm-lock.yaml
  package.json
  packages/buildit/package.json
  packages/craftit/package.json
  packages/deposit/package.json
  packages/dragit/package.json
  packages/eventit/package.json
  packages/fetchit/package.json
  packages/floatit/package.json
  packages/formit/package.json
  packages/i18nit/package.json
  packages/logit/package.json
  packages/permit/package.json
  packages/routeit/package.json
  packages/sourceit/package.json
  packages/stateit/package.json
  packages/timit/package.json
  packages/toolkit/package.json
  packages/validit/package.json
  packages/virtualit/package.json
  packages/wireit/package.json
  packages/workit/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  rush.json
Due: lint:resources

chore: general improvements
  .npmrc
  packages/buildit/src/content/avatar/avatar-group.css
  packages/buildit/src/layout/sidebar/sidebar-item.css
Due: none

chore: general improvements
  .ncurc.json
  .npmrc
  common/config/rush/.npmrc
  common/config/rush/pnpm-lock.yaml
  packages/buildit/package.json
  packages/buildit/src/content/avatar/avatar-group.css
  packages/buildit/src/layout/sidebar/sidebar-item.css
  pnpm-lock.yaml
Due: lint:resources

chore: general improvements
  pnpm-lock.yaml
Due: none

chore: general improvements
  common/config/rush/pnpm-lock.yaml
Due: none

chore: general improvements
  packages/buildit/src/layout/sidebar/sidebar-item.css
Due: none

chore: general improvements
  packages/fetchit/src/query.ts
  packages/permit/vitest.config.ts
  packages/timit/README.md
Due: lint:js

chore: added change files
  common/changes/major-release-2026-05-16/buildit-major.json
  common/changes/major-release-2026-05-16/craftit-major.json
  common/changes/major-release-2026-05-16/deposit-major.json
  common/changes/major-release-2026-05-16/dragit-major.json
  common/changes/major-release-2026-05-16/eventit-major.json
  common/changes/major-release-2026-05-16/fetchit-major.json
  common/changes/major-release-2026-05-16/floatit-major.json
  common/changes/major-release-2026-05-16/formit-major.json
  common/changes/major-release-2026-05-16/i18nit-major.json
  common/changes/major-release-2026-05-16/logit-major.json
  common/changes/major-release-2026-05-16/permit-major.json
  common/changes/major-release-2026-05-16/routeit-major.json
  common/changes/major-release-2026-05-16/sourceit-major.json
  common/changes/major-release-2026-05-16/stateit-major.json
  common/changes/major-release-2026-05-16/timit-major.json
  common/changes/major-release-2026-05-16/toolkit-major.json
  common/changes/major-release-2026-05-16/validit-major.json
  common/changes/major-release-2026-05-16/virtualit-major.json
  common/changes/major-release-2026-05-16/wireit-major.json
  common/changes/major-release-2026-05-16/workit-major.json
Due: lint:resources

feat(release): enhance change file detection and handling
  .github/workflows/release-all.yml
  .github/workflows/release.yml
Due: lint:resources

feat(release): add npm authentication verification and error handling
  .github/workflows/release-all.yml
  .github/workflows/release.yml
Due: lint:resources

feat(release): add new packages to the release configuration
  .github/workflows/release.yml
Due: lint:resources

feat(release): add concurrency settings and improve change file commit handling
  .github/workflows/release-all.yml
  .github/workflows/release.yml
Due: lint:resources

feat(release): add dummy patch releases for multiple packages after npm token expired
  common/changes/release-all-2026-05-17/buildit-patch.json
  common/changes/release-all-2026-05-17/craftit-patch.json
  common/changes/release-all-2026-05-17/deposit-patch.json
  common/changes/release-all-2026-05-17/dragit-patch.json
  common/changes/release-all-2026-05-17/eventit-patch.json
  common/changes/release-all-2026-05-17/fetchit-patch.json
  common/changes/release-all-2026-05-17/floatit-patch.json
  common/changes/release-all-2026-05-17/formit-patch.json
  common/changes/release-all-2026-05-17/i18nit-patch.json
  common/changes/release-all-2026-05-17/logit-patch.json
  common/changes/release-all-2026-05-17/permit-patch.json
  common/changes/release-all-2026-05-17/routeit-patch.json
  common/changes/release-all-2026-05-17/sourceit-patch.json
  common/changes/release-all-2026-05-17/stateit-patch.json
  common/changes/release-all-2026-05-17/timit-patch.json
  common/changes/release-all-2026-05-17/toolkit-patch.json
  common/changes/release-all-2026-05-17/validit-patch.json
  common/changes/release-all-2026-05-17/virtualit-patch.json
  common/changes/release-all-2026-05-17/wireit-patch.json
  common/changes/release-all-2026-05-17/workit-patch.json
Due: lint:resources

fix: release version
  common/changes/release-all-sync-major-3-2026-05-17/buildit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/craftit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/deposit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/dragit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/eventit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/fetchit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/floatit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/formit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/i18nit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/logit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/permit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/routeit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/sourceit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/stateit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/timit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/toolkit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/validit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/virtualit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/wireit-patch.json
  common/changes/release-all-sync-major-3-2026-05-17/workit-patch.json
  common/config/rush/version-policies.json
  packages/buildit/package.json
  packages/dragit/package.json
Due: lint:resources

fix: release version
  .github/workflows/release-all.yml
  common/changes/release-all-patch-2026-05-17/buildit-patch.json
  common/changes/release-all-patch-2026-05-17/craftit-patch.json
  common/changes/release-all-patch-2026-05-17/deposit-patch.json
  common/changes/release-all-patch-2026-05-17/dragit-patch.json
  common/changes/release-all-patch-2026-05-17/eventit-patch.json
  common/changes/release-all-patch-2026-05-17/fetchit-patch.json
  common/changes/release-all-patch-2026-05-17/floatit-patch.json
  common/changes/release-all-patch-2026-05-17/formit-patch.json
  common/changes/release-all-patch-2026-05-17/i18nit-patch.json
  common/changes/release-all-patch-2026-05-17/logit-patch.json
  common/changes/release-all-patch-2026-05-17/permit-patch.json
  common/changes/release-all-patch-2026-05-17/routeit-patch.json
  common/changes/release-all-patch-2026-05-17/sourceit-patch.json
  common/changes/release-all-patch-2026-05-17/stateit-patch.json
  common/changes/release-all-patch-2026-05-17/timit-patch.json
  common/changes/release-all-patch-2026-05-17/toolkit-patch.json
  common/changes/release-all-patch-2026-05-17/validit-patch.json
  common/changes/release-all-patch-2026-05-17/virtualit-patch.json
  common/changes/release-all-patch-2026-05-17/wireit-patch.json
  common/changes/release-all-patch-2026-05-17/workit-patch.json
Due: lint:resources

feat: new mpcit package
  common/config/rush/pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

feat: new mpcit package
  packages/mcpit/src/__tests__/server.test.ts
Due: lint:js, test:unit

feat: update docs
  docs/.vitepress/config.ts
Due: lint:js

chore: add integration examples for React, Vue, and Svelte
  common/changes/@vielzeug/routeit/chore-routeit_better_framework_integration_2026-05-19-05-39.json
  docs/.vitepress/config.ts
  docs/routeit/api.md
  docs/routeit/examples.md
  docs/routeit/examples/base-path-deployment.md
  docs/routeit/examples/react-integration.md
  docs/routeit/examples/svelte-integration.md
  docs/routeit/examples/vue-integration.md
  docs/routeit/index.md
  docs/routeit/usage.md
  packages/routeit/README.md
  packages/routeit/src/__tests__/context.test.ts
  packages/routeit/src/__tests__/history.test.ts
  packages/routeit/src/__tests__/lazy.test.ts
  packages/routeit/src/__tests__/matching.test.ts
  packages/routeit/src/__tests__/navigation.test.ts
  packages/routeit/src/__tests__/nested.test.ts
  packages/routeit/src/__tests__/scroll.test.ts
  packages/routeit/src/__tests__/setup.ts
  packages/routeit/src/__tests__/test-utils.ts
  packages/routeit/src/__tests__/to-store.test.ts
  packages/routeit/src/path.ts
  packages/routeit/src/router-internal.ts
  packages/routeit/src/router.ts
  packages/routeit/src/types.ts
Due: lint:resources, lint:js, test:unit

chore: add integration examples for React, Vue, and Svelte (#53)
  common/changes/@vielzeug/routeit/chore-routeit_better_framework_integration_2026-05-19-05-39.json
  docs/.vitepress/config.ts
  docs/routeit/api.md
  docs/routeit/examples.md
  docs/routeit/examples/base-path-deployment.md
  docs/routeit/examples/react-integration.md
  docs/routeit/examples/svelte-integration.md
  docs/routeit/examples/vue-integration.md
  docs/routeit/index.md
  docs/routeit/usage.md
  packages/routeit/README.md
  packages/routeit/src/__tests__/context.test.ts
  packages/routeit/src/__tests__/history.test.ts
  packages/routeit/src/__tests__/lazy.test.ts
  packages/routeit/src/__tests__/matching.test.ts
  packages/routeit/src/__tests__/navigation.test.ts
  packages/routeit/src/__tests__/nested.test.ts
  packages/routeit/src/__tests__/scroll.test.ts
  packages/routeit/src/__tests__/setup.ts
  packages/routeit/src/__tests__/test-utils.ts
  packages/routeit/src/__tests__/to-store.test.ts
  packages/routeit/src/path.ts
  packages/routeit/src/router-internal.ts
  packages/routeit/src/router.ts
  packages/routeit/src/types.ts
Due: lint:resources, lint:js, test:unit

fix(fetchit): fix stream.ts bugs from second-pass review
  packages/fetchit/src/__tests__/fetchit.test.ts
  packages/fetchit/src/__tests__/stream.test.ts
  packages/fetchit/src/api.ts
  packages/fetchit/src/fetchit.ts
  packages/fetchit/src/index.ts
  packages/fetchit/src/stream.ts
  packages/fetchit/src/transport.ts
  packages/fetchit/src/url.ts
Due: lint:js, test:unit

refactor(fetchit): DX improvements and architectural refinements
  packages/fetchit/src/__tests__/api.test.ts
  packages/fetchit/src/__tests__/fetchit.test.ts
  packages/fetchit/src/__tests__/stream.test.ts
  packages/fetchit/src/api.ts
  packages/fetchit/src/errors.ts
  packages/fetchit/src/fetchit.ts
  packages/fetchit/src/index.ts
  packages/fetchit/src/mutation.ts
  packages/fetchit/src/query.ts
  packages/fetchit/src/response.ts
  packages/fetchit/src/retry.ts
  packages/fetchit/src/stream.ts
  packages/fetchit/src/transport.ts
  packages/fetchit/src/url.ts
Due: lint:js, test:unit

refactor(fetchit): correctness fixes, simplification, and API cleanup
  packages/fetchit/src/__tests__/fetchit.test.ts
  packages/fetchit/src/__tests__/query.test.ts
  packages/fetchit/src/__tests__/stream.test.ts
  packages/fetchit/src/api.ts
  packages/fetchit/src/fetchit.ts
  packages/fetchit/src/mutation.ts
  packages/fetchit/src/query.ts
  packages/fetchit/src/retry.ts
  packages/fetchit/src/serialize.ts
  packages/fetchit/src/stream.ts
Due: lint:js, test:unit

docs(fetchit): update docs for new architecture and API renames
  .tool-versions
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples/fetchit/create-fetchit.ts
  docs/.vitepress/theme/components/repl/examples/fetchit/index.ts
  docs/.vitepress/theme/components/repl/examples/fetchit/query-client-basic.ts
  docs/.vitepress/theme/components/repl/examples/fetchit/query-client-invalidate.ts
  docs/.vitepress/theme/components/repl/examples/fetchit/query-client-mutations.ts
  docs/.vitepress/theme/components/repl/examples/fetchit/query-client-subscriptions.ts
  docs/.vitepress/theme/components/repl/examples/fetchit/stream-readable.ts
  docs/.vitepress/theme/components/repl/examples/fetchit/stream-sse.ts
  docs/.vitepress/theme/components/repl/types/fetchit.ts
  docs/fetchit/api.md
  docs/fetchit/examples.md
  docs/fetchit/examples/ai-token-stream.md
  docs/fetchit/examples/crud-operations.md
  docs/fetchit/examples/polling.md
  docs/fetchit/examples/query-callbacks.md
  docs/fetchit/examples/sse-events.md
  docs/fetchit/index.md
  docs/fetchit/usage.md
  packages/fetchit/README.md
  rush.json
Due: lint:resources, lint:js

docs(fetchit): update docs for new architecture and API renames
  common/changes/@vielzeug/fetchit/feat-fetchit_new_stream_support_2026-05-19-14-30.json
Due: lint:resources

feat: new stream support in fetchit (#54)
  .tool-versions
  common/changes/@vielzeug/fetchit/feat-fetchit_new_stream_support_2026-05-19-14-30.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples/fetchit/create-fetchit.ts
  docs/.vitepress/theme/components/repl/examples/fetchit/index.ts
  docs/.vitepress/theme/components/repl/examples/fetchit/query-client-basic.ts
  docs/.vitepress/theme/components/repl/examples/fetchit/query-client-invalidate.ts
  docs/.vitepress/theme/components/repl/examples/fetchit/query-client-mutations.ts
  docs/.vitepress/theme/components/repl/examples/fetchit/query-client-subscriptions.ts
  docs/.vitepress/theme/components/repl/examples/fetchit/stream-readable.ts
  docs/.vitepress/theme/components/repl/examples/fetchit/stream-sse.ts
  docs/.vitepress/theme/components/repl/types/fetchit.ts
  docs/fetchit/api.md
  docs/fetchit/examples.md
  docs/fetchit/examples/ai-token-stream.md
  docs/fetchit/examples/crud-operations.md
  docs/fetchit/examples/polling.md
  docs/fetchit/examples/query-callbacks.md
  docs/fetchit/examples/sse-events.md
  docs/fetchit/index.md
  docs/fetchit/usage.md
  packages/fetchit/README.md
  packages/fetchit/src/__tests__/api.test.ts
  packages/fetchit/src/__tests__/fetchit.test.ts
  packages/fetchit/src/__tests__/query.test.ts
  packages/fetchit/src/__tests__/stream.test.ts
  packages/fetchit/src/api.ts
  packages/fetchit/src/errors.ts
  packages/fetchit/src/fetchit.ts
  packages/fetchit/src/index.ts
  packages/fetchit/src/mutation.ts
  packages/fetchit/src/query.ts
  packages/fetchit/src/response.ts
  packages/fetchit/src/retry.ts
  packages/fetchit/src/serialize.ts
  packages/fetchit/src/stream.ts
  packages/fetchit/src/transport.ts
  packages/fetchit/src/url.ts
  rush.json
Due: lint:resources, lint:js, test:unit

feat: enhance deposit API with structured options for storage creation and improve query capabilities
  docs/.vitepress/theme/components/REPLEditor.vue
  docs/.vitepress/theme/components/repl/examples/deposit/basic-setup.ts
  docs/.vitepress/theme/components/repl/examples/deposit/bulk-operations.ts
  docs/.vitepress/theme/components/repl/examples/deposit/cache-first.ts
  docs/.vitepress/theme/components/repl/examples/deposit/crud-operations.ts
  docs/.vitepress/theme/components/repl/examples/deposit/get-or-put.ts
  docs/.vitepress/theme/components/repl/examples/deposit/index.ts
  docs/.vitepress/theme/components/repl/examples/deposit/indexed-db.ts
  docs/.vitepress/theme/components/repl/examples/deposit/query-builder.ts
  docs/.vitepress/theme/components/repl/examples/deposit/ttl-expiration.ts
  docs/.vitepress/theme/components/repl/types/deposit.ts
  docs/deposit/api.md
  docs/deposit/examples/advanced-examples.md
  docs/deposit/examples/basic-examples.md
  docs/deposit/index.md
  docs/deposit/usage.md
  packages/deposit/README.md
  packages/deposit/src/__tests__/cookie.test.ts
  packages/deposit/src/__tests__/indexeddb.test.ts
  packages/deposit/src/__tests__/localstorage.test.ts
  packages/deposit/src/__tests__/memory.test.ts
  packages/deposit/src/__tests__/query.test.ts
  packages/deposit/src/__tests__/sessionstorage.test.ts
  packages/deposit/src/__tests__/ttl.test.ts
  packages/deposit/src/adapter-core.ts
  packages/deposit/src/adapters/cookie.ts
  packages/deposit/src/adapters/indexeddb.ts
  packages/deposit/src/adapters/memory.ts
  packages/deposit/src/adapters/webstorage.ts
  packages/deposit/src/index.ts
  packages/deposit/src/internal.ts
  packages/deposit/src/query.ts
  packages/deposit/src/ttl.ts
  packages/deposit/src/types.ts
  packages/deposit/vitest.config.ts
Due: lint:js, test:unit

refactor(deposit): greenfield rewrite with all review fixes
  packages/deposit/FUTURE_IMPROVEMENTS.md
  packages/deposit/IMPLEMENTATION_SUMMARY.md
  packages/deposit/IMPROVEMENTS.md
  packages/deposit/MIGRATION_GUIDE.md
  packages/deposit/src/__tests__/indexeddb.test.ts
  packages/deposit/src/__tests__/localstorage.test.ts
  packages/deposit/src/__tests__/memory.test.ts
  packages/deposit/src/__tests__/plugins.test.ts
  packages/deposit/src/adapter-core.ts
  packages/deposit/src/adapters/indexeddb.ts
  packages/deposit/src/adapters/memory.ts
  packages/deposit/src/adapters/webstorage.ts
  packages/deposit/src/index.ts
  packages/deposit/src/internal.ts
  packages/deposit/src/plugins.ts
  packages/deposit/src/query.ts
  packages/deposit/src/types.ts
Due: lint:js, test:unit

chore(deposit): remove stale planning markdown files
  packages/deposit/FUTURE_IMPROVEMENTS.md
  packages/deposit/IMPLEMENTATION_SUMMARY.md
  packages/deposit/IMPROVEMENTS.md
  packages/deposit/MIGRATION_GUIDE.md
Due: none

fix(deposit): address second-pass review findings
  packages/deposit/src/__tests__/indexeddb.test.ts
  packages/deposit/src/__tests__/localstorage.test.ts
  packages/deposit/src/__tests__/memory.test.ts
  packages/deposit/src/__tests__/sessionstorage.test.ts
  packages/deposit/src/adapter-core.ts
  packages/deposit/src/adapters/indexeddb.ts
  packages/deposit/src/adapters/memory.ts
  packages/deposit/src/adapters/webstorage.ts
  packages/deposit/src/ttl.ts
  packages/deposit/src/types.ts
Due: lint:js, test:unit

Path conditions:
  lint:resources: any of: *.{html,json,yml}
  lint:js: any of: *[!.{spec,test}].{[tj]s,[tj]sx}
  test:unit: any of: *.{spec,test}.{[tj]s,[tj]sx}
