Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lint:resources:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  
    '

lint:js:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest related {staged_files}
  
    '

test:unit:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest {staged_files}
  
    '

chore: update README and docs to reflect 26 packages (flux, pulse, coins)
  README.md
  docs/guide/index.md
Due: none

chore: alphabetize package list and update bundle sizes in README
  README.md
Due: none

chore(docs): update HomePage copy and tooltips for clarity and consistency
  docs/.vitepress/theme/components/HomePage.vue
Due: none

chore(docs): update "Getting Started" guide for clarity, consistency, and new package structure
  docs/guide/index.md
  packages/arsenal/package.json
  packages/clockwork/package.json
  packages/coins/package.json
  packages/conduit/package.json
  packages/courier/package.json
  packages/craft/package.json
  packages/dnd/package.json
  packages/familiar/package.json
  packages/forge/package.json
  packages/herald/package.json
  packages/lingua/package.json
  packages/orbit/package.json
  packages/prism/package.json
  packages/pulse/package.json
  packages/ripple/package.json
  packages/rune/package.json
  packages/scroll/package.json
  packages/sigil/package.json
  packages/sourcerer/package.json
  packages/spell/package.json
  packages/tempo/package.json
  packages/vault/package.json
  packages/ward/package.json
  packages/wayfinder/package.json
Due: lint:resources

chore(docs): remove redundant border-bottom style from REPL component
  docs/.vitepress/theme/components/REPL.vue
Due: none

chore(docs): simplify theming guide with updated customization instructions and streamlined examples
  docs/.vitepress/config.ts
  docs/sigil/examples.md
  docs/sigil/examples/common-patterns.md
  docs/sigil/examples/guideline-oriented-recipes.md
  docs/sigil/examples/settings-panel-with-switches.md
  docs/sigil/frameworks.md
  docs/sigil/theming.md
  docs/sigil/usage.md
Due: lint:js

chore(docs): restructure testing and accessibility guides for clarity, improving ARIA documentation and expanding component examples
  docs/.vitepress/config.ts
  docs/sigil/accessibility.md
  docs/sigil/api.md
  docs/sigil/testing.md
  docs/sigil/usage.md
Due: lint:js

chore(dialog): enhance closing animation to prevent visual flash and ensure transition consistency
  packages/sigil/src/overlay/dialog/dialog.css
  packages/sigil/src/overlay/drawer/drawer.css
  packages/sigil/src/overlay/shared/use-dialog.ts
Due: lint:js

chore(docs): simplify theming guide with single-hue customization, add secondary auto-derivation examples, and improve dynamic theme switching instructions
  docs/sigil/theming.md
  packages/sigil/src/inputs/otp-input/otp-input.css
  packages/sigil/src/inputs/textarea/textarea.css
  packages/sigil/src/styles/theme.css
Due: none

chore(craft): refactor directive imports, centralize warnings for dev mode, optimize prop definition logic, and update error messages for clarity
  packages/craft/package.json
  packages/craft/src/__tests__/component-definition.test.ts
  packages/craft/src/__tests__/component-slots-emit.test.ts
  packages/craft/src/__tests__/directives.test.ts
  packages/craft/src/_warn.ts
  packages/craft/src/aria.ts
  packages/craft/src/base-element.ts
  packages/craft/src/directives/each.ts
  packages/craft/src/directives/index.ts
  packages/craft/src/directives/raw.ts
  packages/craft/src/errors.ts
  packages/craft/src/form-field.ts
  packages/craft/src/host-bind.ts
  packages/craft/src/index.ts
  packages/craft/src/props.ts
  packages/craft/src/template/instantiator.ts
  packages/craft/vite.bundle.config.ts
  packages/craft/vite.config.ts
  packages/sigil/src/content/code-window/code-window.ts
  packages/sigil/src/content/icon/icon.ts
  packages/sigil/src/disclosure/tab-panel/tab-panel.ts
  packages/sigil/src/feedback/async/async.ts
  packages/sigil/src/feedback/progress/progress.ts
  packages/sigil/src/inputs/checkbox-group/checkbox-group.ts
  packages/sigil/src/inputs/input/input.ts
  packages/sigil/src/inputs/radio-group/radio-group.ts
  packages/sigil/src/inputs/textarea/textarea.ts
Due: lint:resources, lint:js, test:unit

chore(docs): streamline export lists, limit environments to browser, and enhance PackageHero tooltips for clarity
  docs/.vitepress/theme/components/PackageHero.vue
  docs/craft/index.md
  docs/familiar/index.md
Due: none

feat(ledger): new ledger package
  common/changes/@vielzeug/ledger/2026-06-18-21-10.json
  docs/.vitepress/theme/components/repl/examples/ledger/compose-commands.ts
  docs/.vitepress/theme/components/repl/examples/ledger/do-undo-redo.ts
  docs/.vitepress/theme/components/repl/examples/ledger/index.ts
  docs/.vitepress/theme/components/repl/examples/ledger/reactive-signals.ts
  docs/.vitepress/theme/components/repl/examples/ledger/rollback-error.ts
  docs/.vitepress/theme/components/repl/libraries/ledger.ts
  docs/.vitepress/theme/components/repl/types/ledger.ts
  docs/ledger/api.md
  docs/ledger/examples.md
  docs/ledger/examples/form-history.md
  docs/ledger/examples/text-editor.md
  docs/ledger/index.md
  docs/ledger/usage.md
  docs/public/logo-ledger.svg
  packages/ledger/README.md
  packages/ledger/package.json
  packages/ledger/src/__tests__/compose.test.ts
  packages/ledger/src/__tests__/ledger.test.ts
  packages/ledger/src/_warn.ts
  packages/ledger/src/compose.ts
  packages/ledger/src/index.ts
  packages/ledger/src/ledger.ts
  packages/ledger/src/types.ts
  packages/ledger/tsconfig.declarations.json
  packages/ledger/tsconfig.json
  packages/ledger/vite.bundle.config.ts
  packages/ledger/vite.config.ts
  packages/ledger/vitest.config.ts
Due: lint:resources, lint:js, test:unit

chore(docs): update Courier comparison table, add TanStack Query details, and refine feature descriptions
  docs/courier/index.md
Due: none

feat(codex): add debugging support with detailed logging for tool execution
  packages/codex/src/tools.ts
Due: none

feat(sandbox): new sandbox package
  .devin/rules/conventions.md
  common/changes/@vielzeug/sandbox/2026-06-18-21-10.json
  common/config/rush/pnpm-lock.yaml
  docs/.vitepress/config.ts
  docs/public/logo-sandbox.svg
  docs/sandbox/api.md
  docs/sandbox/examples.md
  docs/sandbox/examples/ai-ui-renderer.md
  docs/sandbox/index.md
  docs/sandbox/usage.md
  packages/sandbox/README.md
  packages/sandbox/package.json
  packages/sandbox/src/__tests__/sandbox.test.ts
  packages/sandbox/src/_sandbox.ts
  packages/sandbox/src/_warn.ts
  packages/sandbox/src/index.ts
  packages/sandbox/tsconfig.declarations.json
  packages/sandbox/tsconfig.json
  packages/sandbox/vite.bundle.config.ts
  packages/sandbox/vite.config.ts
  packages/sandbox/vitest.config.ts
  pnpm-lock.yaml
  rush.json
  scripts/vitest.repl.config.ts
Due: lint:resources, lint:js, test:unit

feat(codex): expand test coverage and API documentation for new component tools and utilities
  docs/codex/api.md
  packages/codex/README.md
  packages/codex/src/__tests__/server.test.ts
  packages/codex/src/__tests__/tools.test.ts
  packages/codex/src/tools.ts
Due: lint:js, test:unit

feat(sigil): add datagrid controls with search, filtering, and column visibility features, improve combobox behavior with manual popovers, and refine dropdown styles
  .devin/workflows/pkg-docs.md
  .devin/workflows/pkg-plan.md
  .devin/workflows/pkg-repl.md
  .devin/workflows/pkg-review.md
  .devin/workflows/pkg-security.md
  .devin/workflows/pkg-spec.md
  .devin/workflows/pkg-workflow.md
  docs/sigil/components/datagrid.md
  packages/sigil/src/headless/datagrid.ts
  packages/sigil/src/headless/sort-control.ts
  packages/sigil/src/inputs/combobox/combobox.css
  packages/sigil/src/inputs/combobox/combobox.ts
  packages/sigil/src/inputs/datagrid/datagrid-controls.test.ts
  packages/sigil/src/inputs/datagrid/datagrid-controls.ts
  packages/sigil/src/inputs/datagrid/datagrid.css
  packages/sigil/src/inputs/datagrid/datagrid.test.ts
  packages/sigil/src/inputs/datagrid/datagrid.ts
  packages/sigil/src/inputs/select/select.css
  packages/sigil/src/inputs/select/select.ts
  packages/sigil/src/overlay/popover/popover.ts
  packages/sigil/src/overlay/shared/use-floating-trigger.ts
  packages/sigil/src/styles/preflight.css
  packages/sigil/stylelint.config.ts
Due: lint:js, test:unit

feat(ledger): extend API and test coverage with typed command data, pending operations tracking, and enhanced rollback error handling
  docs/ledger/api.md
  docs/ledger/index.md
  docs/ledger/usage.md
  packages/ledger/src/__tests__/compose.test.ts
  packages/ledger/src/__tests__/ledger.test.ts
  packages/ledger/src/_warn.ts
  packages/ledger/src/compose.ts
  packages/ledger/src/ledger.ts
  packages/ledger/src/types.ts
Due: lint:js, test:unit

feat(keymap): add `listBindings` API, improve handler lifecycle, and enhance shortcut parsing
  docs/keymap/api.md
  docs/keymap/index.md
  packages/keymap/src/__tests__/keymap.test.ts
  packages/keymap/src/__tests__/layer.test.ts
  packages/keymap/src/__tests__/parser.test.ts
  packages/keymap/src/index.ts
  packages/keymap/src/keymap.ts
  packages/keymap/src/layer.ts
  packages/keymap/src/types.ts
Due: lint:js, test:unit

feat(repl): add new example modules for sandbox, keymap, and ledger packages
  docs/.vitepress/theme/components/repl/examples/index.ts
  docs/.vitepress/theme/components/repl/examples/keymap/index.ts
  docs/.vitepress/theme/components/repl/examples/keymap/shortcut-utilities.ts
  docs/.vitepress/theme/components/repl/examples/ledger/command-data.ts
  docs/.vitepress/theme/components/repl/examples/ledger/index.ts
  docs/.vitepress/theme/components/repl/examples/sandbox/build-csp.ts
  docs/.vitepress/theme/components/repl/examples/sandbox/index.ts
  docs/.vitepress/theme/components/repl/types/index.ts
  docs/.vitepress/theme/components/repl/types/keymap.ts
  docs/.vitepress/theme/components/repl/types/ledger.ts
  docs/.vitepress/theme/components/repl/types/sandbox.ts
Due: lint:js

feat(docs): integrate sandbox rendering for `ComponentPreview` with dynamic styles and scripts
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/ComponentPreview.vue
Due: lint:js

refactor(docs): streamline `ComponentPreview` by centralizing logic into `useComponentPreview`
  docs/.vitepress/config.ts
  docs/.vitepress/plugins/component-preview/index.ts
  docs/.vitepress/plugins/component-preview/plugin.ts
  docs/.vitepress/theme/components/ComponentPreview.vue
  docs/.vitepress/theme/components/PreviewFrame.ts
  docs/.vitepress/theme/components/PreviewIcon.vue
  docs/.vitepress/theme/components/component-preview/sandboxDoc.ts
  docs/.vitepress/theme/components/component-preview/useComponentPreview.ts
  docs/.vitepress/theme/components/component-preview/vnode.ts
  docs/.vitepress/theme/composables/useComponentPreview.ts
  packages/sigil/src/styles/preflight.css
Due: lint:js

refactor(docs): remove fixed `height` attributes from `ComponentPreview` for cleaner and responsive rendering
  docs/.vitepress/theme/components/component-preview/sandboxDoc.ts
  docs/sigil/components/calendar.md
  docs/sigil/components/date-picker.md
  docs/sigil/components/time-picker.md
Due: lint:js

refactor(docs): improve iframe resizing logic and enhance styling for previews
  docs/.vitepress/theme/components/component-preview/sandboxDoc.ts
Due: lint:js

fix(docs): adjust script stripping in `useComponentPreview` to preserve inline non-module scripts
  docs/.vitepress/theme/components/component-preview/useComponentPreview.ts
Due: lint:js

feat(docs): add Prism integration to `ComponentPreview` dependencies and styles
  docs/.vitepress/plugins/component-preview/plugin.ts
Due: lint:js

fix: update node version
  .tool-versions
  rush.json
Due: lint:resources

chore: general improvements and bugfixes
  docs/.vitepress/config.ts
  docs/.vitepress/plugins/component-preview/constants.ts
  docs/.vitepress/plugins/component-preview/index.ts
  docs/.vitepress/plugins/component-preview/plugin.ts
  docs/.vitepress/theme/components/component-preview/sandboxDoc.ts
  docs/.vitepress/theme/components/component-preview/useComponentPreview.ts
  docs/.vitepress/theme/components/component-preview/useRefineHmr.ts
  docs/.vitepress/theme/index.js
  docs/refine/components/datagrid.md
  docs/refine/components/text.md
  docs/refine/theming.md
  package.json
  packages/refine/AGENTS.md
  packages/refine/package.json
  packages/refine/src/content/text/text.css
  packages/refine/src/inputs/button/button.css
  packages/refine/src/inputs/button/button.test.ts
  packages/refine/src/inputs/button/button.ts
  packages/refine/src/inputs/datagrid/datagrid-controls.ts
  packages/refine/src/inputs/datagrid/datagrid.css
  packages/refine/src/inputs/datagrid/datagrid.test.ts
  packages/refine/src/inputs/datagrid/datagrid.ts
  packages/refine/src/styles/theme.css
  packages/sandbox/src/__tests__/sandbox.test.ts
  packages/sandbox/src/_protocol.ts
  packages/sandbox/src/_sandbox.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/index.ts
Due: lint:resources, lint:js, test:unit

Path conditions:
  lint:resources: any of: *.{html,json,yml}
  lint:js: any of: *[!.{spec,test}].{[tj]s,[tj]sx}
  test:unit: any of: *.{spec,test}.{[tj]s,[tj]sx}
