Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lefthook.yml:

pre-commit:
  piped: true
  follow: true
  commands:
    lint:resources:
      glob: '*.{html,json,yml}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    lint:js:
      glob: '*[!.{spec,test}].{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest related {staged_files}
    test:unit:
      glob: '*.{spec,test}.{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest {staged_files}

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,md,mdx,html}"
      run: npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

feat(snapit): renamed stateit lib to snapit
  .github/contributing.md
  README.md
  common/config/rush/pnpm-lock.yaml
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/REPL.vue
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/guide/index.md
  docs/index.md
  docs/public/logo-snapit.svg
  docs/snapit/api.md
  docs/snapit/examples.md
  docs/snapit/index.md
  docs/snapit/usage.md
  packages/snapit/CHANGELOG.json
  packages/snapit/CHANGELOG.md
  packages/snapit/README.md
  packages/snapit/package.json
  packages/snapit/src/index.ts
  packages/snapit/src/snapit.test.ts
  packages/snapit/src/snapit.ts
  packages/snapit/tsconfig.json
  packages/snapit/vite.config.ts
  packages/snapit/vitest.config.ts
  packages/snapit/vitest.setup.ts
  packages/stateit/src/index.ts
  pnpm-lock.yaml
  rush.json
Due: lint:resources, lint:js, test:unit

feat(snapit): added change file
  common/changes/@vielzeug/snapit/feat-snapit-new-lib_2026-02-17-11-51.json
Due: lint:resources

feat(snapit): renamed stateit lib to snapit (#47)
  .github/contributing.md
  README.md
  common/changes/@vielzeug/snapit/feat-snapit-new-lib_2026-02-17-11-51.json
  common/config/rush/pnpm-lock.yaml
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/REPL.vue
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/guide/index.md
  docs/index.md
  docs/public/logo-snapit.svg
  docs/snapit/api.md
  docs/snapit/examples.md
  docs/snapit/index.md
  docs/snapit/usage.md
  packages/snapit/CHANGELOG.json
  packages/snapit/CHANGELOG.md
  packages/snapit/README.md
  packages/snapit/package.json
  packages/snapit/src/index.ts
  packages/snapit/src/snapit.test.ts
  packages/snapit/src/snapit.ts
  packages/snapit/tsconfig.json
  packages/snapit/vite.config.ts
  packages/snapit/vitest.config.ts
  packages/snapit/vitest.setup.ts
  packages/stateit/src/index.ts
  pnpm-lock.yaml
  rush.json
Due: lint:resources, lint:js, test:unit

feat(buildit): improved docs
  docs/.vitepress/config.ts
  docs/buildit/api.md
  docs/buildit/examples.md
  docs/buildit/index.md
  docs/buildit/usage.md
  docs/public/logo-buildit.svg
Due: lint:js

feat(buildit): added new components
  packages/buildit/COMPONENT-GUIDE.md
  packages/buildit/package.json
  packages/buildit/src/base/accordion-item/accordion-item.ts
  packages/buildit/src/base/accordion/__tests__/accordion.test.ts
  packages/buildit/src/base/accordion/accordion.ts
  packages/buildit/src/base/button-group/__tests__/button-group.test.ts
  packages/buildit/src/form/checkbox/__tests__/checkbox.test.ts
  packages/buildit/src/form/checkbox/checkbox.ts
  packages/buildit/src/form/index.ts
  packages/buildit/src/form/input/__tests__/input.a11y.test.ts
  packages/buildit/src/form/input/__tests__/input.test.ts
  packages/buildit/src/form/input/input.ts
  packages/buildit/src/form/radio/__tests__/radio.test.ts
  packages/buildit/src/form/radio/radio.ts
  packages/buildit/src/types.d.ts
  packages/buildit/vite.config.ts
  packages/craftit/src/craftit.test.ts
  packages/craftit/src/craftit.ts
Due: lint:resources, lint:js, test:unit

feat(buildit): new code preview component
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/ComponentPreview.vue
  docs/.vitepress/theme/index.js
  docs/buildit/components/accordion.md
  docs/buildit/components/button-group.md
  docs/buildit/components/button.md
  docs/buildit/components/checkbox.md
  docs/buildit/components/input.md
  docs/buildit/components/radio.md
  docs/buildit/examples.md
  docs/buildit/index.md
  docs/buildit/usage.md
Due: lint:js

feat(buildit): improved overall theme
  docs/.vitepress/theme/components/ComponentPreview.vue
  docs/.vitepress/theme/components/REPL.vue
  docs/.vitepress/theme/index.js
  docs/.vitepress/theme/theme.css
  docs/buildit/components/checkbox.md
  packages/buildit/src/styles/theme.css
Due: lint:js

feat(buildit): bugfixes and general improvements
  packages/buildit/COMPONENT-GUIDE.md
  packages/buildit/src/base/button/button.ts
  packages/buildit/src/form/input/input.ts
Due: lint:js

feat(buildit): bugfixes and general improvements
  docs/buildit/components/checkbox.md
  docs/buildit/components/radio.md
Due: none

feat(buildit): bugfixes and general improvements
  docs/buildit/api.md
  docs/buildit/components/accordion.md
  docs/buildit/components/input.md
  packages/buildit/COMPONENT-GUIDE.md
  packages/buildit/src/base/accordion-item/__tests__/accordion-item.test.ts
  packages/buildit/src/base/accordion-item/accordion-item.ts
  packages/buildit/src/base/accordion/__tests__/accordion.test.ts
  packages/buildit/src/base/accordion/accordion.ts
  packages/buildit/src/base/button-group/button-group.ts
  packages/buildit/src/base/button/button.ts
  packages/buildit/src/form/checkbox/checkbox.ts
  packages/buildit/src/form/input/input.ts
  packages/buildit/src/form/radio/radio.ts
Due: lint:js, test:unit

feat(buildit): added switch component
  docs/.vitepress/config.ts
  docs/buildit/api.md
  docs/buildit/components/switch.md
  docs/buildit/examples.md
  packages/buildit/COMPONENT-GUIDE.md
  packages/buildit/src/base/accordion-item/accordion-item.ts
  packages/buildit/src/form/index.ts
  packages/buildit/src/form/input/input.ts
  packages/buildit/src/form/switch/__tests__/switch.a11y.test.ts
  packages/buildit/src/form/switch/__tests__/switch.test.ts
  packages/buildit/src/form/switch/switch.ts
  packages/buildit/src/styles/animation.css
  packages/buildit/src/styles/theme.css
Due: lint:js, test:unit

feat(buildit): added switch component
  docs/.vitepress/theme/components/ComponentPreview.vue
  docs/buildit/components/button.md
  docs/buildit/components/checkbox.md
  docs/buildit/components/input.md
  docs/buildit/components/radio.md
  docs/buildit/components/switch.md
  packages/buildit/src/base/accordion-item/accordion-item.ts
  packages/buildit/src/base/button/button.ts
  packages/buildit/src/form/checkbox/checkbox.ts
  packages/buildit/src/form/input/input.ts
  packages/buildit/src/form/radio/radio.ts
  packages/buildit/src/form/switch/switch.ts
  packages/buildit/src/styles/theme.css
Due: lint:js

feat(buildit): bugfixes and general improvements
  docs/.vitepress/theme/theme.css
  packages/buildit/COMPONENT-GUIDE.md
  packages/buildit/src/base/accordion-item/__tests__/accordion-item.test.ts
  packages/buildit/src/base/accordion-item/accordion-item.ts
  packages/buildit/src/base/accordion/__tests__/accordion.test.ts
  packages/buildit/src/base/button-group/__tests__/button-group.test.ts
  packages/buildit/src/base/button/__tests__/button.a11y.test.ts
  packages/buildit/src/base/button/__tests__/button.test.ts
  packages/buildit/src/base/button/button.ts
  packages/buildit/src/form/checkbox/__tests__/checkbox.a11y.test.ts
  packages/buildit/src/form/checkbox/__tests__/checkbox.test.ts
  packages/buildit/src/form/checkbox/checkbox.ts
  packages/buildit/src/form/input/__tests__/input.a11y.test.ts
  packages/buildit/src/form/input/__tests__/input.test.ts
  packages/buildit/src/form/input/input.ts
  packages/buildit/src/form/radio/__tests__/radio.a11y.test.ts
  packages/buildit/src/form/radio/__tests__/radio.test.ts
  packages/buildit/src/form/radio/radio.ts
  packages/buildit/src/form/switch/__tests__/switch.test.ts
  packages/buildit/src/form/switch/switch.ts
  packages/buildit/src/styles/theme.css
  packages/craftit/src/craftit.test.ts
Due: lint:js, test:unit

feat(buildit): bugfixes and general improvements
  docs/buildit/components/radio.md
  packages/buildit/COMPONENT-GUIDE.md
  packages/craftit/src/craftit.test.ts
  packages/craftit/src/craftit.ts
Due: lint:js, test:unit

feat(buildit): bugfixes and general improvements
  docs/buildit/components/button.md
  docs/buildit/components/card.md
  docs/buildit/components/text.md
  packages/buildit/AGENT.md
  packages/buildit/src/base/accordion-item/accordion-item.ts
  packages/buildit/src/base/accordion/accordion.ts
  packages/buildit/src/base/button-group/__tests__/button-group.test.ts
  packages/buildit/src/base/button-group/button-group.ts
  packages/buildit/src/base/button/button.ts
  packages/buildit/src/base/card/card.ts
  packages/buildit/src/base/text/text.ts
  packages/buildit/src/form/input/input.ts
Due: lint:js, test:unit

feat(buildit): bugfixes and general improvements
  docs/.vitepress/config.ts
  docs/buildit/components/slider.md
  packages/buildit/AGENT.md
  packages/buildit/package.json
  packages/buildit/src/form/index.ts
  packages/buildit/src/form/slider/__tests__/slider.a11y.test.ts
  packages/buildit/src/form/slider/__tests__/slider.test.ts
  packages/buildit/src/form/slider/slider.ts
  packages/buildit/src/types.d.ts
  packages/buildit/vite.config.ts
Due: lint:resources, lint:js, test:unit

feat(buildit): bugfixes and general improvements
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/ComponentPreview.vue
  docs/buildit/components/box.md
  docs/buildit/components/button.md
  docs/buildit/components/card.md
  docs/buildit/components/checkbox.md
  docs/buildit/components/grid.md
  docs/buildit/components/input.md
  docs/buildit/components/radio.md
  docs/buildit/components/slider.md
  docs/buildit/components/switch.md
  docs/buildit/theming.md
  docs/public/logo.svg
  packages/buildit/AGENT.md
  packages/buildit/src/base/accordion-item/accordion-item.ts
  packages/buildit/src/base/accordion/accordion.ts
  packages/buildit/src/base/button-group/button-group.ts
  packages/buildit/src/base/button/button.ts
  packages/buildit/src/base/card/card.ts
  packages/buildit/src/base/text/text.ts
  packages/buildit/src/form/checkbox/checkbox.ts
  packages/buildit/src/form/input/input.ts
  packages/buildit/src/form/radio/radio.ts
  packages/buildit/src/form/slider/slider.ts
  packages/buildit/src/form/switch/switch.ts
  packages/buildit/src/index.ts
  packages/buildit/src/layout/box/__tests__/box.a11y.test.ts
  packages/buildit/src/layout/box/__tests__/box.test.ts
  packages/buildit/src/layout/box/box-base.css.ts
  packages/buildit/src/layout/box/box.ts
  packages/buildit/src/layout/grid-item/__tests__/grid-item.a11y.test.ts
  packages/buildit/src/layout/grid-item/__tests__/grid-item.test.ts
  packages/buildit/src/layout/grid-item/grid-item.ts
  packages/buildit/src/layout/grid/__tests__/grid.a11y.test.ts
  packages/buildit/src/layout/grid/__tests__/grid.test.ts
  packages/buildit/src/layout/grid/grid.ts
  packages/buildit/src/layout/index.ts
  packages/buildit/src/styles/animation.css
  packages/buildit/src/styles/theme.css
  packages/craftit/src/craftit.ts
Due: lint:js, test:unit

feat(buildit): bugfixes and general improvements
  common/config/rush/pnpm-lock.yaml
  docs/buildit/api.md
  docs/buildit/components/box.md
  docs/buildit/components/button.md
  docs/buildit/components/card.md
  docs/buildit/components/input.md
  packages/buildit/AGENT.md
  packages/buildit/package.json
  packages/buildit/src/base/accordion-item/accordion-item.ts
  packages/buildit/src/base/accordion/accordion.ts
  packages/buildit/src/base/button-group/__tests__/button-group.test.ts
  packages/buildit/src/base/button-group/button-group.ts
  packages/buildit/src/base/button/button.ts
  packages/buildit/src/base/card/card.ts
  packages/buildit/src/base/text/text.ts
  packages/buildit/src/form/checkbox/checkbox.ts
  packages/buildit/src/form/input/__tests__/input.a11y.test.ts
  packages/buildit/src/form/input/input.ts
  packages/buildit/src/form/radio/radio.ts
  packages/buildit/src/form/slider/slider.ts
  packages/buildit/src/form/switch/switch.ts
  packages/buildit/src/layout/box/box-base.css.ts
  packages/buildit/src/layout/box/box.ts
  packages/buildit/src/styles/effects/rainbow.css.ts
  packages/buildit/src/styles/index.ts
  packages/buildit/src/styles/mixins/color-theme.css.ts
  packages/buildit/src/styles/mixins/elevation.css.ts
  packages/buildit/src/styles/mixins/frost.css.ts
  packages/buildit/src/styles/mixins/padding.css.ts
  packages/buildit/src/styles/mixins/rounded.css.ts
  packages/buildit/src/styles/mixins/states.css.ts
  packages/buildit/src/styles/theme.css
  packages/buildit/src/types/bit.d.ts
  packages/buildit/src/types/index.ts
  packages/buildit/src/types/shared.ts
  packages/buildit/vite.config.ts
  pnpm-lock.yaml
  vite.config.ts
Due: lint:resources, lint:js, test:unit

feat(buildit): bugfixes and general improvements
  packages/craftit/src/__tests__/async-effect.test.ts
  packages/craftit/src/__tests__/batching.test.ts
  packages/craftit/src/__tests__/context.test.ts
  packages/craftit/src/__tests__/css.test.ts
  packages/craftit/src/__tests__/define.test.ts
  packages/craftit/src/__tests__/event-modifiers.test.ts
  packages/craftit/src/__tests__/form.test.ts
  packages/craftit/src/__tests__/html-improvements.test.ts
  packages/craftit/src/__tests__/html.test.ts
  packages/craftit/src/__tests__/lifecycle.test.ts
  packages/craftit/src/__tests__/merged-effect.test.ts
  packages/craftit/src/__tests__/phase2-directives.test.ts
  packages/craftit/src/__tests__/phase2-improvements.test.ts
  packages/craftit/src/__tests__/portal.test.ts
  packages/craftit/src/__tests__/props.test.ts
  packages/craftit/src/__tests__/quick-wins.test.ts
  packages/craftit/src/__tests__/ref.test.ts
  packages/craftit/src/__tests__/signal.test.ts
  packages/craftit/src/__tests__/test.test.ts
  packages/craftit/src/composables/context.ts
  packages/craftit/src/composables/form.ts
  packages/craftit/src/composables/props.ts
  packages/craftit/src/composables/ref.ts
  packages/craftit/src/composables/style.ts
  packages/craftit/src/core/define.ts
  packages/craftit/src/core/lifecycle.ts
  packages/craftit/src/core/signal.ts
  packages/craftit/src/craftit.test.ts
  packages/craftit/src/craftit.ts
  packages/craftit/src/index.ts
  packages/craftit/src/template/directives.ts
  packages/craftit/src/template/html.ts
  packages/craftit/src/template/reconciliation.ts
  packages/craftit/src/testing/index.ts
  packages/craftit/src/testing/render.ts
  packages/craftit/src/testing/testing.test.ts
  packages/craftit/src/testing/testing.ts
Due: lint:js, test:unit

feat(buildit): bugfixes and general improvements
  packages/craftit/TESTING.md
  packages/craftit/TYPE-IMPROVEMENTS.md
  packages/craftit/package.json
  packages/craftit/src/composables/context.ts
  packages/craftit/src/composables/index.ts
  packages/craftit/src/composables/props.ts
  packages/craftit/src/composables/ref.ts
  packages/craftit/src/composables/slots.ts
  packages/craftit/src/composables/style.ts
  packages/craftit/src/core/error-boundary.ts
  packages/craftit/src/core/index.ts
  packages/craftit/src/core/lazy.ts
  packages/craftit/src/core/signal.ts
  packages/craftit/src/core/types.ts
  packages/craftit/src/dev/hmr.ts
  packages/craftit/src/index.ts
  packages/craftit/src/template/html.ts
  packages/craftit/src/template/index.ts
  packages/craftit/src/template/sanitize.ts
  packages/craftit/src/utils/string.ts
  pnpm-lock.yaml
Due: lint:resources, lint:js

feat(buildit): bugfixes and general improvements
  packages/craftit/src/__tests__/html.test.ts
  packages/craftit/src/core/define.ts
  packages/craftit/src/core/signal.ts
  packages/craftit/src/core/types.ts
  packages/craftit/src/index.ts
  packages/craftit/src/template/_common.ts
  packages/craftit/src/template/html.ts
  packages/craftit/src/template/reconciliation.ts
Due: lint:js, test:unit

feat(buildit): bugfixes and general improvements
  packages/craftit/src/__tests__/composables.test.ts
  packages/craftit/src/__tests__/define.test.ts
  packages/craftit/src/__tests__/html.test.ts
  packages/craftit/src/__tests__/signal.test.ts
  packages/craftit/src/composables/context.ts
  packages/craftit/src/composables/index.ts
  packages/craftit/src/composables/props.ts
  packages/craftit/src/composables/ref.ts
  packages/craftit/src/composables/slots.ts
  packages/craftit/src/composables/style.ts
  packages/craftit/src/core/define.ts
  packages/craftit/src/core/error-boundary.ts
  packages/craftit/src/core/index.ts
  packages/craftit/src/core/lazy.ts
  packages/craftit/src/core/lifecycle.ts
  packages/craftit/src/core/signal.ts
  packages/craftit/src/core/types.ts
  packages/craftit/src/index.ts
  packages/craftit/src/template/_common.ts
  packages/craftit/src/template/directives.ts
  packages/craftit/src/template/html.ts
  packages/craftit/src/template/index.ts
  packages/craftit/src/template/reconciliation.ts
  packages/craftit/src/template/sanitize.ts
  packages/craftit/src/test/trial.ts
  packages/craftit/src/utils/string.ts
Due: lint:js, test:unit

feat(buildit): bugfixes and general improvements
  packages/craftit/src/index.ts
Due: lint:js

feat(buildit): bugfixes and general improvements
  docs/craftit/api.md
  docs/craftit/examples.md
  docs/craftit/index.md
  docs/craftit/usage.md
  packages/buildit/vitest.config.ts
  packages/craftit/README.md
  packages/craftit/package.json
  packages/craftit/src/__tests__/composables.test.ts
  packages/craftit/src/__tests__/define.test.ts
  packages/craftit/src/__tests__/html.test.ts
  packages/craftit/src/__tests__/lifecycle.test.ts
  packages/craftit/src/__tests__/trial.test.ts
  packages/craftit/src/craftit.ts
  packages/craftit/src/index.ts
  packages/craftit/src/trial/index.ts
  packages/craftit/src/trial/trial.ts
  packages/craftit/vite.config.ts
  packages/craftit/vitest.config.ts
  packages/deposit/vitest.config.ts
  packages/fetchit/vitest.config.ts
  packages/formit/vitest.config.ts
  packages/i18nit/vitest.config.ts
  packages/logit/vitest.config.ts
  packages/permit/vitest.config.ts
  packages/routeit/vitest.config.ts
  packages/snapit/vitest.config.ts
  packages/toolkit/vitest.config.ts
  packages/validit/vitest.config.ts
  packages/wireit/vitest.config.ts
Due: lint:resources, lint:js, test:unit

feat(buildit): bugfixes and general improvements
  docs/craftit/api.md
  docs/craftit/examples.md
  docs/craftit/index.md
  docs/craftit/usage.md
  packages/craftit/README.md
  packages/craftit/src/__tests__/composables.test.ts
  packages/craftit/src/craftit.ts
  packages/craftit/src/index.ts
  packages/craftit/src/trial/index.ts
  packages/craftit/vitest.setup.ts
Due: lint:js, test:unit

feat(buildit): bugfixes and general improvements
  packages/craftit/src/craftit.ts
Due: lint:js

feat(buildit): bugfixes and general improvements
  docs/index.md
  docs/public/logo-buildit.svg
  docs/public/logo-craftit.svg
  docs/public/logo-deposit.svg
  docs/public/logo-fetchit.svg
  docs/public/logo-formit.svg
  docs/public/logo-i18nit.svg
  docs/public/logo-logit.svg
  docs/public/logo-main.svg
  docs/public/logo-permit.svg
  docs/public/logo-routeit.svg
  docs/public/logo-snapit.svg
  docs/public/logo-toolkit.svg
  docs/public/logo-validit.svg
  docs/public/logo-wireit.svg
  docs/public/logo.svg
Due: none
