Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lint:resources:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  
    '

lint:js:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest related {staged_files}
  
    '

test:unit:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest {staged_files}
  
    '

feat: fix pnpm version
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  .github/workflows/test-pr.yml
  rush.json
Due: lint:resources

feat: new validit lib (#16)
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  .github/workflows/test-pr.yml
  docs/.vitepress/config.ts
  docs/index.md
  docs/public/logo-validit.svg
  docs/validit/DOCUMENTATION_SUMMARY.md
  docs/validit/api.md
  docs/validit/examples.md
  docs/validit/index.md
  docs/validit/usage.md
  package.json
  packages/validit/README.md
  packages/validit/package.json
  packages/validit/src/index.ts
  packages/validit/src/validit.test.ts
  packages/validit/src/validit.ts
  packages/validit/tsconfig.json
  packages/validit/vite.config.ts
  packages/validit/vitest.config.ts
  packages/validit/vitest.setup.ts
  pnpm-lock.yaml
  rush.json
Due: lint:resources, lint:js, test:unit

chore: improvements to the fechit lib
  common/changes/@vielzeug/fetchit/chore-general_code_improvements_2026-02-10-10-48.json
  docs/fetchit/api.md
  docs/fetchit/examples.md
  docs/fetchit/index.md
  docs/fetchit/usage.md
  docs/public/localhost_5173_vielzeug_.png
  docs/validit/DOCUMENTATION_SUMMARY.md
  packages/fetchit/README.md
  packages/fetchit/src/fetchit.test.ts
  packages/fetchit/src/fetchit.ts
Due: lint:resources, lint:js, test:unit

chore: improvements to the deposit lib
  docs/deposit/api.md
  docs/deposit/examples.md
  docs/deposit/index.md
  docs/deposit/usage.md
  packages/deposit/README.md
  packages/deposit/src/deposit.test.ts
  packages/deposit/src/deposit.ts
Due: lint:js, test:unit

chore: update README
  README.md
  docs/fetchit/index.md
  docs/formit/index.md
  docs/i18nit/index.md
  docs/logit/index.md
  docs/permit/index.md
  docs/toolkit/index.md
Due: none

chore: improvements to the formit lib
  common/changes/@vielzeug/deposit/chore-general_code_improvements_2026-02-10-15-32.json
  common/changes/@vielzeug/formit/chore-general_code_improvements_2026-02-10-15-32.json
  docs/formit/api.md
  docs/formit/index.md
  docs/formit/usage.md
  packages/formit/README.md
  packages/formit/src/formit.test.ts
  packages/formit/src/formit.ts
Due: lint:resources, lint:js, test:unit

chore: improvements to the permit lib
  common/changes/@vielzeug/permit/chore-general_code_improvements_2026-02-10-16-00.json
  docs/permit/api.md
  docs/permit/index.md
  docs/permit/usage.md
  packages/permit/README.md
  packages/permit/src/permit.test.ts
  packages/permit/src/permit.ts
Due: lint:resources, lint:js, test:unit

chore: fix lint
  packages/deposit/src/deposit.test.ts
  packages/fetchit/src/fetchit.test.ts
  packages/fetchit/src/fetchit.ts
  packages/formit/src/formit.ts
  packages/permit/src/permit.test.ts
  packages/permit/src/permit.ts
Due: lint:js, test:unit

chore: improvements to the i18nit lib
  common/changes/@vielzeug/i18nit/chore-general_code_improvements_2026-02-10-17-58.json
  docs/i18nit/api.md
  docs/i18nit/index.md
  docs/i18nit/usage.md
  packages/i18nit/README.md
  packages/i18nit/src/i18nit.test.ts
  packages/i18nit/src/i18nit.ts
Due: lint:resources, lint:js, test:unit

chore: cleanup changelog files
  .github/workflows/release.yml
  common/changes/@vielzeug/deposit/chore-general_code_improvements_2026-02-10-15-32.json
  common/changes/@vielzeug/deposit/chore-general_improvements_2026-02-02-10-03.json
  common/changes/@vielzeug/deposit/feat-improve_list_2026-02-06-10-55.json
  common/changes/@vielzeug/deposit/fix-release_pipeline_2025-12-09-13-54.json
  common/changes/@vielzeug/deposit/main_2026-02-03-15-26.json
  common/changes/@vielzeug/deposit/main_2026-02-03-18-54.json
  common/changes/@vielzeug/fetchit/chore-general_code_improvements_2026-02-10-10-48.json
  common/changes/@vielzeug/fetchit/chore-general_improvements_2026-02-02-10-03.json
  common/changes/@vielzeug/fetchit/feat-improved-fetchit_2026-02-07-05-20.json
  common/changes/@vielzeug/fetchit/fix-release_pipeline_2025-12-09-13-54.json
  common/changes/@vielzeug/fetchit/main_2026-02-03-14-23.json
  common/changes/@vielzeug/fetchit/main_2026-02-03-15-26.json
  common/changes/@vielzeug/fetchit/main_2026-02-03-18-54.json
  common/changes/@vielzeug/formit/chore-general_code_improvements_2026-02-10-15-32.json
  common/changes/@vielzeug/formit/main_2026-02-07-06-57.json
  common/changes/@vielzeug/i18nit/chore-general_code_improvements_2026-02-10-17-58.json
  common/changes/@vielzeug/i18nit/feat-new-i18nit-lib_2026-02-09-13-07.json
  common/changes/@vielzeug/logit/chore-general_improvements_2026-02-02-10-03.json
  common/changes/@vielzeug/logit/chore-minor_changes_2026-02-05-09-14.json
  common/changes/@vielzeug/logit/fix-release_pipeline_2025-12-09-13-54.json
  common/changes/@vielzeug/logit/main_2026-02-03-15-26.json
  common/changes/@vielzeug/logit/main_2026-02-03-18-54.json
  common/changes/@vielzeug/permit/chore-general_code_improvements_2026-02-10-16-00.json
  common/changes/@vielzeug/permit/chore-general_improvements_2026-02-02-10-03.json
  common/changes/@vielzeug/permit/fix-release_pipeline_2025-12-09-13-54.json
  common/changes/@vielzeug/permit/main_2026-02-03-15-26.json
  common/changes/@vielzeug/permit/main_2026-02-03-18-54.json
  common/changes/@vielzeug/toolkit/chore-general_improvements_2026-02-02-10-03.json
  common/changes/@vielzeug/toolkit/chore-minor_changes_2026-02-05-09-14.json
  common/changes/@vielzeug/toolkit/feat-improve_list_2026-02-06-10-55.json
  common/changes/@vielzeug/toolkit/feat-improved-fetchit_2026-02-07-05-20.json
  common/changes/@vielzeug/toolkit/fix-release_pipeline_2025-12-09-13-54.json
  common/changes/@vielzeug/toolkit/fix-update_npmrc_config_2026-02-02-10-16.json
Due: lint:resources

chore: improvements to the logit lib
  docs/logit/api.md
  docs/logit/examples.md
  docs/logit/index.md
  docs/logit/usage.md
  packages/logit/README.md
  packages/logit/src/logit.test.ts
  packages/logit/src/logit.ts
Due: lint:js, test:unit

chore: general improvements and bugfixes
  .github/workflows/release-test.yml
  common/changes/@vielzeug/deposit/chore-general_code_improvements_2026-02-10-20-03.json
  common/changes/@vielzeug/fetchit/chore-general_code_improvements_2026-02-10-20-03.json
  common/changes/@vielzeug/formit/chore-general_code_improvements_2026-02-10-20-03.json
  common/changes/@vielzeug/i18nit/chore-general_code_improvements_2026-02-10-20-03.json
  common/changes/@vielzeug/logit/chore-general_code_improvements_2026-02-10-20-03.json
  common/changes/@vielzeug/permit/chore-general_code_improvements_2026-02-10-20-03.json
  docs/logit/api.md
  docs/logit/examples.md
  docs/logit/index.md
  docs/logit/usage.md
  packages/logit/README.md
  packages/logit/src/logit.test.ts
  packages/logit/src/logit.ts
Due: lint:resources, lint:js, test:unit

chore: update README
  packages/i18nit/README.md
  packages/logit/README.md
  packages/permit/README.md
  packages/toolkit/README.md
Due: none

chore: update github actions
  .github/workflows/ci.yml
  .github/workflows/release-all.yml
  .github/workflows/release.yml
  .github/workflows/test-pr.yml
Due: lint:resources

feat: add @vielzeug/validit package configuration
  rush.json
Due: lint:resources

feat: improve release notes generation in release-all.yml
  .github/workflows/release-all.yml
Due: lint:resources

feat: add TypeScript and Vite dependencies for validit package
  common/config/rush/pnpm-lock.yaml
Due: none

feat: enhance release process by managing change files for selected packages
  .github/workflows/release.yml
Due: lint:resources

feat: enhance npm publishing process by packing and verifying tarballs
  .github/workflows/release-all.yml
  .github/workflows/release.yml
Due: lint:resources

feat: improve tagging process by checking for existing tags and handling deletions
  .github/workflows/release-all.yml
  .github/workflows/release.yml
Due: lint:resources

feat: enhance release workflow by calculating next version and validating version bump
  .github/workflows/release.yml
Due: lint:resources

feat: enhance version validation in release workflow by checking npm version and comparing with local version
  .github/workflows/release.yml
Due: lint:resources

feat: streamline release workflow by committing change files and enhancing version validation
  .github/workflows/release.yml
Due: lint:resources

docs: simplify README by removing unnecessary HTML and badges
  packages/toolkit/README.md
Due: none

docs: improved examples
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/REPLComponent.vue
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/deposit/examples.md
  docs/deposit/index.md
  docs/fetchit/examples.md
  docs/fetchit/index.md
  docs/formit/examples.md
  docs/formit/index.md
  docs/formit/usage.md
  docs/i18nit/examples.md
  docs/index.md
  docs/logit/examples.md
  docs/logit/index.md
  docs/permit/examples.md
  docs/public/logo-deposit.svg
  docs/public/logo-fetchit.svg
  docs/public/logo-logit.svg
  docs/public/logo-toolkit.svg
  docs/toolkit/index.md
  docs/validit/examples.md
  package.json
  pnpm-lock.yaml
Due: lint:resources, lint:js

docs: improved examples (#18)
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/REPLComponent.vue
  docs/.vitepress/theme/components/repl/examples.ts
  docs/.vitepress/theme/components/repl/types.ts
  docs/deposit/examples.md
  docs/deposit/index.md
  docs/fetchit/examples.md
  docs/fetchit/index.md
  docs/formit/examples.md
  docs/formit/index.md
  docs/formit/usage.md
  docs/i18nit/examples.md
  docs/index.md
  docs/logit/examples.md
  docs/logit/index.md
  docs/permit/examples.md
  docs/public/logo-deposit.svg
  docs/public/logo-fetchit.svg
  docs/public/logo-logit.svg
  docs/public/logo-toolkit.svg
  docs/toolkit/index.md
  docs/validit/examples.md
  package.json
  pnpm-lock.yaml
Due: lint:resources, lint:js

feat: added change files
  common/changes/@vielzeug/fetchit/feat-new-wireit-lib_2026-02-12-11-30.json
  common/changes/@vielzeug/permit/feat-new-wireit-lib_2026-02-12-11-30.json
Due: lint:resources

chore(i18nit): improved array support
  README.md
  common/changes/@vielzeug/deposit/chore-i18nit-array-support_2026-02-12-13-22.json
  common/changes/@vielzeug/fetchit/chore-i18nit-array-support_2026-02-12-13-22.json
  common/changes/@vielzeug/i18nit/chore-i18nit-array-support_2026-02-12-13-22.json
  common/changes/@vielzeug/logit/chore-i18nit-array-support_2026-02-12-13-22.json
  common/changes/@vielzeug/validit/chore-i18nit-array-support_2026-02-12-13-22.json
  common/changes/@vielzeug/wireit/chore-i18nit-array-support_2026-02-12-13-22.json
  docs/deposit/index.md
  docs/fetchit/index.md
  docs/formit/index.md
  docs/i18nit/api.md
  docs/i18nit/examples.md
  docs/i18nit/index.md
  docs/i18nit/usage.md
  docs/logit/index.md
  docs/permit/index.md
  docs/validit/index.md
  docs/wireit/index.md
  packages/deposit/README.md
  packages/fetchit/README.md
  packages/i18nit/README.md
  packages/i18nit/src/i18nit.test.ts
  packages/i18nit/src/i18nit.ts
  packages/logit/README.md
  packages/validit/README.md
  packages/wireit/README.md
Due: lint:resources, lint:js, test:unit

chore(i18nit): improved array support (#20)
  README.md
  common/changes/@vielzeug/deposit/chore-i18nit-array-support_2026-02-12-13-22.json
  common/changes/@vielzeug/fetchit/chore-i18nit-array-support_2026-02-12-13-22.json
  common/changes/@vielzeug/i18nit/chore-i18nit-array-support_2026-02-12-13-22.json
  common/changes/@vielzeug/logit/chore-i18nit-array-support_2026-02-12-13-22.json
  common/changes/@vielzeug/validit/chore-i18nit-array-support_2026-02-12-13-22.json
  common/changes/@vielzeug/wireit/chore-i18nit-array-support_2026-02-12-13-22.json
  docs/deposit/index.md
  docs/fetchit/index.md
  docs/formit/index.md
  docs/i18nit/api.md
  docs/i18nit/examples.md
  docs/i18nit/index.md
  docs/i18nit/usage.md
  docs/logit/index.md
  docs/permit/index.md
  docs/validit/index.md
  docs/wireit/index.md
  packages/deposit/README.md
  packages/fetchit/README.md
  packages/i18nit/README.md
  packages/i18nit/src/i18nit.test.ts
  packages/i18nit/src/i18nit.ts
  packages/logit/README.md
  packages/validit/README.md
  packages/wireit/README.md
Due: lint:resources, lint:js, test:unit

feat(release): enhance version detection and publishing process
  .github/workflows/release-all.yml
Due: lint:resources

chore(validit): code cleanup
  common/changes/@vielzeug/i18nit/chore-validit-code-cleanup_2026-02-12-14-17.json
  common/changes/@vielzeug/validit/chore-validit-code-cleanup_2026-02-12-14-17.json
  docs/validit/api.md
  docs/validit/examples.md
  docs/validit/index.md
  docs/validit/usage.md
  packages/i18nit/src/i18nit.test.ts
  packages/validit/README.md
  packages/validit/src/validit.test.ts
  packages/validit/src/validit.ts
Due: lint:resources, lint:js, test:unit

chore(validit): code cleanup (#21)
  common/changes/@vielzeug/i18nit/chore-validit-code-cleanup_2026-02-12-14-17.json
  common/changes/@vielzeug/validit/chore-validit-code-cleanup_2026-02-12-14-17.json
  docs/validit/api.md
  docs/validit/examples.md
  docs/validit/index.md
  docs/validit/usage.md
  packages/i18nit/src/i18nit.test.ts
  packages/validit/README.md
  packages/validit/src/validit.test.ts
  packages/validit/src/validit.ts
Due: lint:resources, lint:js, test:unit

docs: update contributing guide and pull request template
  .github/contributing.md
  .github/next-major.md
  .github/next-minor.md
  .github/pull_request_template.md
Due: none

chore(permit): code cleanup
  common/changes/@vielzeug/permit/chore-permit-code-cleanup_2026-02-12-14-50.json
  docs/permit/api.md
  docs/permit/examples.md
  docs/permit/index.md
  docs/permit/usage.md
  packages/permit/README.md
  packages/permit/src/permit.test.ts
  packages/permit/src/permit.ts
Due: lint:resources, lint:js, test:unit

chore(permit): code cleanup (#22)
  common/changes/@vielzeug/permit/chore-permit-code-cleanup_2026-02-12-14-50.json
  docs/permit/api.md
  docs/permit/examples.md
  docs/permit/index.md
  docs/permit/usage.md
  packages/permit/README.md
  packages/permit/src/permit.test.ts
  packages/permit/src/permit.ts
Due: lint:resources, lint:js, test:unit

Path conditions:
  lint:resources: any of: *.{html,json,yml}
  lint:js: any of: *[!.{spec,test}].{[tj]s,[tj]sx}
  test:unit: any of: *.{spec,test}.{[tj]s,[tj]sx}
