Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lefthook.yml:

pre-commit:
  piped: true
  follow: true
  commands:
    lint:resources:
      glob: '*.{html,json,yml}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    lint:js:
      glob: '*[!.{spec,test}].{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest related {staged_files}
    test:unit:
      glob: '*.{spec,test}.{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest {staged_files}

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,md,mdx,html}"
      run: npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

feat: added change files
  common/changes/@vielzeug/arsenal/2026-06-09-16-20.json
  common/changes/@vielzeug/clockwork/2026-06-09-16-20.json
  common/changes/@vielzeug/codex/2026-06-09-16-20.json
  common/changes/@vielzeug/coins/2026-06-09-16-20.json
  common/changes/@vielzeug/conduit/2026-06-09-16-20.json
  common/changes/@vielzeug/courier/2026-06-09-16-20.json
  common/changes/@vielzeug/craft/2026-06-09-16-20.json
  common/changes/@vielzeug/familiar/2026-06-09-16-20.json
  common/changes/@vielzeug/forge/2026-06-09-16-20.json
  common/changes/@vielzeug/grip/2026-06-09-16-20.json
  common/changes/@vielzeug/herald/2026-06-09-16-20.json
  common/changes/@vielzeug/lingua/2026-06-09-16-20.json
  common/changes/@vielzeug/orbit/2026-06-09-16-20.json
  common/changes/@vielzeug/ripple/2026-06-09-16-20.json
  common/changes/@vielzeug/rune/2026-06-09-16-20.json
  common/changes/@vielzeug/scroll/2026-06-09-16-20.json
  common/changes/@vielzeug/sigil/2026-06-09-16-20.json
  common/changes/@vielzeug/sourcerer/2026-06-09-16-20.json
  common/changes/@vielzeug/spell/2026-06-09-16-20.json
  common/changes/@vielzeug/tempo/2026-06-09-16-20.json
  common/changes/@vielzeug/vault/2026-06-09-16-20.json
  common/changes/@vielzeug/ward/2026-06-09-16-20.json
  common/changes/@vielzeug/wayfinder/2026-06-09-16-20.json
Due: lint:resources

feat: new prism package
  pnpm-lock.yaml
Due: none

feat: new prism package
  common/config/rush/pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

feat: new prism package
  packages/ripple/src/store.ts
Due: none

feat: new prism package
  .github/workflows/ci.yml
  .github/workflows/test-pr.yml
  packages/sigil/vitest.config.ts
Due: lint:resources, lint:js

feat: new prism package
  packages/prism/vitest.config.ts
Due: lint:js

fix: version number in the homepage
  docs/.vitepress/theme/components/HomePage.vue
Due: none

chore: general improvements and bugfixes
  common/config/rush/pnpm-lock.yaml
Due: none

chore: added missing change files
  common/changes/@vielzeug/codex/chore-general_improvements_and_bugfixes-2026-06-15.json
  common/changes/@vielzeug/prism/chore-general_improvements_and_bugfixes-2026-06-15.json
  packages/sigil/src/inputs/button/button.css
  packages/sigil/src/inputs/combobox/combobox.css
  packages/sigil/src/inputs/select/select.css
  packages/sigil/src/inputs/slider/slider.css
  packages/sigil/src/layout/box/box.css
  packages/sigil/src/layout/sidebar/sidebar.css
  packages/sigil/src/styles/theme.css
Due: lint:resources

chore: fix tempo unit test
  common/changes/@vielzeug/tempo/chore-general_improvements_and_bugfixes-2026-06-15.json
  packages/tempo/src/__tests__/tempo.test.ts
Due: lint:resources, lint:js, test:unit

chore: general improvements and bugfixes
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/HomePage.vue
Due: lint:js

chore: general improvements and bugfixes
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples/arsenal/async-attempt.ts
  docs/.vitepress/theme/components/repl/examples/arsenal/function-memo.ts
  docs/.vitepress/theme/components/repl/examples/arsenal/index.ts
  docs/.vitepress/theme/components/repl/examples/arsenal/object-getPath.ts
  docs/.vitepress/theme/components/repl/examples/arsenal/object-hash.ts
  docs/.vitepress/theme/components/repl/examples/arsenal/object-parseJSON.ts
  docs/.vitepress/theme/components/repl/types/arsenal.ts
  docs/arsenal/api.md
  docs/arsenal/examples/json.md
  docs/arsenal/examples/json/parseJSON.md
  docs/arsenal/examples/object.md
  docs/arsenal/examples/object/hash.md
  docs/arsenal/examples/object/parseJSON.md
  docs/arsenal/examples/object/stash.md
  docs/arsenal/index.md
  docs/arsenal/usage.md
  packages/arsenal/src/index.ts
  packages/arsenal/src/object/__tests__/hash.test.ts
  packages/arsenal/src/object/hash.ts
  packages/arsenal/src/object/index.ts
  packages/codex/scripts/generate-bundled-data.ts
  packages/codex/src/llms.ts
  packages/courier/src/__tests__/serialize.test.ts
  packages/courier/src/api.ts
  packages/courier/src/persist.ts
  packages/courier/src/query.ts
  packages/courier/src/serialize.ts
  packages/sourcerer/src/codecs.ts
  packages/sourcerer/src/utils.ts
Due: lint:js, test:unit

chore: general improvements and bugfixes
  .devin/workflows/pkg-docs.md
  .devin/workflows/pkg-implement.md
  .devin/workflows/pkg-plan.md
  .devin/workflows/pkg-repl.md
  .devin/workflows/pkg-review.md
  .devin/workflows/pkg-security.md
  .devin/workflows/pkg-tests.md
  .devin/workflows/pkg-workflow.md
  docs/.vitepress/theme/components/repl/types/ripple.ts
  docs/ripple/api.md
  docs/ripple/examples.md
  docs/ripple/examples/async-computed.md
  docs/ripple/examples/derive-and-filter.md
  docs/ripple/examples/signals.md
  docs/ripple/index.md
  docs/ripple/usage.md
  packages/codex/src/__tests__/server.test.ts
  packages/codex/src/__tests__/unit.test.ts
  packages/codex/src/cli.ts
  packages/codex/src/data.ts
  packages/codex/src/frontmatter.ts
  packages/codex/src/generator.ts
  packages/codex/src/http.ts
  packages/codex/src/index.ts
  packages/codex/src/llms.ts
  packages/codex/src/resources.ts
  packages/codex/src/types.ts
  packages/ripple/src/__tests__/ripple.test.ts
  packages/ripple/src/computed.ts
  packages/ripple/src/effect.ts
  packages/ripple/src/index.ts
  packages/ripple/src/subscription.ts
  packages/ripple/src/types.ts
  packages/ripple/src/utilities.ts
Due: lint:js, test:unit

chore: general improvements and bugfixes
  .github/workflows/ci.yml
Due: lint:resources

chore: general improvements and bugfixes
  packages/craft/src/testing/mount.ts
Due: lint:js

chore: update github actions
  .github/actions/publish-package/action.yml
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release-all.yml
  .github/workflows/release.yml
  .github/workflows/test-pr.yml
Due: lint:resources

chore: update github actions
  .github/workflows/ci.yml
  .github/workflows/test-pr.yml
Due: lint:resources

chore: update github actions
  .github/actions/publish-package/action.yml
  .github/actions/setup/action.yml
  .github/workflows/_test-lint.yml
  .github/workflows/ci.yml
  .github/workflows/release-all.yml
  .github/workflows/release.yml
  .github/workflows/test-pr.yml
Due: lint:resources

chore: update github actions
  .github/workflows/_test-lint.yml
  .github/workflows/ci.yml
Due: lint:resources
