Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lint:resources:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  
    '

lint:js:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest related {staged_files}
  
    '

test:unit:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest {staged_files}
  
    '

feat(orbit): add getContainingBlock() and getClippingAncestorRect() for auto-detecting position
  common/changes/@vielzeug/orbit/agent_1784027625780.json
  docs/refine/components/date-picker.md
  packages/orbit/src/__tests__/containing-block.test.ts
  packages/orbit/src/__tests__/orbit.test.ts
  packages/orbit/src/auto-update.ts
  packages/orbit/src/containing-block.ts
  packages/orbit/src/index.ts
  packages/orbit/src/overflow.ts
  packages/orbit/src/utils.ts
  packages/refine/src/headless/positioner.ts
  packages/refine/src/inputs/date-picker/date-picker.css
  packages/refine/src/inputs/date-picker/date-picker.ts
Due: lint:resources, lint:js, test:unit

fix(refine): dropdown-style overlays
  common/changes/@vielzeug/refine/agent_1784027633832.json
  common/changes/@vielzeug/refine/agent_1784101290264.json
  packages/refine/src/headless/__tests__/positioner.test.ts
  packages/refine/src/headless/positioner.ts
  packages/refine/src/overlay/dialog/dialog.test.ts
  packages/refine/src/overlay/shared/use-dialog.ts
Due: lint:resources, lint:js, test:unit

chore(refine): ore-input, ore-number-input, ore-combobox, and ore-date-picker now set a 12rem min-width
  common/changes/@vielzeug/refine/agent_1784103511308.json
  packages/refine/src/inputs/combobox/combobox.css
  packages/refine/src/inputs/date-picker/date-picker.css
  packages/refine/src/inputs/input/input.css
  packages/refine/src/inputs/number-input/number-input.css
Due: lint:resources

fix(refine): ore-select's and ore-date-picker's inner ore-input trigger now stretches
  common/changes/@vielzeug/refine/agent_1784110047704.json
  packages/refine/src/inputs/date-picker/date-picker.css
  packages/refine/src/inputs/select/select.css
Due: lint:resources

fix(refine): ore-toast now registers ore-alert internally
  common/changes/@vielzeug/refine/agent_1784119192876.json
  packages/refine/src/feedback/toast/toast.ts
Due: lint:resources, lint:js

fix(refine): ore-navbar's mobile toggle button and menu panel now respect their own hidden state
  .gitignore
  common/changes/@vielzeug/refine/agent_1784181233132.json
  packages/refine/src/layout/navbar/navbar.css
  packages/refine/src/layout/navbar/navbar.test.ts
  packages/refine/src/layout/navbar/navbar.ts
Due: lint:resources, lint:js, test:unit

feat: add release workflow for tagging and GitHub releases without npm publish
  .github/AGENTS.md
  .github/workflows/release.yml
  scripts/release/__tests__/cli.test.mjs
  scripts/release/cli.mjs
Due: lint:resources

feat: enhance release workflow with mode selection for tagging and GitHub releases
  .github/AGENTS.md
  .github/workflows/release.yml
  scripts/release/__tests__/cli.test.mjs
  scripts/release/__tests__/release-only-plan.test.mjs
  scripts/release/__tests__/tag-and-release.test.mjs
  scripts/release/cli.mjs
  scripts/release/release-only-plan.mjs
  scripts/release/tag-and-release.mjs
Due: lint:resources

feat: added kanban demo
  demos/kanban/index.html
  demos/kanban/package.json
  demos/kanban/pnpm-lock.yaml
  demos/kanban/pnpm-workspace.yaml
  demos/kanban/src/core/api.ts
  demos/kanban/src/core/auth.ts
  demos/kanban/src/core/board-store.ts
  demos/kanban/src/core/csv-export.ts
  demos/kanban/src/core/events.ts
  demos/kanban/src/core/format.ts
  demos/kanban/src/core/history.ts
  demos/kanban/src/core/i18n.ts
  demos/kanban/src/core/logger.ts
  demos/kanban/src/core/persistence.ts
  demos/kanban/src/core/realtime.ts
  demos/kanban/src/core/router.ts
  demos/kanban/src/core/search-index.ts
  demos/kanban/src/core/seed-data.ts
  demos/kanban/src/core/task-actions.ts
  demos/kanban/src/core/task-machine.ts
  demos/kanban/src/core/types.ts
  demos/kanban/src/main.ts
  demos/kanban/src/styles/app.css
  demos/kanban/src/ui/app-shell.ts
  demos/kanban/src/ui/components/column.ts
  demos/kanban/src/ui/components/task-card.ts
  demos/kanban/src/ui/components/task-dialog.ts
  demos/kanban/src/ui/views/analytics.ts
  demos/kanban/src/ui/views/backlog.ts
  demos/kanban/src/ui/views/board.ts
  demos/kanban/src/ui/views/settings.ts
  demos/kanban/src/vite-env.d.ts
  demos/kanban/tsconfig.json
  demos/kanban/vite.config.ts
Due: lint:resources, lint:js

fix(refine): match externalized subpath imports
  common/changes/@vielzeug/refine/agent_1784211984112.json
  packages/refine/vite.config.ts
Due: lint:resources, lint:js

chore(demo): refactor API and user management for improved task handling and persistence
  demos/kanban/package.json
  demos/kanban/pnpm-lock.yaml
  demos/kanban/pnpm-workspace.yaml
  demos/kanban/src/core/api.ts
  demos/kanban/src/core/board-store.ts
  demos/kanban/src/core/csv-export.ts
  demos/kanban/src/core/history.ts
  demos/kanban/src/core/i18n.ts
  demos/kanban/src/core/persistence.ts
  demos/kanban/src/core/seed-data.ts
  demos/kanban/src/core/types.ts
  demos/kanban/src/core/users.ts
  demos/kanban/src/ui/app-shell.ts
  demos/kanban/src/ui/components/column.ts
  demos/kanban/src/ui/components/task-card.ts
  demos/kanban/src/ui/components/task-dialog.ts
  demos/kanban/src/ui/views/analytics.ts
  demos/kanban/src/ui/views/backlog.ts
  demos/kanban/tsconfig.json
  demos/kanban/vite.config.ts
Due: lint:resources, lint:js

feat: update packages file handling to format JSON with Prettier and support async main function
  scripts/sync-ai-data.mjs
  scripts/sync-catalogue.mjs
  scripts/sync-workflow-docs.mjs
Due: none

feat: update packages file handling to format JSON with Prettier and support async main function
  demos/kanban/package.json
  demos/kanban/pnpm-lock.yaml
  demos/kanban/pnpm-workspace.yaml
Due: lint:resources

fix(ripple): correct disposed state for top-level store lenses
  common/changes/@vielzeug/ripple/agent_1784262542157.json
  packages/ripple/src/__tests__/store.test.ts
  packages/ripple/src/devtools.ts
  packages/ripple/src/store.ts
  packages/ripple/src/tracking.ts
  packages/ripple/src/utilities.ts
Due: lint:resources, lint:js, test:unit

fix(ore): guard against silent template/test-utility failure states
  .ai/tasks/change.md
  common/changes/@vielzeug/ore/agent_1784267591151.json
  packages/ore/src/__tests__/directives.test.ts
  packages/ore/src/__tests__/render-hook.test.ts
  packages/ore/src/__tests__/resize-observe.test.ts
  packages/ore/src/__tests__/runtime-lifecycle.test.ts
  packages/ore/src/__tests__/testing.test.ts
  packages/ore/src/errors.ts
  packages/ore/src/template/compiler.ts
  packages/ore/src/testing/mount.ts
  packages/ore/src/testing/render-hook.ts
  packages/ore/src/testing/wait.ts
  packages/refine/vitest.config.ts
Due: lint:resources, lint:js, test:unit

fix: resolve ripple from source in tests and externalize bundle dep
  common/changes/@vielzeug/pulse/agent_1784269503352.json
  common/changes/@vielzeug/refine/agent_1784270760804.json
  packages/pulse/vite.bundle.config.ts
  packages/pulse/vitest.config.ts
Due: lint:resources, lint:js

feat(pulse): harden frame handling and memoize presence channels
  common/changes/@vielzeug/pulse/agent_1784271897491.json
  packages/pulse/README.md
  packages/pulse/src/__tests__/presence.test.ts
  packages/pulse/src/__tests__/protocol.test.ts
  packages/pulse/src/__tests__/pulse.test.ts
  packages/pulse/src/__tests__/reconnect.test.ts
  packages/pulse/src/channel.ts
  packages/pulse/src/presence.ts
  packages/pulse/src/protocol.ts
  packages/pulse/src/pulse.ts
  packages/pulse/src/reconnect.ts
  packages/pulse/src/types.ts
Due: lint:resources, lint:js, test:unit

feat(forge): improve scoped adapter ergonomics and scoped path documentation
  common/changes/@vielzeug/forge/agent_1784274246887.json
  docs/forge/usage.md
  packages/forge/README.md
  packages/forge/src/__tests__/form/security.test.ts
  packages/forge/src/_utils.ts
  packages/forge/src/core/scope.ts
Due: lint:resources, lint:js, test:unit

fix(sourcerer): align async search orchestration and stale optimistic refresh
  common/changes/@vielzeug/sourcerer/agent_1784274787529.json
  docs/sourcerer/api.md
  docs/sourcerer/usage.md
  packages/sourcerer/README.md
  packages/sourcerer/src/__tests__/presets.test.ts
  packages/sourcerer/src/__tests__/remoteSource.test.ts
  packages/sourcerer/src/_dev.ts
  packages/sourcerer/src/asyncSearch.ts
  packages/sourcerer/src/cursorSource.ts
  packages/sourcerer/src/index.ts
  packages/sourcerer/src/infiniteSource.ts
  packages/sourcerer/src/presets.ts
  packages/sourcerer/src/remoteSource.ts
Due: lint:resources, lint:js, test:unit

fix(ward): fail closed on async predicates
  common/changes/@vielzeug/ward/agent_1784275551137.json
  docs/ward/api.md
  packages/ward/src/__tests__/factory.test.ts
  packages/ward/src/_dev.ts
  packages/ward/src/_match.ts
Due: lint:resources, lint:js, test:unit

fix(ward): update ward behavior and docs
  common/changes/@vielzeug/ward/agent_1784280560471.json
  demos/kanban/src/core/task-actions.ts
  docs/ward/api.md
  docs/ward/examples/blog-roles.md
  docs/ward/examples/bound-guard-in-ui-layer.md
  docs/ward/examples/disabling-wildcard-fallback.md
  docs/ward/examples/inheritance-and-overrides.md
  docs/ward/examples/logger-for-auditing.md
  docs/ward/examples/multi-role-rules.md
  docs/ward/examples/snapshot-restore-for-test-isolation.md
  docs/ward/examples/trace-decision.md
  docs/ward/examples/wildcard-action.md
  docs/ward/index.md
  docs/ward/usage.md
  packages/ward/README.md
  packages/ward/src/__tests__/builder.test.ts
  packages/ward/src/__tests__/devtools.test.ts
  packages/ward/src/__tests__/factory.test.ts
  packages/ward/src/__tests__/middleware.test.ts
  packages/ward/src/__tests__/resource.test.ts
  packages/ward/src/devtools.ts
  packages/ward/src/factory.ts
  packages/ward/src/index.ts
  packages/ward/src/middleware.ts
  packages/ward/src/types.ts
  scripts/generate-repl-registry.ts
Due: lint:resources, lint:js, test:unit

feat(spell): add scoped spell overrides and async variant parsing
  common/changes/@vielzeug/spell/agent_1784281071420.json
  docs/spell/api.md
  docs/spell/index.md
  docs/spell/usage.md
  packages/spell/README.md
  packages/spell/src/__tests__/core-errors.test.ts
  packages/spell/src/__tests__/variant.test.ts
  packages/spell/src/index.ts
  packages/spell/src/messages.ts
  packages/spell/src/schemas/variant.ts
Due: lint:resources, lint:js, test:unit

feat(clockwork): add hydrated-context validation option and snapshot-safe subscriptions
  common/changes/@vielzeug/clockwork/agent_1784281873389.json
  docs/clockwork/api.md
  docs/clockwork/usage.md
  packages/clockwork/src/__tests__/machine.test.ts
  packages/clockwork/src/interpret.ts
  packages/clockwork/src/types.ts
Due: lint:resources, lint:js, test:unit

fix(courier): align loading baseline and disposed subscription behavior
  common/changes/@vielzeug/courier/agent_1784282830313.json
  docs/courier/api.md
  docs/courier/usage.md
  packages/courier/README.md
  packages/courier/src/__tests__/mutation.test.ts
  packages/courier/src/__tests__/query.test.ts
  packages/courier/src/mutation.ts
  packages/courier/src/query-observe.ts
Due: lint:resources, lint:js, test:unit

fix(lingua): harden namespace and subscription lifecycle behavior
  common/changes/@vielzeug/lingua/agent_1784284208774.json
  docs/lingua/api.md
  packages/lingua/src/__tests__/i18n.lifecycle.test.ts
  packages/lingua/src/__tests__/i18n.namespaces.test.ts
  packages/lingua/src/__tests__/i18n.test.ts
  packages/lingua/src/i18n-types.ts
  packages/lingua/src/i18n.ts
Due: lint:resources, lint:js, test:unit

feat(demo): added theme support to the kanban demo
  demos/kanban/src/core/i18n.ts
  demos/kanban/src/core/persistence.ts
  demos/kanban/src/core/theme.ts
  demos/kanban/src/styles/app.css
  demos/kanban/src/ui/views/settings.ts
Due: lint:js

chore(deps): update dependencies to latest versions
  demos/kanban/package.json
Due: lint:resources

chore(deps): update dependencies to latest versions
  demos/kanban/pnpm-lock.yaml
  demos/kanban/pnpm-workspace.yaml
Due: none

feat(showcases): add showcases documentation and Kanban demo details
  demos/kanban/src/ui/app-shell.ts
  docs/guide/index.md
  docs/guide/showcases.md
Due: lint:js

fix(dnd): avoid starting touch drag on tap
  AGENTS.md
  common/changes/@vielzeug/dnd/agent_1784523451117.json
  common/changes/@vielzeug/dnd/agent_1784614991773.json
  demos/kanban/src/core/history.ts
  demos/kanban/src/ui/app-shell.ts
  demos/kanban/src/ui/components/column.ts
  docs/dnd/api.md
  docs/dnd/usage.md
  packages/dnd/src/__tests__/sortable.test.ts
  packages/dnd/src/__tests__/touch.test.ts
  packages/dnd/src/sortable.ts
  packages/dnd/src/touch.ts
Due: lint:resources, lint:js, test:unit

fix(scout): score fuzzy matches with the overlap coefficient instead of Sorensen–Dice
  common/changes/@vielzeug/scout/agent_1784618201953.json
  docs/scout/api.md
  docs/scout/index.md
  docs/scout/usage.md
  packages/scout/src/__tests__/adapters.test.ts
  packages/scout/src/__tests__/index.test.ts
  packages/scout/src/scout-index.ts
  packages/scout/src/trigram.ts
  packages/scout/src/types.ts
Due: lint:resources, lint:js, test:unit

chore(demo): update kanban dependencies to latest versions
  demos/kanban/package.json
  demos/kanban/pnpm-lock.yaml
  demos/kanban/pnpm-workspace.yaml
Due: lint:resources

fix(courier): remove dead QueryClientOptions.fetch
  common/changes/@vielzeug/courier/agent_1784636345384.json
  packages/courier/src/courier.ts
  packages/courier/src/query.ts
  packages/courier/src/stream-readable.ts
  packages/courier/src/stream-shared.ts
  packages/courier/src/stream-sse.ts
  packages/courier/src/stream.ts
Due: lint:resources, lint:js

fix(scout): a single shared trigram no longer counts as a fuzzy match, fixing false-positive results for short queries
  common/changes/@vielzeug/scout/agent_1784739173372.json
  packages/scout/src/__tests__/index.test.ts
  packages/scout/src/trigram.ts
Due: lint:resources, lint:js, test:unit

feat(refine): file-input drag feedback, upload progress/retry/replace, independent per-file queue
  .gitignore
  common/changes/@vielzeug/refine/agent_1784873107084.json
  common/changes/@vielzeug/refine/agent_1784875128362.json
  packages/refine/src/inputs/file-input/file-input-upload.test.ts
  packages/refine/src/inputs/file-input/file-input-upload.ts
  packages/refine/src/inputs/file-input/file-input.css
  packages/refine/src/inputs/file-input/file-input.test.ts
  packages/refine/src/inputs/file-input/file-input.ts
Due: lint:resources, lint:js, test:unit

Path conditions:
  lint:resources: any of: *.{html,json,yml}
  lint:js: any of: *[!.{spec,test}].{[tj]s,[tj]sx}
  test:unit: any of: *.{spec,test}.{[tj]s,[tj]sx}
