Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lefthook.yml:

pre-commit:
  piped: true
  follow: true
  commands:
    lint:resources:
      glob: '*.{html,json,yml}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    lint:js:
      glob: '*[!.{spec,test}].{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest related {staged_files}
    test:unit:
      glob: '*.{spec,test}.{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest {staged_files}

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,md,mdx,html}"
      run: npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

refactor(arsenal): export abortable from async subpath. Remove side effect from cache.size getter. Simplify backoff to 2 ** n. Replace Reflect.apply in pipe with direct call.
  common/changes/@vielzeug/arsenal/agent_1786866198431.json
  docs/arsenal/api.md
  docs/arsenal/examples/async/abortable.md
  docs/arsenal/examples/cache/stash.md
  docs/arsenal/examples/typed/isAbortError.md
  packages/arsenal/scripts/exports.manifest.mjs
  packages/arsenal/src/__tests__/errors.test.ts
  packages/arsenal/src/_common/_abortable.ts
  packages/arsenal/src/async/__tests__/abortable.test.ts
  packages/arsenal/src/async/__tests__/extras.test.ts
  packages/arsenal/src/async/abortable.ts
  packages/arsenal/src/async/backoff.ts
  packages/arsenal/src/async/index.ts
  packages/arsenal/src/cache/cache.ts
  packages/arsenal/src/errors.ts
  packages/arsenal/src/function/pipe.ts
Due: lint:resources, lint:js, test:unit

chore(necromancer): extract shared signal listener helper to reduce code duplication in handle creation
  common/changes/@vielzeug/necromancer/agent_1786868676000.json
  packages/necromancer/src/_handle.ts
Due: lint:resources

fix: package manifest script
  scripts/__tests__/package-manifest.test.mjs
  scripts/release/__tests__/resolve-workspace-deps.test.mjs
Due: none

fix: package manifest script
  packages/arsenal/scripts/exports.manifest.mjs
Due: none

refactor(ledger): remove LedgerError.is() type guard; use instanceof LedgerError. Rename local signal variable in enqueue to abortSignal to avoid shadowing ripple import.
  common/changes/@vielzeug/codex/agent_1786872860371.json
  common/changes/@vielzeug/ledger/agent_1786872555893.json
  docs/ledger/api.md
  packages/ledger/src/__tests__/ledger.test.ts
  packages/ledger/src/errors.ts
  packages/ledger/src/ledger.ts
Due: lint:resources, lint:js, test:unit

refactor(rune): Fix detectEnv to remove Vite-specific import.meta.env check — browser defaults to development. Merge resolveBindings + serializeErrors into single prepareBindings pass.
  common/changes/@vielzeug/rune/agent_1786873259491.json
  docs/rune/api.md
  docs/rune/index.md
  packages/rune/src/__tests__/rune.test.ts
  packages/rune/src/errors.ts
  packages/rune/src/index.ts
  packages/rune/src/lazy.ts
  packages/rune/src/logger.ts
  packages/rune/src/transports.ts
Due: lint:resources, lint:js, test:unit

refactor(orbit): remove OrbitError.is() type guard (use instanceof). Remove computePositionAsync and computePositionRaf convenience wrappers.
  common/changes/@vielzeug/orbit/agent_1786874578163.json
  docs/.vitepress/theme/components/repl/examples/orbit/get-rects.ts
  docs/.vitepress/theme/components/repl/examples/orbit/index.ts
  docs/orbit/api.md
  docs/orbit/migration.md
  packages/orbit/src/__tests__/orbit.test.ts
  packages/orbit/src/core.ts
  packages/orbit/src/devtools.ts
  packages/orbit/src/errors.ts
  packages/orbit/src/float.ts
  packages/orbit/src/index.ts
Due: lint:resources, lint:js, test:unit

refactor(wayfinder): remove WayfinderError.is() type guard (use instanceof). Remove MatchStatus type alias (use NavigationStatus)
  common/changes/@vielzeug/wayfinder/agent_1786907660731.json
  docs/wayfinder/api.md
  docs/wayfinder/migration.md
  packages/wayfinder/src/_dev.ts
  packages/wayfinder/src/compile.ts
  packages/wayfinder/src/context.ts
  packages/wayfinder/src/errors.ts
  packages/wayfinder/src/guards.ts
  packages/wayfinder/src/index.ts
  packages/wayfinder/src/router.ts
  packages/wayfinder/src/types.ts
Due: lint:resources, lint:js

chore(coins): remove decimal() from public API (Decimal type remains exported for ExchangeRate.value).
  common/changes/@vielzeug/codex/agent_1786915047347.json
  common/changes/@vielzeug/coins/agent_1786914655.json
  demos/eshop/src/core/pricing.ts
  docs/.vitepress/theme/components/repl/examples/coins/allocation-basic.ts
  docs/.vitepress/theme/components/repl/examples/coins/errors-basic.ts
  docs/coins/api.md
  docs/coins/examples/allocation.md
  docs/coins/migration.md
  docs/coins/usage.md
  packages/coins/README.md
  packages/coins/src/__tests__/decimal.test.ts
  packages/coins/src/__tests__/format.test.ts
  packages/coins/src/__tests__/index.test.ts
  packages/coins/src/__tests__/money.test.ts
  packages/coins/src/__tests__/utils.test.ts
  packages/coins/src/aggregate.ts
  packages/coins/src/errors.ts
  packages/coins/src/format.ts
  packages/coins/src/index.ts
  packages/coins/src/money.ts
  packages/coins/src/types.ts
Due: lint:resources, lint:js, test:unit

refactor(tempo): remove TempoError.is() type guard (use instanceof)
  common/changes/@vielzeug/tempo/agent_1786915357053.json
  docs/tempo/api.md
  docs/tempo/migration.md
  packages/tempo/src/__tests__/tempo.test.ts
  packages/tempo/src/_floor.ts
  packages/tempo/src/_tz.ts
  packages/tempo/src/compare.ts
  packages/tempo/src/errors.ts
  packages/tempo/src/format.ts
Due: lint:resources, lint:js, test:unit

fix(herald): fix InternalBusOptions leak — split createBus into public createBus(BusOptions) and @internal createBusInternal(InternalBusOptions)
  common/changes/@vielzeug/herald/agent_1786943655887.json
  docs/.vitepress/theme/components/repl/examples/herald/error-handling.ts
  docs/herald/api.md
  docs/herald/index.md
  packages/herald/src/__tests__/bus.test.ts
  packages/herald/src/_prototype.ts
  packages/herald/src/bus.ts
  packages/herald/src/errors.ts
  packages/herald/src/testing/testing.ts
  packages/herald/src/types.ts
Due: lint:resources, lint:js, test:unit

refactor(pulse): unify room/presence API under single schema generic
  common/changes/@vielzeug/codex/agent_1786943655887.json
  common/changes/@vielzeug/flux/agent_1786943655887.json
  common/changes/@vielzeug/pulse/agent_1786943655887.json
  demos/eshop/src/core/realtime.ts
  demos/kanban/src/core/realtime.ts
  docs/.vitepress/theme/components/repl/examples/pulse/rooms-presence.ts
  docs/flux/api.md
  docs/flux/usage.md
  docs/guide/index.md
  docs/pulse/api.md
  docs/pulse/examples.md
  docs/pulse/examples/basic-connection.md
  docs/pulse/examples/channels.md
  docs/pulse/examples/middleware.md
  docs/pulse/examples/reconnect-and-heartbeat.md
  docs/pulse/examples/rooms-and-presence.md
  docs/pulse/index.md
  docs/pulse/migration.md
  docs/pulse/usage.md
  packages/flux/README.md
  packages/flux/src/__tests__/adapters.test.ts
  packages/flux/src/__tests__/entrypoints.test.ts
  packages/flux/src/adapters/pulse.ts
  packages/flux/src/pulse.ts
  packages/pulse/README.md
  packages/pulse/src/__tests__/_fixtures.ts
  packages/pulse/src/__tests__/lifecycle.test.ts
  packages/pulse/src/__tests__/messaging.test.ts
  packages/pulse/src/__tests__/session.test.ts
  packages/pulse/src/errors.ts
  packages/pulse/src/index.ts
  packages/pulse/src/presence.ts
  packages/pulse/src/protocol.ts
  packages/pulse/src/pulse.ts
  packages/pulse/src/room.ts
  packages/pulse/src/types.ts
Due: lint:resources, lint:js, test:unit

refactor(wayfinder): rename matchPath/loadPath to match/load
  common/changes/@vielzeug/wayfinder/agent_1786907660731.json
  docs/.vitepress/theme/components/repl/examples/wayfinder/named-routes.ts
  docs/.vitepress/theme/components/repl/examples/wayfinder/url-building.ts
  docs/wayfinder/api.md
  docs/wayfinder/examples/base-path-deployment.md
  docs/wayfinder/index.md
  docs/wayfinder/migration.md
  docs/wayfinder/usage.md
  packages/wayfinder/CHANGELOG.json
  packages/wayfinder/CHANGELOG.md
  packages/wayfinder/README.md
  packages/wayfinder/src/__tests__/match.test.ts
  packages/wayfinder/src/__tests__/navigation.test.ts
  packages/wayfinder/src/__tests__/resolve.test.ts
  packages/wayfinder/src/__tests__/streaming.test.ts
  packages/wayfinder/src/router.ts
Due: lint:resources, lint:js, test:unit

refactor(vault): simplify table() to options-object factory
  common/changes/@vielzeug/vault/agent_1786943655887.json
  docs/.vitepress/theme/components/repl/examples/vault/prune-schedule.ts
  docs/.vitepress/theme/components/repl/examples/vault/query-builder.ts
  docs/.vitepress/theme/components/repl/examples/vault/ttl-expiration.ts
  docs/vault/api.md
  docs/vault/examples/plugins.md
  docs/vault/examples/querying.md
  docs/vault/examples/ttl.md
  docs/vault/migration.md
  docs/vault/usage.md
  packages/vault/README.md
  packages/vault/src/__tests__/entrypoints.test.ts
  packages/vault/src/__tests__/features.test.ts
  packages/vault/src/__tests__/query.test.ts
  packages/vault/src/__tests__/ttl.test.ts
  packages/vault/src/_dev.ts
  packages/vault/src/adapter-core.ts
  packages/vault/src/adapters/indexeddb.ts
  packages/vault/src/adapters/sqlite.ts
  packages/vault/src/adapters/webstorage.ts
  packages/vault/src/index.ts
  packages/vault/src/indexeddb.ts
  packages/vault/src/migration.ts
  packages/vault/src/prune.ts
  packages/vault/src/query.ts
  packages/vault/src/sqlite.ts
  packages/vault/src/ttl.ts
  packages/vault/src/types.ts
Due: lint:resources, lint:js, test:unit

feat(ward): createWard accepts allow()/deny() results without spread
  common/changes/@vielzeug/ward/agent_1786943655887.json
  demos/eshop/src/core/auth.ts
  demos/kanban/src/core/auth.ts
  docs/ward/api.md
  docs/ward/index.md
  docs/ward/migration.md
  docs/ward/usage.md
  packages/ward/README.md
  packages/ward/src/__tests__/factory.test.ts
  packages/ward/src/_match.ts
  packages/ward/src/factory.ts
  packages/ward/src/index.ts
  packages/ward/src/types.ts
Due: lint:resources, lint:js, test:unit

feat(keymap): Add onChordState callback for chord progression observability
  common/changes/@vielzeug/keymap/agent_1786959866000.json
  docs/keymap/api.md
  docs/keymap/usage.md
  packages/keymap/src/__tests__/chord-state.test.ts
  packages/keymap/src/index.ts
  packages/keymap/src/keymap.ts
  packages/keymap/src/types.ts
Due: lint:resources, lint:js, test:unit

fix(vault): removed VaultError import from prune
  packages/vault/src/prune.ts
Due: none

docs: fix misalignment of docs links
  docs/.vitepress/theme/theme.css
Due: none

docs: hide all undefined custom elements until they're fully initialized
  common/changes/@vielzeug/codex/agent_1786965875550.json
  docs/.vitepress/theme/index.js
Due: lint:resources, lint:js

docs: update README
  README.md
  scripts/repl-metadata.ts
Due: lint:js

feat(refine): add fouc.css export for FOUC suppression of unupgraded custom elements
  common/changes/@vielzeug/refine/agent_1786943655887.json
  docs/.vitepress/theme/index.js
  docs/refine/api.md
  docs/refine/index.md
  packages/refine/package.json
  packages/refine/scripts/refine-manifest.mjs
  packages/refine/src/fouc.css
  packages/refine/src/styles/fouc.css
  packages/refine/src/styles/preflight.css
  packages/refine/src/testing/fixtures.ts
  packages/refine/src/types/css.d.ts
Due: lint:resources, lint:js

feat(forge): unify SubmitResult on status discriminator
  .ai/data/packages.json
  .ai/reference/packages.md
  common/changes/@vielzeug/codex/agent_1787051639264.json
  common/changes/@vielzeug/forge/agent_1786943655887.json
  docs/forge/api.md
  docs/forge/examples/contact-form-with-file-upload.md
  docs/forge/examples/login-form.md
  docs/forge/index.md
  docs/forge/migration.md
  docs/forge/usage.md
  packages/forge/README.md
  packages/forge/package.json
  packages/forge/src/__tests__/form-data.test.ts
  packages/forge/src/__tests__/form/form.test.ts
  packages/forge/src/__tests__/spell.test.ts
  packages/forge/src/_field.ts
  packages/forge/src/_notify.ts
  packages/forge/src/core/path.ts
  packages/forge/src/form-data.ts
  packages/forge/src/form.ts
  packages/forge/src/index.ts
  packages/forge/src/spell.ts
  packages/forge/src/types.ts
  packages/forge/vite.config.ts
  packages/forge/vitest.config.ts
Due: lint:resources, lint:js, test:unit

fix: update pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix(sourcerer): type InfiniteSourceConfig.load as LoadContext<InfiniteLoadQuery> instead of LoadContext<PageQuery> (load context no longer exposes phantom filter/sort fields)
  common/changes/@vielzeug/codex/agent_1787116911955.json
  common/changes/@vielzeug/sourcerer/agent_1786943742000.json
  docs/sourcerer/api.md
  docs/sourcerer/examples/infinite-scroll.md
  docs/sourcerer/index.md
  docs/sourcerer/migration.md
  docs/sourcerer/usage.md
  packages/sourcerer/src/__tests__/infiniteSource.test.ts
  packages/sourcerer/src/__tests__/pageSource.test.ts
  packages/sourcerer/src/_dev.ts
  packages/sourcerer/src/index.ts
  packages/sourcerer/src/infiniteSource.ts
  packages/sourcerer/src/requestController.ts
  packages/sourcerer/src/types.ts
Due: lint:resources, lint:js, test:unit

fix(ripple): computed nodes recover from first-run derivation failures — collect() commits partial dependencies;
  common/changes/@vielzeug/ripple/agent_1786943800000.json
  docs/ripple/usage.md
  docs/sourcerer/usage.md
  packages/ripple/src/__tests__/runtime.test.ts
  packages/ripple/src/runtime.ts
Due: lint:resources, lint:js, test:unit

fix(courier): courier.dispose() no longer calls queries.clear() explicitly
  common/changes/@vielzeug/courier/agent_1786943900000.json
  docs/courier/api.md
  docs/courier/usage.md
  packages/courier/src/__tests__/query.test.ts
  packages/courier/src/courier.ts
  packages/courier/src/interceptors.ts
  packages/courier/src/query.ts
  packages/courier/src/stream.ts
Due: lint:resources, lint:js, test:unit

feat(lingua): add catalogKeys(catalog) runtime utility that enumerates every message key in a catalog as a dotted path
  common/changes/@vielzeug/lingua/agent_1786944000000.json
  common/changes/@vielzeug/lingua/agent_1786944100000.json
  docs/lingua/api.md
  docs/lingua/usage.md
  packages/lingua/src/__tests__/catalog.test.ts
  packages/lingua/src/__tests__/validate.test.ts
  packages/lingua/src/_catalog.ts
  packages/lingua/src/catalog.ts
  packages/lingua/src/index.ts
  packages/lingua/src/types.ts
  packages/lingua/src/validate.ts
Due: lint:resources, lint:js, test:unit

fix(ore): provide() now registers onCleanup to delete its key from the context registry on disconnect
  common/changes/@vielzeug/ore/agent_1786944500000.json
  docs/ore/api.md
  docs/ore/usage.md
  packages/ore/src/__tests__/runtime-lifecycle.test.ts
  packages/ore/src/context.ts
Due: lint:resources, lint:js, test:unit

fix: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

docs: fix linter errors
  common/changes/@vielzeug/codex/agent_1787239692862.json
  demos/eshop/src/styles/app.css
  docs/.vitepress/theme/components/REPLEditor.vue
Due: lint:resources

docs: update README.md
  README.md
  docs/guide/index.md
Due: none

chore: consolidate AI metadata, remove domOutput field, merge sync scripts
  .ai/README.md
  .ai/core/conventions.md
  .ai/core/policy.md
  .ai/core/workspace.md
  .ai/data/packages.json
  .ai/data/tasks.json
  .ai/reference/docs-template.md
  .ai/reference/packages.md
  .ai/tasks/document.md
  .github/copilot-instructions.md
  .gitignore
  .junie/AGENTS.md
  AGENTS.md
  CLAUDE.md
  scripts/AGENTS.md
  scripts/__tests__/sync-ai-data.test.mjs
  scripts/__tests__/sync-catalogue.test.mjs
  scripts/__tests__/sync-workflow-docs.test.mjs
  scripts/lib/__tests__/marker-sync.test.mjs
  scripts/lib/__tests__/packages.test.mjs
  scripts/lib/cli.mjs
  scripts/lib/marker-sync.mjs
  scripts/lib/packages.mjs
  scripts/sync-ai-data.mjs
  scripts/sync-catalogue.mjs
  scripts/sync-workflow-docs.mjs
Due: lint:resources

fix(demo): fail to run kanban demo
  demos/eshop/pnpm-workspace.yaml
  demos/kanban/pnpm-lock.yaml
  demos/kanban/pnpm-workspace.yaml
  demos/kanban/src/core/control-value.ts
  demos/kanban/src/core/csv-export.ts
  demos/kanban/src/core/format.ts
  demos/kanban/src/core/theme.ts
  demos/kanban/src/ui/app-shell.ts
  demos/kanban/src/ui/components/task-dialog.ts
  demos/kanban/src/ui/views/analytics.ts
  demos/kanban/src/ui/views/backlog.ts
Due: lint:js

feat(courier): add query cache delete and improve optimistic rollback guidance
  common/changes/@vielzeug/courier/agent_1787288400000.json
  docs/courier/api.md
  docs/courier/examples/optimistic-updates.md
  docs/courier/usage.md
  packages/courier/src/__tests__/query.test.ts
  packages/courier/src/query.ts
  packages/courier/src/types.ts
Due: lint:resources, lint:js, test:unit

fix(dnd): improve touch interaction handling and coverage
  common/changes/@vielzeug/dnd/agent_1787288400001.json
  docs/dnd/api.md
  docs/dnd/examples/touch-enabled-sortable-list.md
  docs/dnd/usage.md
  packages/dnd/src/__tests__/touch.test.ts
  packages/dnd/src/_touch.ts
Due: lint:resources, lint:js, test:unit
