Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lefthook.yml:

pre-commit:
  piped: true
  follow: true
  commands:
    lint:resources:
      glob: '*.{html,json,yml}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    lint:js:
      glob: '*[!.{spec,test}].{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest related {staged_files}
    test:unit:
      glob: '*.{spec,test}.{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest {staged_files}

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,md,mdx,html}"
      run: npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

fix: update pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
Due: none

feat(sentinel): initial release
  docs/focus/usage.md
  docs/gesture/usage.md
  docs/public/logo-focus.svg
  docs/public/logo-gesture.svg
Due: none

refactor(focus): code cleanup
  docs/focus/api.md
  docs/focus/examples/dialog-return-focus-restoration.md
  docs/focus/examples/roving-tabs-keyboard-navigation.md
  docs/focus/index.md
  docs/focus/usage.md
  packages/focus/README.md
  packages/focus/src/__tests__/list-navigation.test.ts
  packages/focus/src/__tests__/restore-focus.test.ts
  packages/focus/src/index.ts
  packages/focus/src/list-navigation.ts
  packages/focus/src/restore-focus.ts
Due: lint:js, test:unit

refactor(gesture): code cleanup
  common/changes/@vielzeug/gesture/agent_1787282300001.json
  docs/gesture/api.md
  docs/gesture/examples.md
  docs/gesture/examples/carousel-swipe-navigation.md
  docs/gesture/examples/swipe-dismiss-notifications.md
  docs/gesture/index.md
  docs/gesture/usage.md
  packages/gesture/README.md
  packages/gesture/package.json
  packages/gesture/src/__tests__/pan-gesture.test.ts
  packages/gesture/src/__tests__/swipe-gesture.test.ts
  packages/gesture/src/index.ts
  packages/gesture/src/pan-gesture.ts
  packages/gesture/src/swipe-gesture.ts
Due: lint:resources, lint:js, test:unit

fix(refine): navbar stuck in mobile mode after resizing back to desktop
  common/changes/@vielzeug/refine/agent_1787308000000.json
  docs/.vitepress/theme/components/__tests__/packageGroups.test.ts
  packages/refine/src/layout/navbar/navbar.ts
Due: lint:resources, lint:js, test:unit

feat(postmaster): initial release
  common/changes/@vielzeug/vault/agent_remove_metrics_debug_surface.json
  docs/.vitepress/theme/components/__tests__/packageGroups.test.ts
  docs/.vitepress/theme/components/repl/examples/vault/cache-first.ts
  docs/.vitepress/theme/components/repl/examples/vault/indexed-db.ts
  docs/.vitepress/theme/components/repl/examples/vault/prune-schedule.ts
  docs/.vitepress/theme/components/repl/examples/vault/query-builder.ts
  docs/vault/api.md
  docs/vault/examples/batch.md
  docs/vault/examples/plugins.md
  docs/vault/examples/querying.md
  docs/vault/examples/ttl.md
  docs/vault/index.md
  docs/vault/migration.md
  docs/vault/usage.md
  packages/vault/src/__tests__/query.test.ts
  packages/vault/src/__tests__/sqlite.test.ts
  packages/vault/src/_dev.ts
  packages/vault/src/adapter-core.ts
  packages/vault/src/adapters/indexeddb.ts
  packages/vault/src/adapters/memory.ts
  packages/vault/src/adapters/sqlite.ts
  packages/vault/src/adapters/webstorage.ts
  packages/vault/src/index.ts
  packages/vault/src/internal.ts
  packages/vault/src/prune.ts
  packages/vault/src/query.ts
  packages/vault/src/types.ts
Due: lint:resources, lint:js, test:unit

fix: sideEffects moved to canonical position
  packages/assay/package.json
  packages/clockwork/package.json
  packages/codex/package.json
  packages/coins/package.json
  packages/conduit/package.json
  packages/courier/package.json
  packages/dnd/package.json
  packages/familiar/package.json
  packages/flux/package.json
  packages/focus/package.json
  packages/forge/package.json
  packages/gesture/package.json
  packages/herald/package.json
  packages/keymap/package.json
  packages/ledger/package.json
  packages/lingua/package.json
  packages/necromancer/package.json
  packages/orbit/package.json
  packages/ore/package.json
  packages/postmaster/package.json
  packages/pulse/package.json
  packages/ripple/package.json
  packages/rune/package.json
  packages/scout/package.json
  packages/scroll/package.json
  packages/sentinel/package.json
  packages/sourcerer/package.json
  packages/spell/package.json
  packages/tempo/package.json
  packages/vault/package.json
  packages/ward/package.json
  packages/wayfinder/package.json
Due: lint:resources

feat(postmaster): Add EnqueueOptions.availableAt for delayed job eligibility
  common/changes/@vielzeug/codex/agent_1787828955588.json
  common/changes/@vielzeug/postmaster/agent_1787818691678.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples/postmaster/delayed-enqueue.ts
  docs/.vitepress/theme/components/repl/examples/postmaster/index.ts
  docs/postmaster/api.md
  docs/postmaster/examples.md
  docs/postmaster/examples/delayed-eligibility.md
  docs/postmaster/examples/service-worker-background-sync.md
  docs/postmaster/index.md
  docs/postmaster/usage.md
  packages/postmaster/README.md
  packages/postmaster/package.json
  packages/postmaster/src/__tests__/concurrency.test.ts
  packages/postmaster/src/__tests__/courier-integration.test.ts
  packages/postmaster/src/__tests__/postmaster.test.ts
  packages/postmaster/src/index.ts
  packages/postmaster/src/postmaster.ts
  packages/postmaster/src/types.ts
  packages/pulse/src/__tests__/lifecycle.test.ts
  packages/pulse/src/__tests__/messaging.test.ts
  pnpm-lock.yaml
  tsconfig.json
Due: lint:resources, lint:js, test:unit

chore(refine): improved accessible interaction
  common/changes/@vielzeug/assay/main_2026-08-28-07-09.json
  common/changes/@vielzeug/dnd/main_2026-08-28-07-09.json
  common/changes/@vielzeug/prism/main_2026-08-28-07-09.json
  common/changes/@vielzeug/refine/main_2026-08-28-07-09.json
  common/config/rush/pnpm-lock.yaml
  docs/assay/api.md
  docs/dnd/api.md
  packages/assay/src/__tests__/live-region.test.ts
  packages/assay/src/index.ts
  packages/assay/src/live-region.ts
  packages/dnd/src/__tests__/sortable.test.ts
  packages/dnd/src/sortable.ts
  packages/prism/src/interaction/series-interaction.ts
  packages/prism/src/interaction/tooltip.ts
  packages/refine/src/content/carousel/carousel.ts
  packages/refine/src/content/chat-message/chat-message.ts
  packages/refine/src/core/__tests__/announcer.test.ts
  packages/refine/src/core/announcer.ts
  packages/refine/src/feedback/typing-indicator/typing-indicator.ts
  packages/refine/src/inputs/file-input/file-input-upload.ts
  packages/refine/src/inputs/file-input/file-input.ts
  packages/refine/src/overlay/command-palette/command-palette.ts
Due: lint:resources, lint:js, test:unit

feat(demo): update eshop demo
  demos/eshop/README.md
  demos/eshop/index.html
  demos/eshop/package.json
  demos/eshop/playwright.config.ts
  demos/eshop/pnpm-lock.yaml
  demos/eshop/src/core/i18n.ts
  demos/eshop/src/core/seed-data.ts
  demos/eshop/src/styles/app.css
  demos/eshop/src/ui/app-shell.ts
  demos/eshop/src/ui/components/order-timeline.ts
  demos/eshop/src/ui/views/cart.ts
  demos/eshop/src/ui/views/catalog.ts
  demos/eshop/src/ui/views/checkout.ts
  demos/eshop/src/ui/views/model-detail.ts
  demos/eshop/tests/storefront.spec.ts
  docs/.vitepress/theme/components/PackagesMenu.vue
  docs/.vitepress/theme/theme.css
  docs/public/logo-assay.svg
  packages/refine/src/styles/mixins/animation.css.ts
Due: lint:resources, lint:js, test:unit

chore: update github actions dependencies
  .github/actions/setup/action.yml
Due: lint:resources

chore: update lucide on refine pkg
  demos/kanban/src/ui/components/task-dialog.ts
  packages/refine/package.json
Due: lint:resources, lint:js

chore: update lucide on refine pkg
  pnpm-lock.yaml
Due: none

chore: improved cards in the demos
  demos/eshop/package.json
  demos/eshop/pnpm-lock.yaml
  demos/eshop/src/core/cart-store.ts
  demos/eshop/src/core/history.test.ts
  demos/eshop/src/core/history.ts
  demos/eshop/src/core/i18n.ts
  demos/eshop/src/core/persistence.ts
  demos/eshop/src/core/seed-data.ts
  demos/eshop/src/core/types.ts
  demos/eshop/src/styles/app.css
  demos/eshop/src/ui/components/model-card.ts
  demos/eshop/src/ui/components/spec-tooltip.ts
  demos/eshop/src/ui/views/catalog.ts
  demos/eshop/src/ui/views/model-detail.ts
  demos/voyage/package.json
  demos/voyage/src/core/data.ts
  demos/voyage/src/core/hotels.test.ts
  demos/voyage/src/core/state.ts
  demos/voyage/src/core/types.ts
  demos/voyage/src/styles/app.css
  demos/voyage/src/ui/components/experience-card.ts
  demos/voyage/src/ui/components/hotel-card.ts
  demos/voyage/src/ui/navigation.ts
  demos/voyage/src/ui/views/destination.ts
  demos/voyage/src/ui/views/hotel.ts
  demos/voyage/vitest.config.ts
  docs/.vitepress/theme/components/ShowcasePage.vue
  docs/public/images/ss_eshop_detail_dark.webp
  docs/public/images/ss_eshop_detail_light.webp
  docs/public/images/ss_eshop_home_dark.webp
  docs/public/images/ss_eshop_home_light.webp
  docs/public/images/ss_voyage_explore_dark.webp
  docs/public/images/ss_voyage_explore_light.webp
  package.json
  pnpm-lock.yaml
Due: lint:resources, lint:js, test:unit

Merge remote-tracking branch 'origin/main'
  demos/eshop/src/styles/app.css
  demos/eshop/src/ui/views/model-detail.ts
Due: lint:js

feat: update voyage demo booking
  demos/voyage/src/core/data.ts
  demos/voyage/src/core/hotels.test.ts
  demos/voyage/src/core/state.ts
  demos/voyage/src/core/types.ts
  demos/voyage/src/main.ts
  demos/voyage/src/styles/app.css
  demos/voyage/src/ui/app-shell.ts
  demos/voyage/src/ui/components/booking-detail-drawer.ts
  demos/voyage/src/ui/components/hotel-card.ts
  demos/voyage/src/ui/components/travel-support-chat.ts
  demos/voyage/src/ui/views/booking.ts
  demos/voyage/src/ui/views/bookings.ts
  demos/voyage/src/ui/views/destination.ts
  demos/voyage/src/ui/views/search.ts
  docs/.vitepress/theme/components/ShowcasePage.vue
  docs/public/images/ss_voyage_booking_dark.webp
  docs/public/images/ss_voyage_booking_light.webp
  docs/public/images/ss_voyage_explore_dark.webp
  docs/public/images/ss_voyage_explore_light.webp
  docs/public/images/ss_voyage_trip_dark.webp
  docs/public/images/ss_voyage_trip_light.webp
  packages/refine/src/inputs/switch/switch.css
  packages/refine/src/inputs/switch/switch.e2e.ts
  packages/refine/src/inputs/switch/switch.ts
  packages/refine/src/layout/sidebar/sidebar.e2e.ts
  packages/refine/src/layout/sidebar/sidebar.test.ts
  packages/refine/src/layout/sidebar/sidebar.ts
Due: lint:js, test:unit

feat: update crm demo booking
  common/changes/@vielzeug/refine/agent_1789326508382.json
  demos/crm/src/core/i18n.ts
  demos/crm/src/styles/app.css
  demos/crm/src/ui/app-shell.ts
  demos/crm/src/ui/views/pipeline.ts
  docs/public/images/ss_crm_home_dark.webp
  docs/public/images/ss_crm_home_light.webp
  docs/public/images/ss_crm_pipeline_dark.webp
  docs/public/images/ss_crm_pipeline_light.webp
  docs/refine/components/menu.md
  docs/refine/components/sidebar.md
  packages/refine/src/layout/sidebar/sidebar.test.ts
  packages/refine/src/layout/sidebar/sidebar.ts
  packages/refine/src/overlay/menu/menu.css
  packages/refine/src/overlay/menu/menu.e2e.ts
  packages/refine/src/overlay/popover/popover.test.ts
  packages/refine/src/overlay/shared/use-floating-trigger.ts
Due: lint:resources, lint:js, test:unit

feat: improved setting page for the eshop demo
  demos/eshop/src/core/i18n.ts
  demos/eshop/src/core/persistence.ts
  demos/eshop/src/core/theme.ts
  demos/eshop/src/styles/app.css
  demos/eshop/src/ui/views/settings.ts
  demos/eshop/tests/storefront.spec.ts
Due: lint:js, test:unit

chore: update eshop demo cart
  demos/eshop/package.json
  demos/eshop/pnpm-lock.yaml
  demos/eshop/src/core/cart-store.ts
  demos/eshop/src/core/container.ts
  demos/eshop/src/core/history.ts
  demos/eshop/src/core/i18n.ts
  demos/eshop/src/core/order-actions.test.ts
  demos/eshop/src/core/order-actions.ts
  demos/eshop/src/core/persistence.ts
  demos/eshop/src/core/pricing.test.ts
  demos/eshop/src/core/pricing.ts
  demos/eshop/src/core/router.ts
  demos/eshop/src/core/seed-data.ts
  demos/eshop/src/core/types.ts
  demos/eshop/src/core/worker-tasks.worker.ts
  demos/eshop/src/styles/app.css
  demos/eshop/src/ui/app-shell.ts
  demos/eshop/src/ui/components/compare-drawer.ts
  demos/eshop/src/ui/components/order-timeline.ts
  demos/eshop/src/ui/views/admin.ts
  demos/eshop/src/ui/views/cart.ts
  demos/eshop/src/ui/views/checkout.ts
  demos/eshop/src/ui/views/compare.ts
  demos/eshop/src/ui/views/orders.ts
  demos/eshop/tests/storefront.spec.ts
  pnpm-lock.yaml
Due: lint:resources, lint:js, test:unit

feat: add eshop demo model landing page
  common/changes/@vielzeug/codex/agent_1789394498560.json
  demos/eshop/src/core/build-url.ts
  demos/eshop/src/core/i18n.ts
  demos/eshop/src/core/router.ts
  demos/eshop/src/core/seed-data.ts
  demos/eshop/src/core/types.ts
  demos/eshop/src/styles/app.css
  demos/eshop/src/ui/app-shell.ts
  demos/eshop/src/ui/components/model-advisor-chat.ts
  demos/eshop/src/ui/components/model-card.ts
  demos/eshop/src/ui/views/catalog.ts
  demos/eshop/src/ui/views/checkout.ts
  demos/eshop/src/ui/views/compare.ts
  demos/eshop/src/ui/views/model-detail.ts
  demos/eshop/src/ui/views/model-landing.ts
  demos/eshop/tests/storefront.spec.ts
  docs/.vitepress/theme/components/showcaseDemos.ts
  packages/refine/src/inputs/message-composer/message-composer.css
  packages/refine/src/inputs/message-composer/message-composer.e2e.ts
  packages/refine/src/layout/navbar/navbar.css
  packages/refine/src/layout/navbar/navbar.e2e.ts
Due: lint:resources, lint:js, test:unit

ci: simplified workflows
  .ai/reference/readme-template.md
  .github/AGENTS.md
  .github/actions/setup/action.yml
  .github/workflows/_publish-one.yml
  .github/workflows/_test-lint.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/test-pr.yml
  AGENTS.md
  common/config/rush/pnpm-lock.yaml
  demos/crm/pnpm-lock.yaml
  demos/crm/pnpm-workspace.yaml
  demos/eshop/pnpm-lock.yaml
  demos/eshop/pnpm-workspace.yaml
  demos/voyage/pnpm-lock.yaml
  demos/voyage/pnpm-workspace.yaml
  docs/codex/examples/looking-up-components.md
  lefthook.yml
  package.json
  packages/codex/AGENTS.md
  packages/codex/package.json
  packages/codex/scripts/_log.ts
  packages/codex/scripts/generate-tool-docs.ts
  packages/codex/scripts/generator.ts
  pnpm-lock.yaml
  scripts/AGENTS.md
  scripts/release/cli.mjs
  scripts/release/local-publish.mjs
  scripts/release/publish-missing.mjs
  scripts/release/release-only-plan.mjs
  scripts/release/release-plan.mjs
  scripts/release/rush-publish-apply.mjs
Due: lint:resources, lint:js

ai: converted ai instructions into skills
  .agents/conventions.md
  .agents/reference/docs-template.md
  .agents/reference/packages.md
  .agents/reference/readme-template.md
  .agents/reference/security-checklist.md
  .agents/skills/build/SKILL.md
  .agents/skills/document/SKILL.md
  .agents/skills/release/SKILL.md
  .agents/skills/review/SKILL.md
  .ai/README.md
  .ai/tasks/build.md
  .ai/tasks/document.md
  .ai/tasks/release.md
  .github/contributing.md
  .gitignore
  .rumdl.toml
  AGENTS.md
  CLAUDE.md
  common/changes/@vielzeug/codex/agent_1789554718336.json
  copilot.json
  docs/.vitepress/theme/components/repl/execution/rewriteImports.ts
  docs/AGENTS.md
  docs/guide/docs-template.md
  lefthook.yml
  package.json
  packages/AGENTS.md
  packages/codex/AGENTS.md
  packages/ore/AGENTS.md
  packages/prism/AGENTS.md
  packages/refine/AGENTS.md
  scripts/AGENTS.md
  scripts/__tests__/new-package.test.mjs
  scripts/__tests__/sync-ai-data.test.mjs
  scripts/lib/__tests__/marker-sync.test.mjs
  scripts/lib/marker-sync.mjs
  scripts/new-package.mjs
  scripts/sync-ai-data.mjs
  scripts/validate-docs.ts
  scripts/validate-readme.ts
  scripts/worktree.mjs
Due: lint:resources

fix: fix missing ore-counter reference
  packages/mesh/src/guest.ts
  packages/refine/package.json
  packages/sigil/src/__tests__/roundtrip.test.ts
Due: lint:resources, lint:js, test:unit

docs: improve internal documentation for parse-value and message resolution
  packages/spell/src/core.ts
  packages/spell/src/errors.ts
  packages/spell/src/types.ts
  packages/spell/tsconfig.dtscheck.json
Due: lint:resources

feat(refine): add embedded alert surface for toasts and improve dropdown panel sizing
  biome.jsonc
  common/changes/@vielzeug/codex/agent_1790102820504.json
  common/changes/@vielzeug/ore/agent_1790101660433.json
  common/changes/@vielzeug/refine/agent_1790101660518.json
  common/changes/@vielzeug/spell/agent_1790101660589.json
  docs/refine/components/alert.md
  docs/refine/components/toast.md
  packages/ore/src/__tests__/directives.test.ts
  packages/ore/src/directives/each.ts
  packages/refine/src/core/__tests__/positioner.test.ts
  packages/refine/src/core/positioner.ts
  packages/refine/src/feedback/alert/alert.test.ts
  packages/refine/src/feedback/alert/alert.ts
  packages/refine/src/feedback/skeleton/skeleton.e2e.ts
  packages/refine/src/feedback/toast/toast.css
  packages/refine/src/feedback/toast/toast.test.ts
  packages/refine/src/feedback/toast/toast.ts
  packages/refine/src/inputs/combobox/combobox.css
  packages/refine/src/inputs/date-picker/date-picker.css
  packages/refine/src/inputs/input/input.css
  packages/refine/src/inputs/input/input.e2e.ts
  packages/refine/src/inputs/number-input/number-input.css
  packages/refine/src/inputs/select/select.css
  packages/refine/src/inputs/select/select.e2e.ts
  packages/refine/src/inputs/slider/slider.css
  packages/refine/src/layout/sidebar/sidebar.e2e.ts
  packages/spell/src/core.ts
  packages/spell/src/errors.ts
  packages/spell/src/types.ts
  packages/spell/tsconfig.dtscheck.json
Due: lint:resources, lint:js, test:unit

docs: enhance toast service with new properties and improve documentation
  docs/.vitepress/theme/components/component-preview/sandboxDoc.ts
  docs/refine/components/toast.md
Due: lint:js
