Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lint:resources:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  
    '

lint:js:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest related {staged_files}
  
    '

test:unit:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest {staged_files}
  
    '

fix(spell): restore emission of schema marker symbols in published declarations
  common/changes/@vielzeug/spell/agent_1790141704591.json
  packages/spell/src/core.ts
  packages/spell/src/errors.ts
  packages/spell/src/types.ts
Due: lint:resources

demos: fix linting issues
  demos/crm/src/ui/app-shell.ts
  demos/crm/src/ui/components/activity-signal.ts
  demos/crm/src/ui/views/company-detail.ts
  demos/crm/src/ui/views/dashboard.ts
  demos/crm/src/ui/views/showcase.ts
  demos/eshop/src/core/router.ts
  demos/eshop/src/core/theme.ts
  demos/eshop/src/ui/views/admin.ts
  demos/voyage/src/core/router.ts
  demos/voyage/src/ui/components/travel-support-chat.ts
  demos/voyage/src/ui/navigation.ts
  packages/ledger/src/__tests__/ledger.test.ts
Due: lint:js, test:unit

chore: update nodejs to 22.23.3
  .tool-versions
  rush.json
Due: lint:resources

feat(refine): ore-icon no longer bundles the full Lucide set
  common/changes/@vielzeug/refine/agent_1790708524747.json
  common/changes/@vielzeug/refine/agent_1790744446594.json
  demos/crm/src/ui/app-shell.ts
  demos/eshop/src/ui/app-shell.ts
  demos/voyage/src/ui/app-shell.ts
  docs/.vitepress/config.ts
  docs/refine/api.md
  docs/refine/components/cookie-banner.md
  docs/refine/components/icon.md
  docs/refine/index.md
  packages/refine/package.json
  packages/refine/scripts/refine-manifest.mjs
  packages/refine/src/content/icon/icon.test.ts
  packages/refine/src/content/icon/icon.ts
  packages/refine/src/core/icon-registry.ts
  packages/refine/src/core/icons.ts
  packages/refine/src/feedback/cookie-banner/cookie-banner.css
  packages/refine/src/feedback/cookie-banner/cookie-banner.e2e.ts
  packages/refine/src/feedback/cookie-banner/cookie-banner.test.ts
  packages/refine/src/feedback/cookie-banner/cookie-banner.ts
  packages/refine/src/feedback/index.ts
  packages/refine/src/icon-lucide.ts
  packages/refine/src/inputs/checkbox/checkbox.e2e.ts
  packages/refine/src/types/elements.d.ts
Due: lint:resources, lint:js, test:unit

feat: implement hover-peek for action panels in list items
  docs/refine/components/list.md
  packages/keymap/src/__tests__/format.test.ts
  packages/keymap/src/format.ts
  packages/keymap/src/index.ts
  packages/refine/src/content/list/list-item.css
  packages/refine/src/content/list/list-item.test.ts
  packages/refine/src/content/list/list-item.ts
  packages/refine/src/content/list/list.e2e.ts
  packages/refine/src/disclosure/accordion-item/accordion-item.css
  packages/refine/src/disclosure/accordion-item/accordion-item.ts
  packages/refine/src/inputs/file-input/file-input-upload.ts
  packages/refine/src/inputs/file-input/file-input.test.ts
  packages/refine/src/inputs/file-input/file-input.ts
  packages/wayfinder/src/__tests__/phase-mirror.test.ts
  packages/wayfinder/src/__tests__/scroll.test.ts
  packages/wayfinder/src/phase-mirror.ts
  packages/wayfinder/src/router.ts
Due: lint:js, test:unit

chore: clean residual punctuation
  .github/actions/setup/action.yml
  .github/workflows/_publish-one.yml
  scripts/worktree.mjs
Due: lint:resources

fix(refine): restore focus rings and dynamic button content
  common/changes/@vielzeug/arsenal/agent_1791053850816.json
  common/changes/@vielzeug/codex/agent_1791053850883.json
  common/changes/@vielzeug/ore/agent_1791053850948.json
  common/changes/@vielzeug/refine/agent_1790967269155.json
  common/changes/@vielzeug/refine/agent_1790968109058.json
  common/changes/@vielzeug/spell/agent_1791053851012.json
  common/changes/@vielzeug/wayfinder/agent_1791053851076.json
  docs/.vitepress/theme/components/HomePage.vue
  docs/arsenal/api.md
  docs/arsenal/examples/array/toggle.md
  docs/dnd/index.md
  docs/rune/index.md
  packages/arsenal/src/__tests__/base64url.test.ts
  packages/arsenal/src/function/assert.ts
  packages/codex/scripts/generate-tool-docs.ts
  packages/refine/AGENTS.md
  packages/refine/src/content/chat-message/chat-message.css
  packages/refine/src/content/table/table.css
  packages/refine/src/disclosure/accordion-item/accordion-item.css
  packages/refine/src/disclosure/accordion/accordion.e2e.ts
  packages/refine/src/inputs/button/button.test.ts
  packages/refine/src/inputs/button/button.ts
  packages/refine/src/inputs/number-input/number-input.css
  packages/refine/src/inputs/otp-input/otp-input.css
  packages/refine/src/layout/navbar/navbar.css
  packages/refine/src/overlay/dialog/dialog.css
  packages/refine/src/styles/__tests__/focus-ring.test.ts
  packages/refine/src/styles/theme.css
  packages/spell/src/schemas/object.ts
  packages/wayfinder/src/__tests__/history.test.ts
  packages/wayfinder/src/__tests__/url.test.ts
  packages/wayfinder/src/history.ts
Due: lint:resources, lint:js, test:unit

test(wayfinder): cover voyage deployment base
  packages/wayfinder/src/__tests__/url.test.ts
  packages/wayfinder/src/history.ts
Due: lint:js, test:unit

chore(codex): refresh bundled docs data
  common/changes/@vielzeug/codex/agent_1791139048152.json
Due: lint:resources

chore: update package.json to include icon-lucide.ts in file list
  packages/refine/package.json
Due: lint:resources

feat(menu): render documented ore-menu-item parts for styling
  common/changes/@vielzeug/refine/agent_1791178990598.json
  packages/refine/src/overlay/menu/menu.test.ts
  packages/refine/src/overlay/menu/menu.ts
Due: lint:resources, lint:js, test:unit

feat(prism): support an independent right value axis for line charts
  common/changes/@vielzeug/prism/agent_1791267642252.json
  docs/prism/api.md
  docs/prism/usage.md
  packages/prism/src/__tests__/line-chart.test.ts
  packages/prism/src/charts/line/line-chart.ts
  packages/prism/src/interaction/series-interaction.ts
  packages/prism/src/types.ts
Due: lint:resources, lint:js, test:unit

fix(prism): cap chart width at its host
  common/changes/@vielzeug/prism/agent_1791267642315.json
  packages/prism/src/__tests__/internals.test.ts
  packages/prism/src/core/chart-base.ts
Due: lint:resources, lint:js, test:unit

feat(refine): add a header-end action slot to ore-counter
  common/changes/@vielzeug/refine/agent_1791267642376.json
  docs/refine/components/counter.md
  packages/refine/src/inputs/counter/counter.css
  packages/refine/src/inputs/counter/counter.e2e.ts
  packages/refine/src/inputs/counter/counter.test.ts
  packages/refine/src/inputs/counter/counter.ts
Due: lint:resources, lint:js, test:unit

fix(refine): honor the --input-color override on ore-input
  common/changes/@vielzeug/refine/agent_1791267642440.json
  packages/refine/src/inputs/input/input.css
  packages/refine/src/inputs/input/input.e2e.ts
Due: lint:resources

fix(refine): own the select panel radius from --select-radius
  common/changes/@vielzeug/refine/agent_1791267642497.json
  packages/refine/src/inputs/select/select.css
  packages/refine/src/inputs/select/select.e2e.ts
Due: lint:resources

fix(vault): distribute RecordOf and KeyOf over table unions
  common/changes/@vielzeug/vault/agent_1791307143773.json
  docs/vault/api.md
  packages/vault/package.json
  packages/vault/src/__tests__/types.test.ts
  packages/vault/src/types.ts
  packages/vault/tsconfig.types.json
Due: lint:resources, lint:js, test:unit

fix(refine): keep snackbar toasts one height with or without an action
  common/changes/@vielzeug/refine/agent_1791316704653.json
  docs/refine/components/toast.md
  packages/refine/src/feedback/toast/toast.css
  packages/refine/src/feedback/toast/toast.ts
Due: lint:resources, lint:js

feat(prism): per-datum dash/opacity presentation and stable data-series-id
  common/changes/@vielzeug/codex/agent_1791364761147.json
  common/changes/@vielzeug/prism/agent_1791364271517.json
  docs/prism/api.md
  docs/prism/usage.md
  packages/prism/src/__tests__/datum-presentation.test.ts
  packages/prism/src/charts/area/area-chart.ts
  packages/prism/src/charts/area/area-renderer.ts
  packages/prism/src/charts/bar/bar-chart.ts
  packages/prism/src/charts/bar/bar-renderer.ts
  packages/prism/src/charts/line/line-chart.ts
  packages/prism/src/charts/line/line-renderer.ts
  packages/prism/src/charts/radar/radar-chart.ts
  packages/prism/src/core/datum-style.ts
  packages/prism/src/core/series-id.ts
  packages/prism/src/types.ts
Due: lint:resources, lint:js, test:unit

feat(focus): add createQuickLookGrid for arrow-key tile browsing with Space preview
  common/changes/@vielzeug/focus/agent_1791363336602.json
  docs/focus/api.md
  docs/focus/index.md
  docs/focus/usage.md
  packages/focus/src/__tests__/quick-look-grid.test.ts
  packages/focus/src/index.ts
  packages/focus/src/quick-look-grid.ts
Due: lint:resources, lint:js, test:unit

fix(release): publish a train's workspace-dependency closure so exact pins never dangle
  .github/workflows/publish.yml
  RELEASE.md
  scripts/release/__tests__/apply-train.test.mjs
  scripts/release/__tests__/cli.test.mjs
  scripts/release/__tests__/publish-closure.test.mjs
  scripts/release/__tests__/publish-missing.test.mjs
  scripts/release/apply-train.mjs
  scripts/release/cli.mjs
  scripts/release/publish-closure.mjs
  scripts/release/publish-missing.mjs
Due: lint:resources

chore: backfill 26.10.2 alignment entries for the prism/focus dependency closure
  packages/arsenal/CHANGELOG.json
  packages/arsenal/CHANGELOG.md
  packages/keymap/CHANGELOG.json
  packages/keymap/CHANGELOG.md
  packages/orbit/CHANGELOG.json
  packages/orbit/CHANGELOG.md
  packages/ripple/CHANGELOG.json
  packages/ripple/CHANGELOG.md
Due: lint:resources

fix(release): publish a train's workspace-dependency closure so exact pins never dangle (#72)
  .github/workflows/publish.yml
  RELEASE.md
  packages/arsenal/CHANGELOG.json
  packages/arsenal/CHANGELOG.md
  packages/keymap/CHANGELOG.json
  packages/keymap/CHANGELOG.md
  packages/orbit/CHANGELOG.json
  packages/orbit/CHANGELOG.md
  packages/ripple/CHANGELOG.json
  packages/ripple/CHANGELOG.md
  scripts/release/__tests__/apply-train.test.mjs
  scripts/release/__tests__/cli.test.mjs
  scripts/release/__tests__/publish-closure.test.mjs
  scripts/release/__tests__/publish-missing.test.mjs
  scripts/release/apply-train.mjs
  scripts/release/cli.mjs
  scripts/release/publish-closure.mjs
  scripts/release/publish-missing.mjs
Due: lint:resources

refactor(tavern): move presence/warnings/rejections to tap() typed events
  common/changes/@vielzeug/codex/agent_1791372425752.json
  common/changes/@vielzeug/tavern/agent_1791369139120.json
  docs/tavern/api.md
  docs/tavern/examples/share-state-across-devices.md
  docs/tavern/index.md
  docs/tavern/migration.md
  docs/tavern/usage.md
  packages/tavern/src/__tests__/tavern.test.ts
  packages/tavern/src/_tappers.ts
  packages/tavern/src/errors.ts
  packages/tavern/src/index.ts
Due: lint:resources, lint:js, test:unit

refactor(tandem): harden sync engine API and add docs site entry
  README.md
  common/changes/@vielzeug/tandem/agent_1791367742919.json
  docs/.vitepress/theme/components/HomePage.vue
  docs/public/logo-tandem.svg
  docs/tandem/api.md
  docs/tandem/index.md
  docs/tandem/migration.md
  docs/tandem/usage.md
  packages/tandem/src/__tests__/tandem.test.ts
  packages/tandem/src/errors.ts
  packages/tandem/src/index.ts
  packages/tandem/src/tandem.ts
  packages/tandem/src/types.ts
Due: lint:resources, lint:js, test:unit

refactor(prism): replace devtools with tap(), unify animation on startTween
  common/changes/@vielzeug/prism/agent_1791372065806.json
  docs/prism/api.md
  docs/prism/index.md
  docs/prism/migration.md
  docs/prism/usage.md
  packages/prism/package.json
  packages/prism/src/__tests__/architecture.test.ts
  packages/prism/src/__tests__/devtools.test.ts
  packages/prism/src/__tests__/interaction-standard.test.ts
  packages/prism/src/__tests__/pie-chart.test.ts
  packages/prism/src/__tests__/sparkline.test.ts
  packages/prism/src/__tests__/tap.test.ts
  packages/prism/src/_dev.ts
  packages/prism/src/_tappers.ts
  packages/prism/src/animation/index.ts
  packages/prism/src/animation/transition.ts
  packages/prism/src/axes/index.ts
  packages/prism/src/charts/area/area-chart.ts
  packages/prism/src/charts/area/area-renderer.ts
  packages/prism/src/charts/line/line-chart.ts
  packages/prism/src/charts/line/line-renderer.ts
  packages/prism/src/charts/pie/pie-chart.ts
  packages/prism/src/charts/radar/radar-chart.ts
  packages/prism/src/charts/sparkline/sparkline.ts
  packages/prism/src/core/chart-scaffold.ts
  packages/prism/src/core/index.ts
  packages/prism/src/devtools/index.ts
  packages/prism/src/index.ts
  packages/prism/src/interaction/index.ts
  packages/prism/src/interaction/series-interaction.ts
  packages/prism/src/scales/index.ts
  packages/prism/src/svg/index.ts
  packages/prism/src/types.ts
  packages/prism/vite.config.ts
Due: lint:resources, lint:js, test:unit

feat(prism): non-deforming mount entrances via clip wipe and fade-rise
  common/changes/@vielzeug/codex/agent_1791383920974.json
  common/changes/@vielzeug/prism/agent_1791383912068.json
  docs/prism/migration.md
  docs/prism/usage.md
  packages/prism/src/__tests__/motion-behavior.test.ts
  packages/prism/src/__tests__/radar-chart.test.ts
  packages/prism/src/animation/reveal.ts
  packages/prism/src/animation/transition.ts
  packages/prism/src/charts/area/area-chart.ts
  packages/prism/src/charts/area/area-renderer.ts
  packages/prism/src/charts/line/line-chart.ts
  packages/prism/src/charts/line/line-renderer.ts
  packages/prism/src/charts/radar/radar-chart.ts
  packages/prism/src/charts/sparkline/sparkline.ts
Due: lint:resources, lint:js, test:unit

fix(prism): non-sliver bar entrances and livelier line/area wipes
  common/changes/@vielzeug/prism/agent_1791385830305.json
  docs/prism/migration.md
  docs/prism/usage.md
  packages/prism/src/__tests__/motion-behavior.test.ts
  packages/prism/src/animation/reveal.ts
  packages/prism/src/charts/area/area-renderer.ts
  packages/prism/src/charts/bar/bar-renderer.ts
  packages/prism/src/charts/line/line-renderer.ts
  packages/prism/src/charts/radar/radar-chart.ts
Due: lint:resources, lint:js, test:unit

feat(prism): add createScatterChart for two-dimensional point plots
  .agents/reference/packages.md
  common/changes/@vielzeug/prism/agent_1791387541361.json
  docs/prism/api.md
  docs/prism/index.md
  docs/prism/usage.md
  packages/codex/skills/vielzeug/SKILL.md
  packages/prism/README.md
  packages/prism/package.json
  packages/prism/src/__tests__/scatter-chart.test.ts
  packages/prism/src/charts/scatter/index.ts
  packages/prism/src/charts/scatter/scatter-chart.ts
  packages/prism/src/charts/scatter/scatter-renderer.ts
  packages/prism/src/index.ts
  packages/prism/src/interaction/scatter-interaction.ts
  packages/prism/src/theme/prism.css
  packages/prism/src/types.ts
Due: lint:resources, lint:js, test:unit

feat: improve chart motion and command palette previews
  common/changes/@vielzeug/codex/agent_1791441038116.json
  common/changes/@vielzeug/prism/agent_1791392116481.json
  common/changes/@vielzeug/prism/agent_1791440744653.json
  common/changes/@vielzeug/refine/agent_1791398769150.json
  docs/.vitepress/config.ts
  docs/.vitepress/plugins/component-preview/plugin.ts
  docs/.vitepress/theme/components/component-preview/__tests__/previewPlugin.test.ts
  docs/prism/api.md
  docs/prism/examples.md
  docs/prism/examples/custom-tooltip.md
  docs/prism/examples/hover-details.md
  docs/prism/examples/scatter-chart.md
  docs/prism/examples/theming.md
  docs/prism/examples/time-series.md
  docs/prism/examples/update-data.md
  docs/prism/index.md
  docs/prism/migration.md
  docs/prism/usage.md
  docs/refine/components/command-palette.md
  packages/prism/README.md
  packages/prism/src/__tests__/internals.test.ts
  packages/prism/src/__tests__/motion-behavior.test.ts
  packages/prism/src/__tests__/pie-chart.test.ts
  packages/prism/src/animation/reveal.ts
  packages/prism/src/charts/area/area-chart.ts
  packages/prism/src/charts/bar/bar-chart.ts
  packages/prism/src/charts/bar/bar-renderer.ts
  packages/prism/src/charts/line/line-chart.ts
  packages/prism/src/charts/line/line-renderer.ts
  packages/prism/src/charts/pie/pie-chart.ts
  packages/prism/src/core/chart-base.ts
  packages/prism/src/core/chart-scaffold.ts
  packages/prism/src/interaction/legend.ts
  packages/prism/src/types.ts
  packages/refine/src/overlay/command-palette/command-palette.css
  packages/refine/src/overlay/command-palette/command-palette.e2e.ts
  packages/refine/src/overlay/command-palette/command-palette.test.ts
  packages/refine/src/overlay/command-palette/command-palette.ts
  packages/refine/src/overlay/command-palette/command-palette.types.ts
Due: lint:resources, lint:js, test:unit

feat(release): full-family lockstep — every package rides every train
  .github/AGENTS.md
  .github/workflows/_publish-one.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  README.md
  RELEASE.md
  common/changes/@vielzeug/codex/agent_1791444644304.json
  docs/guide/versioning.md
  packages/codex/AGENTS.md
  scripts/AGENTS.md
  scripts/release/__tests__/apply-train.test.mjs
  scripts/release/__tests__/cli.test.mjs
  scripts/release/__tests__/dangling-pins.test.mjs
  scripts/release/__tests__/git-tag.test.mjs
  scripts/release/__tests__/tag-and-release.test.mjs
  scripts/release/apply-train.mjs
  scripts/release/cli.mjs
  scripts/release/dangling-pins.mjs
  scripts/release/git-tag.mjs
  scripts/release/local-publish.mjs
  scripts/release/publish-missing.mjs
  scripts/release/release-only-plan.mjs
  scripts/release/release-plan.mjs
  scripts/release/tag-and-release.mjs
Due: lint:resources

ci(release): publish a train with a single approval
  .github/AGENTS.md
  .github/workflows/_publish-one.yml
  .github/workflows/publish.yml
Due: lint:resources

Path conditions:
  lint:resources: any of: *.{html,json,yml}
  lint:js: any of: *[!.{spec,test}].{[tj]s,[tj]sx}
  test:unit: any of: *.{spec,test}.{[tj]s,[tj]sx}
