Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lint:resources:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  
    '

lint:js:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest related {staged_files}
  
    '

test:unit:
  run: 'npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} npx vitest {staged_files}
  
    '

chore: update pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
Due: none

fix: increase generate repl registry test timeout
  scripts/__tests__/generate-repl-registry.test.ts
Due: lint:js, test:unit

feat(codex): migrate to @modelcontextprotocol/server 2.0.0
  common/changes/@vielzeug/codex/agent_1786376330884.json
  docs/codex/usage.md
  packages/codex/README.md
  packages/codex/package.json
  packages/codex/src/__tests__/http.test.ts
  packages/codex/src/cli.ts
  packages/codex/src/http.ts
  packages/codex/src/server.ts
  packages/codex/src/tools/index.ts
  pnpm-lock.yaml
Due: lint:resources, lint:js, test:unit

refactor(refine): collapse core/ barrels, unify composable disposal, derive manifest from filesystem, add --_* CSS contract check
  common/changes/@vielzeug/refine/agent_1786382610208.json
  packages/refine/package.json
  packages/refine/scripts/check-css-contract.mjs
  packages/refine/scripts/refine-manifest.mjs
  packages/refine/src/core/__tests__/paginated-list.test.ts
  packages/refine/src/core/_internal.ts
  packages/refine/src/core/choice-field.ts
  packages/refine/src/core/focus.ts
  packages/refine/src/core/index.ts
  packages/refine/src/core/option-list.ts
  packages/refine/src/core/overlay.ts
  packages/refine/src/core/paginated-list.ts
  packages/refine/src/inputs/combobox/combobox.ts
  packages/refine/src/inputs/select/select.ts
  packages/refine/src/overlay/menu/menu.ts
  packages/refine/src/overlay/shared/use-dialog.ts
  packages/refine/src/overlay/shared/use-floating-trigger.ts
Due: lint:resources, lint:js, test:unit

fix(refine): typesVersions["*"] order lagged generated exports order after Refine manifest generation.
  packages/refine/package.json
Due: lint:resources

docs: fix sandbox scripts preview
  .gitignore
  common/changes/@vielzeug/codex/agent_1786437537074.json
  docs/.vitepress/theme/components/component-preview/__tests__/sandboxDoc.test.ts
  docs/.vitepress/theme/components/component-preview/sandboxDoc.ts
  docs/.vitepress/theme/components/repl/execution/__tests__/persistedCode.test.ts
  docs/.vitepress/theme/components/repl/execution/persistedCode.ts
  packages/refine/src/overlay/drawer/drawer.e2e.ts
  packages/refine/src/overlay/menu/menu.e2e.ts
  packages/refine/src/overlay/menu/menu.ts
Due: lint:resources, lint:js, test:unit

feat(refine): add navigation menu
  common/changes/@vielzeug/refine/agent_1786563551192.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/ComponentPreview.vue
  docs/.vitepress/theme/components/HomePage.vue
  docs/.vitepress/theme/components/PackagesMenu.vue
  docs/.vitepress/theme/components/__tests__/packageGroups.test.ts
  docs/.vitepress/theme/components/component-preview/__tests__/sandboxDoc.test.ts
  docs/.vitepress/theme/components/component-preview/sandboxDoc.ts
  docs/.vitepress/theme/components/component-preview/useComponentPreview.ts
  docs/.vitepress/theme/components/packageGroups.ts
  docs/.vitepress/theme/index.js
  docs/refine/components/navigation-menu.md
  docs/refine/frameworks.md
  docs/vitest.config.ts
  packages/refine/package.json
  packages/refine/scripts/generate-framework-types.mjs
  packages/refine/scripts/refine-manifest.mjs
  packages/refine/src/core/overlay.ts
  packages/refine/src/core/positioner.ts
  packages/refine/src/overlay/index.ts
  packages/refine/src/overlay/navigation-menu/navigation-menu-item.css
  packages/refine/src/overlay/navigation-menu/navigation-menu-panel.css
  packages/refine/src/overlay/navigation-menu/navigation-menu.css
  packages/refine/src/overlay/navigation-menu/navigation-menu.e2e.ts
  packages/refine/src/overlay/navigation-menu/navigation-menu.test.ts
  packages/refine/src/overlay/navigation-menu/navigation-menu.ts
Due: lint:resources, lint:js, test:unit

docs: improved PackageHero design
  docs/.vitepress/theme/components/ComponentPreview.vue
  docs/.vitepress/theme/components/HomePage.vue
  docs/.vitepress/theme/components/PackageHero.vue
  docs/.vitepress/theme/components/PackagesMenu.vue
  docs/.vitepress/theme/components/REPL.vue
  docs/.vitepress/theme/components/REPLEditor.vue
  docs/.vitepress/theme/components/REPLReference.vue
  packages/refine/src/content/text/text.css
  packages/refine/src/content/text/text.ts
  packages/refine/src/inputs/button/button.css
  packages/refine/src/inputs/button/button.e2e.ts
  packages/refine/src/inputs/button/button.test.ts
Due: lint:js, test:unit

docs: improved PackageHero design
  docs/.vitepress/theme/components/component-preview/__tests__/sandboxDoc.test.ts
  docs/.vitepress/theme/components/component-preview/sandboxDoc.ts
  docs/refine/components/menu.md
Due: lint:js, test:unit

ci: bump nodejs version
  .tool-versions
  rush.json
Due: lint:resources

fix(refine): normalized Refine manifest. Added missing classic TypeScript mappings
  packages/refine/package.json
Due: lint:resources

fix(ore): reuse ElementInternals when a form-associated host reconnects
  common/changes/@vielzeug/ore/agent_1786691454257.json
  demos/eshop/package.json
  demos/eshop/pnpm-lock.yaml
  demos/eshop/pnpm-workspace.yaml
  demos/eshop/src/core/currency.ts
  demos/eshop/src/styles/app.css
  demos/eshop/src/ui/views/settings.ts
  demos/kanban/package.json
  demos/kanban/pnpm-lock.yaml
  demos/kanban/pnpm-workspace.yaml
  demos/kanban/src/styles/app.css
  demos/kanban/src/ui/views/settings.ts
  packages/ore/src/__tests__/component-form.test.ts
  packages/ore/src/forms/field.ts
Due: lint:resources, lint:js, test:unit

Fix REPL template bindings and base paths
  docs/.vitepress/theme/components/REPL.vue
Due: none

Fix REPL template bindings and base paths (#67)
  docs/.vitepress/theme/components/REPL.vue
Due: none

refactor(ore): remove reusable-tag optimization in mount.ts, flatten nested onMounted scheduling into single microtask
  common/changes/@vielzeug/ore/agent_1786775928094.json
  packages/ore/src/__tests__/testing.test.ts
  packages/ore/src/base-element.ts
  packages/ore/src/template/compiler.ts
  packages/ore/src/testing/mount.ts
Due: lint:resources, lint:js, test:unit

ci: fix npm version
  .github/workflows/_publish-one.yml
  .github/workflows/publish.yml
Due: lint:resources

refactor(courier): widen invalidate() type to readonly unknown[]; remove res.text() fallback for broken fetch fakes
  common/changes/@vielzeug/codex/agent_1786777211676.json
  common/changes/@vielzeug/courier/agent_1786777097005.json
  docs/courier/api.md
  docs/courier/migration.md
  docs/courier/usage.md
  packages/arsenal/src/index.ts
  packages/courier/package.json
  packages/courier/src/api.ts
  packages/courier/src/courier.ts
  packages/courier/src/devtools.ts
  packages/courier/src/query.ts
  packages/courier/src/types.ts
  packages/courier/vite.config.ts
Due: lint:resources, lint:js

refactor(forge): inline createStore into createForm; remove unused _utils.ts
  common/changes/@vielzeug/forge/agent_1786777819826.json
  docs/forge/api.md
  docs/forge/migration.md
  packages/forge/README.md
  packages/forge/package.json
  packages/forge/src/__tests__/devtools.test.ts
  packages/forge/src/_utils.ts
  packages/forge/src/adapters/form-data.ts
  packages/forge/src/devtools.ts
  packages/forge/src/form.ts
  packages/forge/vite.config.ts
Due: lint:resources, lint:js, test:unit

refactor(lingua): remove redundant LoadedCatalogs type alias (use Catalogs directly)
  common/changes/@vielzeug/lingua/agent_1786778355217.json
  docs/lingua/api.md
  packages/lingua/src/_resources.ts
  packages/lingua/src/index.ts
  packages/lingua/src/types.ts
Due: lint:resources, lint:js

chore(spell): remove SchemaDefinition synonym type (use SchemaDescriptor directly)
  common/changes/@vielzeug/spell/agent_1786782338424.json
  docs/spell/api.md
  packages/arsenal/scripts/exports.manifest.mjs
  packages/spell/src/core.ts
  packages/spell/src/index.ts
  packages/spell/src/json-schema.ts
  packages/spell/src/messages.ts
  packages/spell/src/schemas/bigint.ts
  packages/spell/src/schemas/string.ts
  packages/spell/src/types.ts
Due: lint:resources, lint:js

chore(sourcerer): LocalSource methods return void instead of boolean (parallel with async source contracts, no consumer used the boolean)
  common/changes/@vielzeug/sourcerer/agent_1786790145355.json
  docs/sourcerer/api.md
  docs/sourcerer/index.md
  docs/sourcerer/usage.md
  packages/sourcerer/package.json
  packages/sourcerer/src/__tests__/devtools.test.ts
  packages/sourcerer/src/__tests__/localSource.test.ts
  packages/sourcerer/src/devtools.ts
  packages/sourcerer/src/index.ts
  packages/sourcerer/src/localSource.ts
  packages/sourcerer/src/types.ts
  packages/sourcerer/vite.config.ts
Due: lint:resources, lint:js, test:unit

chore(flux): deduplicate assertDuration into _numeric.ts; consolidate assertPositiveInteger usage in _iterator.ts and concatMap
  common/changes/@vielzeug/flux/agent_1786791026237.json
  docs/flux/api.md
  docs/flux/index.md
  packages/flux/src/__tests__/adapters.test.ts
  packages/flux/src/__tests__/entrypoints.test.ts
  packages/flux/src/_iterator.ts
  packages/flux/src/_numeric.ts
  packages/flux/src/adapters/courier.ts
  packages/flux/src/courier.ts
  packages/flux/src/errors.ts
  packages/flux/src/operators/creation.ts
  packages/flux/src/operators/filtering.ts
  packages/flux/src/operators/transformation.ts
  packages/flux/src/operators/utility.ts
Due: lint:resources, lint:js, test:unit

chore(codex): rename SnapshotCatalog interface to CatalogFile (eliminates name collision with SnapshotCatalog class)
  common/changes/@vielzeug/codex/agent_1786792927106.json
  packages/codex/scripts/generator.ts
  packages/codex/scripts/llms.ts
  packages/codex/src/errors.ts
  packages/codex/src/snapshot.ts
  packages/codex/src/tools/packages.ts
  packages/codex/src/tools/refine.ts
  packages/codex/src/tools/schema.ts
  packages/codex/src/types.ts
Due: lint:resources, lint:js

chore: update package manifest script
  packages/arsenal/package.json
  packages/assay/package.json
  packages/clockwork/package.json
  packages/codex/package.json
  packages/coins/package.json
  packages/conduit/package.json
  packages/courier/package.json
  packages/dnd/package.json
  packages/familiar/package.json
  packages/flux/package.json
  packages/forge/package.json
  packages/herald/package.json
  packages/keymap/package.json
  packages/ledger/package.json
  packages/lingua/package.json
  packages/necromancer/package.json
  packages/orbit/package.json
  packages/ore/package.json
  packages/prism/package.json
  packages/pulse/package.json
  packages/refine/package.json
  packages/ripple/package.json
  packages/rune/package.json
  packages/sandbox/package.json
  packages/scout/package.json
  packages/scroll/package.json
  packages/sourcerer/package.json
  packages/spell/package.json
  packages/tempo/package.json
  packages/vault/package.json
  packages/ward/package.json
  packages/wayfinder/package.json
  scripts/lib/package-manifest.mjs
Due: lint:resources

chore(vault): remove VaultError.is() static type guard (use instanceof VaultError); remove dead wrapStored/unwrapStored/readWithTtl helpers from ttl.ts
  common/changes/@vielzeug/codex/agent_1786830291397.json
  common/changes/@vielzeug/vault/agent_1786830149830.json
  docs/vault/api.md
  packages/vault/src/_dev.ts
  packages/vault/src/adapters/sqlite.ts
  packages/vault/src/errors.ts
  packages/vault/src/sqlite.ts
  packages/vault/src/ttl.ts
Due: lint:resources, lint:js

chore(ripple): remove RippleError.is() static type guard (use instanceof RippleError)
  common/changes/@vielzeug/ripple/agent_1786830861733.json
  docs/ripple/api.md
  packages/ripple/src/_async.ts
  packages/ripple/src/_watch.ts
  packages/ripple/src/errors.ts
Due: lint:resources, lint:js

docs: update sync data script
  .ai/README.md
  .ai/core/conventions.md
  .ai/core/policy.md
  .ai/core/workspace.md
  .ai/data/packages.json
  .ai/data/tasks.json
  .ai/reference/docs-template.md
  .ai/state/AGENTS.md
  .ai/tasks/build.md
  .ai/tasks/document.md
  .ai/tasks/release.md
  .ai/tasks/review.md
  .gitignore
  AGENTS.md
  scripts/__tests__/sync-ai-data.test.mjs
  scripts/lib/marker-sync.mjs
  scripts/sync-ai-data.mjs
Due: lint:resources

refactor(assay): remove AssayError.is() static type guard (use instanceof AssayError)
  .ai/core/conventions.md
  common/changes/@vielzeug/assay/agent_1786831897741.json
  docs/assay/api.md
  docs/assay/migration.md
  docs/assay/usage.md
  packages/assay/package.json
  packages/assay/src/__tests__/events.test.ts
  packages/assay/src/__tests__/wait.test.ts
  packages/assay/src/_dev.ts
  packages/assay/src/errors.ts
  packages/assay/src/events.ts
  packages/assay/src/index.ts
Due: lint:resources, lint:js, test:unit

refactor(scout): remove ScoutError.is() static type guard (use instanceof ScoutError);
  common/changes/@vielzeug/scout/agent_1786852808999.json
  docs/scout/api.md
  docs/scout/migration.md
  packages/scout/src/__tests__/index.test.ts
  packages/scout/src/_index-state.ts
  packages/scout/src/adapters.ts
  packages/scout/src/errors.ts
  packages/scout/src/scout-index.ts
Due: lint:resources, lint:js, test:unit

refactor(sandbox): remove SandboxError.is() static type guard (use instanceof SandboxError)
  common/changes/@vielzeug/sandbox/agent_1786853626082.json
  docs/.vitepress/theme/components/repl/examples/sandbox/error-normalize.ts
  docs/sandbox/api.md
  docs/sandbox/migration.md
  docs/sandbox/usage.md
  packages/sandbox/src/__tests__/errors.test.ts
  packages/sandbox/src/__tests__/sandbox.test.ts
  packages/sandbox/src/__tests__/security.test.ts
  packages/sandbox/src/_document.ts
  packages/sandbox/src/_policy.ts
  packages/sandbox/src/_runtime.ts
  packages/sandbox/src/_sandbox.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/types.ts
Due: lint:resources, lint:js, test:unit

chore: enable vue support in biomejs linter
  biome.jsonc
  docs/.vitepress/theme/components/CodeWindow.vue
  docs/.vitepress/theme/components/ColorPalette.vue
  docs/.vitepress/theme/components/ComponentPreview.vue
  docs/.vitepress/theme/components/HomePage.vue
  docs/.vitepress/theme/components/PackageBadges.vue
  docs/.vitepress/theme/components/PackageHero.vue
  docs/.vitepress/theme/components/PackageInfo.vue
  docs/.vitepress/theme/components/PackagesMenu.vue
  docs/.vitepress/theme/components/REPL.vue
  docs/.vitepress/theme/components/REPLEditor.vue
  docs/.vitepress/theme/components/REPLReference.vue
  packages/arsenal/src/object/__tests__/diff.test.ts
  packages/dnd/src/_touch.ts
  packages/flux/src/__tests__/adapters.test.ts
  packages/flux/src/operators/combination.ts
  packages/keymap/src/format.ts
  packages/orbit/src/__tests__/devtools.test.ts
  packages/ore/src/slots.ts
  packages/prism/src/__tests__/scales.test.ts
  packages/refine/src/content/marquee/marquee.ts
  packages/refine/src/content/stepper/stepper.test.ts
  packages/refine/src/core/__tests__/announcer.test.ts
  packages/scroll/src/__tests__/test-utils.ts
  packages/wayfinder/src/__tests__/coerce-search.test.ts
  packages/wayfinder/src/history.ts
  packages/wayfinder/src/path.ts
  packages/wayfinder/src/router.ts
Due: lint:js, test:unit

refactor(prism): remove PrismError.is() static type guard (use instanceof PrismError)
  common/changes/@vielzeug/prism/agent_1786862400000.json
  docs/prism/api.md
  docs/prism/index.md
  docs/prism/migration.md
  packages/prism/src/__tests__/animation.test.ts
  packages/prism/src/__tests__/area-chart.test.ts
  packages/prism/src/__tests__/bar-chart.test.ts
  packages/prism/src/__tests__/errors.test.ts
  packages/prism/src/__tests__/internals.test.ts
  packages/prism/src/__tests__/line-chart.test.ts
  packages/prism/src/__tests__/pie-chart.test.ts
  packages/prism/src/__tests__/sparkline.test.ts
  packages/prism/src/animation/index.ts
  packages/prism/src/animation/tween.ts
  packages/prism/src/axes/types.ts
  packages/prism/src/charts/area/area-types.ts
  packages/prism/src/charts/bar/bar-types.ts
  packages/prism/src/charts/index.ts
  packages/prism/src/charts/line/line-types.ts
  packages/prism/src/charts/pie/pie-chart.ts
  packages/prism/src/charts/sparkline/sparkline.ts
  packages/prism/src/core/chart-base.ts
  packages/prism/src/core/chart-scaffold.ts
  packages/prism/src/errors.ts
  packages/prism/src/index.ts
  packages/prism/src/interaction/hit-test.ts
  packages/prism/src/interaction/index.ts
  packages/prism/src/scales/band.ts
  packages/prism/src/scales/types.ts
  packages/prism/src/svg/index.ts
  packages/prism/src/svg/text.ts
  packages/prism/src/types.ts
Due: lint:resources, lint:js, test:unit

feat(courier): add mutate.invalidateKeys for one-step cache invalidation+refetch after successful writes
  common/changes/@vielzeug/courier/agent_1786866240000.json
  common/changes/@vielzeug/flux/agent_1786863200000.json
  demos/eshop/package.json
  demos/eshop/src/core/order-actions.ts
  demos/eshop/src/core/orders.ts
  demos/kanban/package.json
  docs/.vitepress/theme/components/repl/examples/courier/create-courier.ts
  docs/courier/api.md
  docs/courier/examples/crud-operations.md
  docs/courier/examples/optimistic-updates.md
  docs/courier/examples/polling.md
  docs/courier/index.md
  docs/courier/migration.md
  docs/courier/usage.md
  docs/flux/api.md
  docs/guide/index.md
  packages/courier/README.md
  packages/courier/src/__tests__/courier.test.ts
  packages/courier/src/__tests__/query.test.ts
  packages/courier/src/_dev.ts
  packages/courier/src/courier.ts
  packages/courier/src/errors.ts
  packages/courier/src/interceptors.ts
  packages/courier/src/query.ts
  packages/courier/src/response.ts
  packages/courier/src/serialize.ts
  packages/courier/src/stream.ts
  packages/courier/src/transport.ts
  packages/courier/src/types.ts
  packages/flux/src/__tests__/adapters.test.ts
  packages/flux/src/__tests__/channel.test.ts
  packages/flux/src/_pipe.ts
  packages/flux/src/adapters/ripple.ts
  packages/flux/src/channel.ts
  packages/flux/src/pipe.ts
  packages/flux/src/subjects.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint:resources, lint:js, test:unit

fix(ripple): recognize Signals, computed values, and Resources across duplicate Ripple module graphs
  common/changes/@vielzeug/ripple/agent_1786830861733.json
  docs/ripple/api.md
  docs/ripple/usage.md
  packages/ripple/src/__tests__/entrypoints.test.ts
  packages/ripple/src/__tests__/runtime.test.ts
  packages/ripple/src/_async.ts
  packages/ripple/src/runtime.ts
Due: lint:resources, lint:js, test:unit

refactor(clockwork): remove ClockworkError.is() type guard; use instanceof ClockworkError instead
  common/changes/@vielzeug/clockwork/agent_1786863056526.json
  docs/.vitepress/theme/components/repl/examples/clockwork/resolve-and-error.ts
  docs/clockwork/api.md
  docs/clockwork/migration.md
  docs/clockwork/usage.md
  packages/clockwork/src/__tests__/machine.test.ts
  packages/clockwork/src/_context.ts
  packages/clockwork/src/_dev.ts
  packages/clockwork/src/definition.ts
  packages/clockwork/src/errors.ts
  packages/clockwork/src/interpret.ts
Due: lint:resources, lint:js, test:unit

feat(scroll): Add keyboard navigation support to all virtualizers
  common/changes/@vielzeug/scroll/agent_1786864732000.json
  docs/scroll/api.md
  docs/scroll/index.md
  docs/scroll/migration.md
  docs/scroll/usage.md
  packages/scroll/README.md
  packages/scroll/src/__tests__/reactive.test.ts
  packages/scroll/src/__tests__/signal.test.ts
  packages/scroll/src/_sticky.ts
  packages/scroll/src/dom-virtual-list.ts
  packages/scroll/src/grid-virtualizer.ts
  packages/scroll/src/grouped-virtualizer.ts
  packages/scroll/src/index.ts
  packages/scroll/src/reactive.ts
  packages/scroll/src/virtualizer.ts
Due: lint:resources, lint:js, test:unit

docs: update ore-command-palette docs
  docs/refine/components/command-palette.md
Due: none

Path conditions:
  lint:resources: any of: *.{html,json,yml}
  lint:js: any of: *[!.{spec,test}].{[tj]s,[tj]sx}
  test:unit: any of: *.{spec,test}.{[tj]s,[tj]sx}
