Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lefthook.yml:

pre-commit:
  piped: true
  follow: true
  commands:
    lint:resources:
      glob: '*.{html,json,yml}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    lint:js:
      glob: '*[!.{spec,test}].{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest related {staged_files}
    test:unit:
      glob: '*.{spec,test}.{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest {staged_files}

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,md,mdx,html}"
      run: npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

refactor(policy): centralize design decision ownership and clarify delegation process
  .ai/core/policy.md
  .ai/state/AGENTS.md
  .ai/tasks/build.md
  .ai/tasks/review.md
Due: none

docs: improved policy and review flow descriptions
  .ai/core/conventions.md
  .ai/core/policy.md
  .ai/data/tasks.json
  .ai/tasks/build.md
  .ai/tasks/review.md
Due: lint:resources

chore: consolidate change files
  common/changes/@vielzeug/clockwork/agent_1785694586985.json
  common/changes/@vielzeug/clockwork/agent_1785826101038.json
  common/changes/@vielzeug/codex/agent_1785208153292.json
  common/changes/@vielzeug/codex/agent_1785853251953.json
  common/changes/@vielzeug/courier/agent_1785473369306.json
  common/changes/@vielzeug/courier/agent_1785526163128.json
  common/changes/@vielzeug/flux/agent_1785527181058.json
  common/changes/@vielzeug/flux/agent_1785694587159.json
  common/changes/@vielzeug/flux/agent_1785793767956.json
  common/changes/@vielzeug/flux/agent_1785880024587.json
  common/changes/@vielzeug/forge/agent_1785443326806.json
  common/changes/@vielzeug/forge/agent_1785694587272.json
  common/changes/@vielzeug/forge/agent_1785735885971.json
  common/changes/@vielzeug/forge/agent_1785783141442.json
  common/changes/@vielzeug/lingua/agent_1785430869411.json
  common/changes/@vielzeug/lingua/agent_1785498000930.json
  common/changes/@vielzeug/lingua/agent_1785519931240.json
  common/changes/@vielzeug/ore/agent_1785410876666.json
  common/changes/@vielzeug/ore/agent_1785538617793.json
  common/changes/@vielzeug/ore/agent_1785694587538.json
  common/changes/@vielzeug/refine/agent_1785176422683.json
  common/changes/@vielzeug/refine/agent_1785317007385.json
  common/changes/@vielzeug/refine/agent_1785410882180.json
  common/changes/@vielzeug/refine/agent_1785538617822.json
  common/changes/@vielzeug/refine/agent_1785648554207.json
  common/changes/@vielzeug/refine/agent_1785665025508.json
  common/changes/@vielzeug/refine/agent_1785694587789.json
  common/changes/@vielzeug/ripple/agent_1785399416695.json
  common/changes/@vielzeug/ripple/agent_1785694586927.json
  common/changes/@vielzeug/scout/agent_1785694587738.json
  common/changes/@vielzeug/scout/agent_1785786297450.json
  common/changes/@vielzeug/spell/agent_1785783141394.json
Due: lint:resources

refactor(courier): redesign Courier around one client, query handles, direct mutations, and AsyncIterable streams
  README.md
  demos/eshop/src/core/catalog.ts
  demos/eshop/src/core/orders.ts
  demos/kanban/src/core/users.ts
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples/courier/create-courier.ts
  docs/.vitepress/theme/components/repl/examples/courier/query-handle.ts
  docs/codex/examples/package-metadata.md
  docs/courier/api.md
  docs/courier/examples/ai-token-stream.md
  docs/courier/examples/crud-operations.md
  docs/courier/examples/disposal.md
  docs/courier/examples/polling.md
  docs/courier/index.md
  docs/courier/usage.md
  docs/flux/api.md
  docs/guide/index.md
  packages/courier/README.md
  packages/courier/src/__tests__/courier.test.ts
  packages/courier/src/__tests__/query.test.ts
  packages/courier/src/__tests__/stream.test.ts
  packages/courier/src/api.ts
  packages/courier/src/courier.ts
  packages/courier/src/focus.ts
  packages/courier/src/index.ts
  packages/courier/src/persist.ts
  packages/courier/src/query.ts
  packages/courier/src/retry.ts
  packages/courier/src/stream.ts
  packages/courier/src/transport.ts
  packages/courier/src/types.ts
  packages/courier/src/url.ts
  packages/flux/src/__tests__/adapters.test.ts
  packages/flux/src/adapters/courier.ts
Due: lint:js, test:unit

refactor(lingua): redesign localization around explicit locale catalogs
  common/changes/@vielzeug/lingua/agent_1785430869411.json
  demos/eshop/package.json
  demos/eshop/src/core/i18n.ts
  demos/kanban/src/core/i18n.ts
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples/lingua/feature-resources.ts
  docs/.vitepress/theme/components/repl/examples/lingua/store.ts
  docs/guide/index.md
  docs/lingua/api.md
  docs/lingua/examples.md
  docs/lingua/examples/feature-resources.md
  docs/lingua/examples/ssr-hydration.md
  docs/lingua/index.md
  docs/lingua/usage.md
  packages/lingua/README.md
  packages/lingua/package.json
  packages/lingua/scripts/verify-exports.mjs
  packages/lingua/src/__tests__/i18n.test.ts
  packages/lingua/src/__tests__/translator.test.ts
  packages/lingua/src/__tests__/validate.test.ts
  packages/lingua/src/_catalog.ts
  packages/lingua/src/_resources.ts
  packages/lingua/src/_template.ts
  packages/lingua/src/errors.ts
  packages/lingua/src/i18n.ts
  packages/lingua/src/index.ts
  packages/lingua/src/translator.ts
  packages/lingua/src/types.ts
  packages/lingua/src/validate.ts
Due: lint:resources, lint:js, test:unit

docs: add migration pages in the docs
  common/changes/@vielzeug/lingua/agent_1785430869411.json
  common/changes/@vielzeug/prism/agent_1785694587623.json
  common/changes/@vielzeug/pulse/agent_1785694587675.json
  common/changes/@vielzeug/refine/agent_1785176422683.json
  common/changes/@vielzeug/ripple/agent_1785399416695.json
  common/changes/@vielzeug/scout/agent_1785694587738.json
  common/changes/@vielzeug/sourcerer/agent_1785786297391.json
  common/changes/@vielzeug/vault/agent_1785931974823.json
  docs/.vitepress/config.ts
  docs/assay/migration.md
  docs/clockwork/migration.md
  docs/codex/migration.md
  docs/coins/migration.md
  docs/conduit/migration.md
  docs/courier/migration.md
  docs/flux/migration.md
  docs/forge/migration.md
  docs/ledger/migration.md
  docs/lingua/migration.md
  docs/ore/migration.md
  docs/prism/migration.md
  docs/pulse/migration.md
  docs/refine/migration.md
  docs/ripple/migration.md
  docs/scout/migration.md
  docs/sourcerer/migration.md
  docs/spell/migration.md
  docs/vault/migration.md
  docs/vault/usage.md
Due: lint:resources, lint:js

refactor(theme): streamline CSS formatting and clean up theme token comments
  packages/refine/scripts/theme-tokens.mjs
Due: none

feat(lingua): add single-catalog translators and harden package resolution
  common/changes/@vielzeug/codex/agent_1785957769560.json
  common/changes/@vielzeug/lingua/agent_1785955341221.json
  docs/.vitepress/theme/components/repl/examples/lingua/rich-segments.ts
  docs/.vitepress/theme/components/repl/examples/lingua/static-translator.ts
  docs/lingua/api.md
  docs/lingua/examples/static-translator.md
  docs/lingua/index.md
  docs/lingua/migration.md
  docs/lingua/usage.md
  packages/lingua/README.md
  packages/lingua/package.json
  packages/lingua/scripts/verify-exports.mjs
  packages/lingua/scripts/verify-package.mjs
  packages/lingua/src/__tests__/i18n.test.ts
  packages/lingua/src/__tests__/translator.test.ts
  packages/lingua/src/_catalog.ts
  packages/lingua/src/index.ts
  packages/lingua/src/translator.ts
  packages/lingua/src/types.ts
Due: lint:resources, lint:js, test:unit

ci: add dry-run job for validation and enforce main branch for publishing
  .github/AGENTS.md
  .github/workflows/_publish-one.yml
  .github/workflows/_test-lint.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/test-pr.yml
  scripts/release/__tests__/cli.test.mjs
  scripts/release/__tests__/npm-publish.test.mjs
  scripts/release/cli.mjs
  scripts/release/npm-publish.mjs
Due: lint:resources

ci(publish): add verification check for packed packages only when missing packages exist
  scripts/release/__tests__/publish-missing.test.mjs
  scripts/release/publish-missing.mjs
Due: none

cli(publish): add npmEnvironment function to sanitize npm config and enhance versionExists with timeout
  scripts/lib/__tests__/cli.test.mjs
  scripts/lib/cli.d.mts
  scripts/lib/cli.mjs
  scripts/release/__tests__/npm-version-exists.test.mjs
  scripts/release/__tests__/publish-missing.test.mjs
  scripts/release/npm-version-exists.mjs
  scripts/release/publish-missing.mjs
  scripts/verify-packed-packages.mjs
Due: none

feat(dnd): make sortable scopes own connected moves and touch input
  README.md
  common/changes/@vielzeug/dnd/agent_1786080263945.json
  demos/eshop/package.json
  demos/eshop/pnpm-lock.yaml
  demos/eshop/src/main.ts
  demos/eshop/src/ui/components/compare-drawer.ts
  demos/kanban/package.json
  demos/kanban/pnpm-lock.yaml
  demos/kanban/src/main.ts
  demos/kanban/src/ui/components/column.ts
  docs/.vitepress/theme/components/repl/examples/dnd/sortable-connected.ts
  docs/dnd/api.md
  docs/dnd/examples/combined-sortable-with-inline-editing.md
  docs/dnd/examples/connected-kanban-keyboard-sorting.md
  docs/dnd/examples/file-upload-drop-zone.md
  docs/dnd/examples/optimistic-reorder-with-revert.md
  docs/dnd/examples/sortable-list.md
  docs/dnd/examples/touch-enabled-sortable-list.md
  docs/dnd/examples/using-using-for-scoped-cleanup.md
  docs/dnd/examples/web-component-with-craft.md
  docs/dnd/index.md
  docs/dnd/migration.md
  docs/dnd/usage.md
  packages/dnd/README.md
  packages/dnd/src/__tests__/drop-zone.test.ts
  packages/dnd/src/__tests__/sortable.test.ts
  packages/dnd/src/__tests__/touch.test.ts
  packages/dnd/src/_touch.ts
  packages/dnd/src/drop-zone.ts
  packages/dnd/src/index.ts
  packages/dnd/src/sortable.ts
  packages/dnd/src/touch.ts
Due: lint:resources, lint:js, test:unit

docs: include new migration guideline reference
  .ai/reference/docs-template.md
  docs/arsenal/index.md
  docs/assay/index.md
  docs/clockwork/index.md
  docs/codex/index.md
  docs/coins/index.md
  docs/conduit/index.md
  docs/courier/index.md
  docs/flux/index.md
  docs/forge/index.md
  docs/ledger/index.md
  docs/lingua/api.md
  docs/lingua/index.md
  docs/lingua/migration.md
  docs/ore/index.md
  docs/prism/index.md
  docs/refine/index.md
  docs/ripple/index.md
  docs/scout/index.md
  docs/sourcerer/index.md
  docs/spell/index.md
  docs/vault/api.md
  docs/vault/index.md
  docs/vault/migration.md
Due: none

refactor(herald): simplify event bus and remove retained-state APIs
  common/changes/@vielzeug/herald/agent_1786089968446.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples/herald/behavior-bus.ts
  docs/.vitepress/theme/components/repl/examples/herald/behavior-snapshot.ts
  docs/.vitepress/theme/components/repl/examples/herald/index.ts
  docs/.vitepress/theme/components/repl/examples/herald/test-bus.ts
  docs/clockwork/usage.md
  docs/herald/api.md
  docs/herald/examples/bus-bridging-with-pipeevents.md
  docs/herald/examples/module-level-bus.md
  docs/herald/examples/request-scoping.md
  docs/herald/examples/standalone-entry.md
  docs/herald/index.md
  docs/herald/migration.md
  docs/herald/usage.md
  packages/herald/README.md
  packages/herald/src/__tests__/behavior-bus.test.ts
  packages/herald/src/__tests__/contracts.test.ts
  packages/herald/src/__tests__/devtools.test.ts
  packages/herald/src/__tests__/herald.bench.ts
  packages/herald/src/__tests__/pipe.test.ts
  packages/herald/src/__tests__/testing.test.ts
  packages/herald/src/_delegate.ts
  packages/herald/src/behavior-bus.ts
  packages/herald/src/bus.ts
  packages/herald/src/devtools.ts
  packages/herald/src/index.ts
  packages/herald/src/pipe.ts
  packages/herald/src/testing/testing.ts
  packages/herald/src/types.ts
Due: lint:resources, lint:js, test:unit

refactor(keymap): remove layers and priority; make keymap lifecycle and guards explicit
  common/changes/@vielzeug/keymap/agent_1786165493148.json
  demos/kanban/package.json
  demos/kanban/pnpm-lock.yaml
  demos/kanban/src/ui/app-shell.ts
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples/keymap/index.ts
  docs/.vitepress/theme/components/repl/examples/keymap/keymap-layers.ts
  docs/.vitepress/theme/components/repl/examples/keymap/shortcut-utilities.ts
  docs/keymap/api.md
  docs/keymap/examples.md
  docs/keymap/examples/global-shortcuts.md
  docs/keymap/examples/vim-navigation.md
  docs/keymap/index.md
  docs/keymap/migration.md
  docs/keymap/usage.md
  packages/keymap/README.md
  packages/keymap/src/__tests__/chord.test.ts
  packages/keymap/src/__tests__/keymap.test.ts
  packages/keymap/src/__tests__/layer.test.ts
  packages/keymap/src/__tests__/lifecycle.test.ts
  packages/keymap/src/__tests__/parser.test.ts
  packages/keymap/src/conflicts.ts
  packages/keymap/src/index.ts
  packages/keymap/src/keymap.ts
  packages/keymap/src/layer.ts
  packages/keymap/src/parser.ts
  packages/keymap/src/types.ts
  packages/keymap/vitest.config.ts
Due: lint:resources, lint:js, test:unit

chore(ledger): update atomic operation state
  .ai/data/packages.json
  .ai/reference/packages.md
  common/changes/@vielzeug/ledger/agent_1786167301206.json
  demos/kanban/package.json
  demos/kanban/pnpm-lock.yaml
  demos/kanban/src/core/history.ts
  demos/kanban/src/ui/app-shell.ts
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples/ledger/cancellation.ts
  docs/.vitepress/theme/components/repl/examples/ledger/command-data.ts
  docs/.vitepress/theme/components/repl/examples/ledger/compose-commands.ts
  docs/.vitepress/theme/components/repl/examples/ledger/do-undo-redo.ts
  docs/.vitepress/theme/components/repl/examples/ledger/reactive-signals.ts
  docs/.vitepress/theme/components/repl/examples/ledger/rollback-error.ts
  docs/keymap/usage.md
  docs/ledger/api.md
  docs/ledger/examples.md
  docs/ledger/examples/form-history.md
  docs/ledger/examples/text-editor.md
  docs/ledger/index.md
  docs/ledger/migration.md
  docs/ledger/usage.md
  packages/ledger/README.md
  packages/ledger/package.json
  packages/ledger/src/__tests__/compose.test.ts
  packages/ledger/src/__tests__/ledger.test.ts
  packages/ledger/src/_dev.ts
  packages/ledger/src/compose.ts
  packages/ledger/src/errors.ts
  packages/ledger/src/index.ts
  packages/ledger/src/ledger.ts
  packages/ledger/src/types.ts
Due: lint:resources, lint:js, test:unit

chore(prism): use keyed chart data, explicit accessibility, and reduced-motion-aware transitions
  common/changes/@vielzeug/codex/agent_1786077978715.json
  common/changes/@vielzeug/familiar/agent_1786077947298.json
  common/changes/@vielzeug/herald/agent_1786089968446.json
  common/changes/@vielzeug/prism/agent_1786191227893.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.js
  docs/prism/index.md
  packages/prism/README.md
  packages/prism/src/__tests__/animation.test.ts
  packages/prism/src/__tests__/architecture.test.ts
  packages/prism/src/__tests__/bar-chart.test.ts
  packages/prism/src/__tests__/line-chart.test.ts
  packages/prism/src/animation/motion.ts
  packages/prism/src/animation/transition.ts
  packages/prism/src/charts/area/area-renderer.ts
  packages/prism/src/charts/bar/bar-chart.ts
  packages/prism/src/charts/bar/bar-hit-test.ts
  packages/prism/src/charts/bar/bar-renderer.ts
  packages/prism/src/charts/line/line-renderer.ts
  packages/prism/src/charts/pie/pie-chart.ts
  packages/prism/src/charts/sparkline/sparkline.ts
  packages/prism/src/core/cartesian-model.ts
  packages/prism/src/core/chart-base.ts
  packages/prism/src/core/chart-scaffold.ts
  packages/prism/src/index.ts
  packages/prism/src/interaction/series-interaction.ts
  packages/prism/src/interaction/tooltip.ts
  packages/prism/src/theme/prism.css
  packages/prism/src/types.ts
Due: lint:resources, lint:js, test:unit

fix(ore): fix test fixture resource retention
  common/changes/@vielzeug/ore/agent_1786252958708.json
  packages/ore/src/__tests__/css.test.ts
  packages/ore/src/__tests__/render-hook.test.ts
  packages/ore/src/__tests__/testing.test.ts
  packages/ore/src/testing/mount.ts
  packages/ore/src/testing/render-hook.ts
  packages/ore/src/utils/css.ts
  packages/refine/src/core/__tests__/option-list.test.ts
Due: lint:resources, lint:js, test:unit

refactor(rune): make batch lifecycle awaitable and remove RuneTransportError
  common/changes/@vielzeug/rune/agent_1786296437321.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples/rune/lifecycle.ts
  docs/rune/api.md
  docs/rune/examples/module-logger-pattern.md
  docs/rune/examples/timing-and-grouping.md
  docs/rune/index.md
  docs/rune/migration.md
  docs/rune/usage.md
  packages/rune/README.md
  packages/rune/src/__tests__/rune.test.ts
  packages/rune/src/console.ts
  packages/rune/src/errors.ts
  packages/rune/src/index.ts
  packages/rune/src/logger.ts
  packages/rune/src/transports.ts
  packages/rune/src/types.ts
Due: lint:resources, lint:js, test:unit

feat(sandbox): harden sandbox protocol and rename patch to replaceBody
  common/changes/@vielzeug/sandbox/agent_1786300830229.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/REPLEditor.vue
  docs/.vitepress/theme/components/repl/examples/sandbox/render-state.ts
  docs/.vitepress/theme/components/repl/execution/__tests__/useMonaco.test.ts
  docs/.vitepress/theme/components/repl/execution/__tests__/useReplExecution.test.ts
  docs/.vitepress/theme/components/repl/execution/buildSandboxDocument.ts
  docs/.vitepress/theme/components/repl/execution/useMonaco.ts
  docs/sandbox/api.md
  docs/sandbox/examples/ai-ui-renderer.md
  docs/sandbox/index.md
  docs/sandbox/migration.md
  docs/sandbox/usage.md
  packages/sandbox/README.md
  packages/sandbox/src/__tests__/errors.test.ts
  packages/sandbox/src/__tests__/sandbox.test.ts
  packages/sandbox/src/__tests__/security.test.ts
  packages/sandbox/src/_bridge.ts
  packages/sandbox/src/_document.ts
  packages/sandbox/src/_policy.ts
  packages/sandbox/src/_protocol.ts
  packages/sandbox/src/_runtime.ts
  packages/sandbox/src/_sandbox.ts
  packages/sandbox/src/errors.ts
  packages/sandbox/src/index.ts
  packages/sandbox/src/testing.ts
  packages/sandbox/src/types.ts
Due: lint:resources, lint:js, test:unit

feat(scout): add bulk index reconciliation and validate search configuration
  common/changes/@vielzeug/scout/agent_1786314078434.json
  demos/eshop/package.json
  demos/eshop/pnpm-lock.yaml
  demos/eshop/src/core/search-index.ts
  demos/kanban/src/core/search-index.ts
  docs/.vitepress/theme/components/repl/examples/scout/incremental-updates.ts
  docs/.vitepress/theme/components/repl/examples/scout/reactive-search.ts
  docs/scout/api.md
  docs/scout/examples.md
  docs/scout/examples/basic-search.md
  docs/scout/examples/reactive-combobox.md
  docs/scout/examples/sourcerer-integration.md
  docs/scout/index.md
  docs/scout/migration.md
  docs/scout/usage.md
  packages/scout/README.md
  packages/scout/src/__tests__/adapters.test.ts
  packages/scout/src/__tests__/highlight.test.ts
  packages/scout/src/__tests__/index.test.ts
  packages/scout/src/__tests__/reactive.test.ts
  packages/scout/src/_index-state.ts
  packages/scout/src/adapters.ts
  packages/scout/src/errors.ts
  packages/scout/src/highlight.ts
  packages/scout/src/index.ts
  packages/scout/src/reactive.ts
  packages/scout/src/scout-index.ts
  packages/scout/src/types.ts
Due: lint:resources, lint:js, test:unit

feat(scroll): validate static virtualizer configuration and support callback updates
  common/changes/@vielzeug/scroll/agent_1786338992829.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples/scroll/basic-list.ts
  docs/.vitepress/theme/components/repl/examples/scroll/dynamic-count.ts
  docs/.vitepress/theme/components/repl/examples/scroll/grid-virtualizer.ts
  docs/.vitepress/theme/components/repl/examples/scroll/grouped-list.ts
  docs/.vitepress/theme/components/repl/examples/scroll/measurement-cache.ts
  docs/.vitepress/theme/components/repl/examples/scroll/on-range-change.ts
  docs/.vitepress/theme/components/repl/examples/scroll/reactive-grouped-list.ts
  docs/.vitepress/theme/components/repl/examples/scroll/reactive-virtualizer.ts
  docs/.vitepress/theme/components/repl/examples/scroll/scroll-to-index.ts
  docs/.vitepress/theme/components/repl/examples/scroll/scroll-to-top-bottom.ts
  docs/.vitepress/theme/components/repl/examples/scroll/variable-height.ts
  docs/scroll/api.md
  docs/scroll/examples/basic-fixed-height-list.md
  docs/scroll/examples/grid-virtualizer.md
  docs/scroll/examples/grouped-list-headers-plus-rows.md
  docs/scroll/examples/infinite-scroll-load-more.md
  docs/scroll/examples/keyboard-navigation.md
  docs/scroll/examples/reactive-virtualizer.md
  docs/scroll/examples/variable-height-with-measurement.md
  docs/scroll/index.md
  docs/scroll/migration.md
  docs/scroll/usage.md
  packages/scroll/README.md
  packages/scroll/src/__tests__/dom-virtual-list.test.ts
  packages/scroll/src/__tests__/errors.test.ts
  packages/scroll/src/__tests__/grid-virtualizer.test.ts
  packages/scroll/src/__tests__/grouped-virtualizer.test.ts
  packages/scroll/src/__tests__/reactive.test.ts
  packages/scroll/src/__tests__/virtualizer.test.ts
  packages/scroll/src/_alignment.ts
  packages/scroll/src/_validation.ts
  packages/scroll/src/dom-virtual-list.ts
  packages/scroll/src/errors.ts
  packages/scroll/src/grid-virtualizer.ts
  packages/scroll/src/grouped-virtualizer.ts
  packages/scroll/src/index.ts
  packages/scroll/src/reactive.ts
  packages/scroll/src/virtualizer.ts
Due: lint:resources, lint:js, test:unit

refactor(ward): remove middleware guards, validate createWard options, add anonymous-predicate development warning
  common/changes/@vielzeug/ward/agent_1786343049940.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples/ward/index.ts
  docs/.vitepress/theme/components/repl/examples/ward/middleware-guard.ts
  docs/ward/api.md
  docs/ward/index.md
  docs/ward/migration.md
  docs/ward/usage.md
  packages/ward/README.md
  packages/ward/src/__tests__/factory.test.ts
  packages/ward/src/__tests__/middleware.test.ts
  packages/ward/src/_dev.ts
  packages/ward/src/factory.ts
  packages/ward/src/index.ts
  packages/ward/src/middleware.ts
Due: lint:resources, lint:js, test:unit

refactor(wayfinder): redesign navigation coordination, add ready, and rename resolve/match to matchPath/loadPath
  common/changes/@vielzeug/codex/agent_1786410000000.json
  common/changes/@vielzeug/wayfinder/agent_1786410000000.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/repl/examples/wayfinder/basic-routing.ts
  docs/.vitepress/theme/components/repl/examples/wayfinder/debug-router.ts
  docs/.vitepress/theme/components/repl/examples/wayfinder/named-routes.ts
  docs/.vitepress/theme/components/repl/examples/wayfinder/preload-and-dispose.ts
  docs/.vitepress/theme/components/repl/examples/wayfinder/url-building.ts
  docs/guide/index.md
  docs/public/logo-assay.svg
  docs/sourcerer/examples/sourcerer-with-wayfinder.md
  docs/wayfinder/api.md
  docs/wayfinder/examples/base-path-deployment.md
  docs/wayfinder/examples/page-titles-from-meta.md
  docs/wayfinder/examples/react-integration.md
  docs/wayfinder/examples/svelte-integration.md
  docs/wayfinder/examples/view-transitions.md
  docs/wayfinder/examples/vue-integration.md
  docs/wayfinder/index.md
  docs/wayfinder/migration.md
  docs/wayfinder/usage.md
  packages/wayfinder/README.md
  packages/wayfinder/src/__tests__/context.test.ts
  packages/wayfinder/src/__tests__/guards.test.ts
  packages/wayfinder/src/__tests__/match.test.ts
  packages/wayfinder/src/__tests__/navigation.test.ts
  packages/wayfinder/src/__tests__/resolve.test.ts
  packages/wayfinder/src/__tests__/scroll.test.ts
  packages/wayfinder/src/__tests__/streaming.test.ts
  packages/wayfinder/src/_navigation.ts
  packages/wayfinder/src/context.ts
  packages/wayfinder/src/router.ts
Due: lint:resources, lint:js, test:unit

feat(necromancer): short-lived handles/groups expose dispose()/disposed only, no disposalSignal
  .gitignore
  common/changes/@vielzeug/necromancer/agent_1786262156234.json
  docs/necromancer/api.md
  docs/necromancer/examples/animate-a-reorder.md
  docs/necromancer/index.md
  docs/necromancer/usage.md
  packages/necromancer/README.md
  packages/necromancer/package.json
  packages/necromancer/src/__tests__/animate.test.ts
  packages/necromancer/src/__tests__/animation.e2e.ts
  packages/necromancer/src/__tests__/group.test.ts
  packages/necromancer/src/__tests__/helpers.ts
  packages/necromancer/src/__tests__/layout.test.ts
  packages/necromancer/src/_active.ts
  packages/necromancer/src/_elements.ts
  packages/necromancer/src/_handle.ts
  packages/necromancer/src/_motion.ts
  packages/necromancer/src/animate-each.ts
  packages/necromancer/src/animate.ts
  packages/necromancer/src/layout.ts
  packages/necromancer/src/testing/index.ts
  packages/necromancer/src/types.ts
  packages/necromancer/vite.config.ts
Due: lint:resources, lint:js, test:unit
