Repository helmuthdu/vielzeug: changes, and which lefthook commands are due for each by the changed paths.
All: lint:resources, lint:js, test:unit

lefthook.yml:

pre-commit:
  piped: true
  follow: true
  commands:
    lint:resources:
      glob: '*.{html,json,yml}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
    lint:js:
      glob: '*[!.{spec,test}].{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest related {staged_files}
    test:unit:
      glob: '*.{spec,test}.{[tj]s,[tj]sx}'
      run: >
        npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        npx vitest {staged_files}

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml,md,mdx,html}"
      run: npx biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

feat(ripple): store.replace()/reset() now remove omitted keys instead of nulling them, add resource().refresh() for manual refetch
  .npmrc
  common/changes/@vielzeug/ripple/agent_1783231458555.json
  docs/.vitepress/theme/components/repl/examples/ripple/async-resource.ts
  docs/.vitepress/theme/components/repl/examples/ripple/index.ts
  docs/.vitepress/theme/components/repl/examples/ripple/store-basics.ts
  docs/ripple/api.md
  docs/ripple/examples/async-computed.md
  docs/ripple/examples/stores.md
  docs/ripple/usage.md
  packages/ripple/src/__tests__/resource.test.ts
  packages/ripple/src/__tests__/store.test.ts
  packages/ripple/src/async-computed.ts
  packages/ripple/src/index.ts
  packages/ripple/src/store.ts
  packages/ripple/src/types.ts
Due: lint:resources, lint:js, test:unit

chore: update .npmrc config
  .npmrc
Due: none

fix: clear dummy NODE_AUTH_TOKEN to enable trusted publishing with npm
  .github/actions/publish-package/action.yml
  .github/workflows/publish-missing.yml
  .github/workflows/release-all.yml
Due: lint:resources

feat(props): handle pre-upgrade property values for proper type parsing
  common/changes/@vielzeug/ore/agent_1783286695235.json
  packages/ore/src/__tests__/component-props.test.ts
  packages/ore/src/props.ts
Due: lint:resources, lint:js, test:unit

feat(HomePage): add responsive styles and layout adjustments for demo section
  docs/.vitepress/theme/components/HomePage.vue
Due: none

refactor(ci): consolidate release/publish workflows onto a single scripted CLI
  .actrc
  .github/README.md
  .github/actions/publish-package/action.yml
  .github/actions/setup/action.yml
  .github/dependabot.yml
  .github/workflows/_publish-one.yml
  .github/workflows/_test-lint.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish-missing.yml
  .github/workflows/release-all.yml
  .github/workflows/release.yml
  .github/workflows/test-pr.yml
  package.json
  scripts/release/__tests__/cli.test.mjs
  scripts/release/__tests__/npm-publish.test.mjs
  scripts/release/__tests__/npm-version-exists.test.mjs
  scripts/release/__tests__/publish-missing.test.mjs
  scripts/release/__tests__/release-plan.test.mjs
  scripts/release/__tests__/rush-project.test.mjs
  scripts/release/__tests__/rush-publish-apply.test.mjs
  scripts/release/__tests__/tag-and-release.test.mjs
  scripts/release/cli.mjs
  scripts/release/npm-publish.mjs
  scripts/release/npm-version-exists.mjs
  scripts/release/publish-missing.mjs
  scripts/release/release-plan.mjs
  scripts/release/rush-project.mjs
  scripts/release/rush-publish-apply.mjs
  scripts/release/tag-and-release.mjs
Due: lint:resources

feat(HomePage): enhance compatibility section layout and typography
  docs/.vitepress/theme/components/HomePage.vue
Due: none

feat(REPL): implement mobile reference drawer and enhance sidebar interactions
  docs/.vitepress/theme/components/REPL.vue
Due: none

chore(docs): update contributing guidelines
  .github/AGENTS.md
  .github/contributing.md
  .github/copilot-instructions.md
Due: none

chore: update debugXXX definition for cross-package devtools naming/shape consistency
  .ai/rules/code/conventions.md
  CLAUDE.md
  common/changes/@vielzeug/forge/agent_1783407937377.json
  common/changes/@vielzeug/ripple/agent_1783411639373.json
  docs/forge/api.md
  docs/forge/index.md
  docs/forge/usage.md
  packages/forge/src/__tests__/devtools.test.ts
  packages/forge/src/devtools.ts
  packages/ripple/src/devtools.ts
Due: lint:resources, lint:js, test:unit

feat(publish): add local publish fallback and enhance npm publish commands with OTP and interactive options
  .github/AGENTS.md
  package.json
  scripts/release/__tests__/cli.test.mjs
  scripts/release/__tests__/local-publish.test.mjs
  scripts/release/__tests__/npm-publish.test.mjs
  scripts/release/__tests__/publish-missing.test.mjs
  scripts/release/__tests__/rush-project.test.mjs
  scripts/release/cli.mjs
  scripts/release/local-publish.mjs
  scripts/release/npm-publish.mjs
  scripts/release/publish-missing.mjs
Due: lint:resources

feat(publish): consolidate publishing workflows into a single entry point with enhanced input validation
  .github/AGENTS.md
  .github/workflows/_publish-one.yml
  .github/workflows/publish-missing.yml
  .github/workflows/publish.yml
  .github/workflows/release-all.yml
  .github/workflows/release.yml
  scripts/release/release-plan.mjs
Due: lint:resources

feat: enhance CLI argument parsing and improve package manifest handling
  .github/workflows/publish.yml
  .gitignore
  AGENTS.md
  package.json
  scripts/AGENTS.md
  scripts/__tests__/generate-repl-registry.test.ts
  scripts/__tests__/rush-change.test.mjs
  scripts/__tests__/sync-workflow-docs.test.mjs
  scripts/__tests__/validate-repl.test.ts
  scripts/__tests__/worktree.test.mjs
  scripts/generate-repl-registry.ts
  scripts/lib/__tests__/cli.test.mjs
  scripts/lib/__tests__/marker-sync.test.mjs
  scripts/lib/__tests__/packages.test.mjs
  scripts/lib/cli.d.mts
  scripts/lib/cli.mjs
  scripts/lib/marker-sync.mjs
  scripts/lib/packages.d.mts
  scripts/lib/packages.mjs
  scripts/release/__tests__/cli.test.mjs
  scripts/release/__tests__/local-publish.test.mjs
  scripts/release/__tests__/npm-publish.test.mjs
  scripts/release/cli.mjs
  scripts/release/local-publish.mjs
  scripts/release/npm-publish.mjs
  scripts/release/rush-publish-apply.mjs
  scripts/release/tag-and-release.mjs
  scripts/repl-metadata.ts
  scripts/rush-change.mjs
  scripts/sync-catalogue.mjs
  scripts/sync-workflow-docs.mjs
  scripts/validate-repl.ts
  scripts/vielzeug-packages.ts
  scripts/worktree.mjs
Due: lint:resources, lint:js, test:unit

refactor(ore): consolidate lifecycle-guard errors, dedupe bind()/aria() attribute writing, remove each() dev-time keyFn probe, add axeCheck test helper, and harden internal invariants
  .ai/rules/code/conventions.md
  CLAUDE.md
  common/changes/@vielzeug/ore/agent_1783490527439.json
  common/config/rush/pnpm-lock.yaml
  packages/AGENTS.md
  packages/ore/AGENTS.md
  packages/ore/README.md
  packages/ore/package.json
  packages/ore/src/__tests__/component-props.test.ts
  packages/ore/src/__tests__/component-slots-emit.test.ts
  packages/ore/src/__tests__/directives.test.ts
  packages/ore/src/__tests__/host.test.ts
  packages/ore/src/__tests__/internal.test.ts
  packages/ore/src/__tests__/internals.test.ts
  packages/ore/src/__tests__/refs.test.ts
  packages/ore/src/__tests__/runtime-lifecycle.test.ts
  packages/ore/src/aria.ts
  packages/ore/src/base-element.ts
  packages/ore/src/context.ts
  packages/ore/src/directives/each.ts
  packages/ore/src/directives/raw.ts
  packages/ore/src/directives/when.ts
  packages/ore/src/errors.ts
  packages/ore/src/index.ts
  packages/ore/src/props.ts
  packages/ore/src/runtime.ts
  packages/ore/src/template/bindings.ts
  packages/ore/src/template/compiler.ts
  packages/ore/src/template/instantiator.ts
  packages/ore/tsconfig.json
  packages/ore/vitest.setup.ts
Due: lint:resources, lint:js, test:unit

fix(ore): add an IIFE-only aggregate entry (src/iife.ts) merging directives/forms/observers onto window.Ore
  common/changes/@vielzeug/ore/agent_1783495995130.json
  packages/ore/AGENTS.md
  packages/ore/src/iife.ts
  packages/ore/tsconfig.declarations.json
  packages/ore/vite.bundle.config.ts
  vite.config.ts
Due: lint:resources, lint:js

fix(refine): externalize @vielzeug/ore/directives, /forms, /observers (mapped to the same Ore global) in the IIFE bundle
  common/changes/@vielzeug/refine/agent_1783495995181.json
  packages/refine/AGENTS.md
  packages/refine/vite.bundle.config.ts
Due: lint:resources, lint:js

feat(command-palette): add ore-command-palette + ore-command-palette-item
  .ai/rules/data/catalogue.md
  CLAUDE.md
  common/changes/@vielzeug/refine/agent_1783501451152.json
  common/config/rush/pnpm-lock.yaml
  docs/.vitepress/config.ts
  docs/.vitepress/plugins/component-preview/plugin.ts
  docs/refine/accessibility.md
  docs/refine/api.md
  docs/refine/components/command-palette.md
  docs/refine/index.md
  packages/refine/package.json
  packages/refine/refine-manifest.mjs
  packages/refine/src/overlay/command-palette/command-palette-items.ts
  packages/refine/src/overlay/command-palette/command-palette.css
  packages/refine/src/overlay/command-palette/command-palette.test.ts
  packages/refine/src/overlay/command-palette/command-palette.ts
  packages/refine/src/overlay/command-palette/command-palette.types.ts
  packages/refine/src/overlay/index.ts
  packages/refine/vite.bundle.config.ts
Due: lint:resources, lint:js, test:unit

chore: update dependencies
  common/config/rush/pnpm-lock.yaml
  package.json
  packages/arsenal/package.json
  packages/clockwork/package.json
  packages/codex/package.json
  packages/coins/package.json
  packages/conduit/package.json
  packages/courier/package.json
  packages/dnd/package.json
  packages/familiar/package.json
  packages/flux/package.json
  packages/forge/package.json
  packages/herald/package.json
  packages/keymap/package.json
  packages/ledger/package.json
  packages/lingua/package.json
  packages/orbit/package.json
  packages/ore/package.json
  packages/prism/package.json
  packages/pulse/package.json
  packages/refine/package.json
  packages/ripple/package.json
  packages/rune/package.json
  packages/sandbox/package.json
  packages/scout/package.json
  packages/scroll/package.json
  packages/sourcerer/package.json
  packages/spell/package.json
  packages/tempo/package.json
  packages/vault/package.json
  packages/ward/package.json
  packages/wayfinder/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint:resources

fix(publish): sync to latest main to prevent stale SHA issues on re-runs
  .github/workflows/publish.yml
  vite.config.ts
Due: lint:resources, lint:js

feat(scroll): add stickToBottom option and Virtualizer#isAtEnd for chat-style 'stick to bottom on new message' auto-scrolling
  common/changes/@vielzeug/scroll/agent_1783508192846.json
  docs/scroll/api.md
  docs/scroll/usage.md
  packages/scroll/src/__tests__/dom-virtual-list.test.ts
  packages/scroll/src/__tests__/virtualizer.test.ts
  packages/scroll/src/dom-virtual-list.ts
  packages/scroll/src/index.ts
  packages/scroll/src/virtualizer.ts
Due: lint:resources, lint:js, test:unit

feat(refine): add ore-chat-message and ore-typing-indicator components; add a gallery/preview-grid mode to ore-file-input for image thumbnails
  common/changes/@vielzeug/refine/agent_1783508196855.json
  common/changes/@vielzeug/refine/agent_1783526566343.json
  docs/.vitepress/config.ts
  docs/refine/accessibility.md
  docs/refine/api.md
  docs/refine/components/chat-message.md
  docs/refine/components/command-palette.md
  docs/refine/components/file-input.md
  docs/refine/components/typing-indicator.md
  docs/refine/index.md
  package.json
  packages/refine/AGENTS.md
  packages/refine/package.json
  packages/refine/refine-manifest.mjs
  packages/refine/src/content/chat-message/chat-message.css
  packages/refine/src/content/chat-message/chat-message.test.ts
  packages/refine/src/content/chat-message/chat-message.ts
  packages/refine/src/content/index.ts
  packages/refine/src/feedback/index.ts
  packages/refine/src/feedback/typing-indicator/typing-indicator.css
  packages/refine/src/feedback/typing-indicator/typing-indicator.test.ts
  packages/refine/src/feedback/typing-indicator/typing-indicator.ts
  packages/refine/src/inputs/file-input/file-input.css
  packages/refine/src/inputs/file-input/file-input.test.ts
  packages/refine/src/inputs/file-input/file-input.ts
  packages/refine/src/overlay/command-palette/command-palette-items.ts
  packages/refine/src/overlay/command-palette/command-palette.test.ts
  packages/refine/src/overlay/command-palette/command-palette.ts
  packages/refine/src/overlay/command-palette/command-palette.types.ts
  packages/refine/vitest.setup.ts
  scripts/AGENTS.md
  scripts/__tests__/verify-layout.test.mjs
  scripts/verify-layout.mjs
Due: lint:resources, lint:js, test:unit

fix(refine): light-dark() shadow tokens computed to none in spec-compliant browsers, breaking hover/focus/halo effects across every component
  common/changes/@vielzeug/refine/agent_1783609359109.json
  common/config/rush/pnpm-lock.yaml
  docs/.vitepress/theme/components/ColorPalette.vue
  docs/.vitepress/theme/components/ComponentPreview.vue
  docs/.vitepress/theme/components/component-preview/__tests__/sandboxDoc.test.ts
  docs/.vitepress/theme/components/component-preview/sandboxDoc.ts
  docs/refine/components/button.md
  docs/refine/theming.md
  packages/refine/AGENTS.md
  packages/refine/package.json
  packages/refine/scripts/cem-plugin-refine.mjs
  packages/refine/scripts/refine-manifest.mjs
  packages/refine/scripts/theme-tokens.mjs
  packages/refine/src/content/card/card.css
  packages/refine/src/content/icon/icon.css
  packages/refine/src/feedback/toast/toast.css
  packages/refine/src/inputs/button/button.css
  packages/refine/src/inputs/button/button.test.ts
  packages/refine/src/inputs/button/button.ts
  packages/refine/src/inputs/checkbox-group/checkbox-group.css
  packages/refine/src/inputs/checkbox/checkbox.css
  packages/refine/src/inputs/file-input/file-input.css
  packages/refine/src/inputs/input/input.css
  packages/refine/src/inputs/otp-input/otp-input.css
  packages/refine/src/inputs/radio-group/radio-group.css
  packages/refine/src/inputs/radio/radio.css
  packages/refine/src/inputs/rating/rating.css
  packages/refine/src/inputs/slider/slider.css
  packages/refine/src/inputs/switch/switch.css
  packages/refine/src/inputs/textarea/textarea.css
  packages/refine/src/layout/navbar/navbar.css
  packages/refine/src/layout/sidebar/sidebar.css
  packages/refine/src/overlay/menu/menu.css
  packages/refine/src/styles/__tests__/theme-contrast.test.ts
  packages/refine/src/styles/mixins/animation.css.ts
  packages/refine/src/styles/mixins/variants.css.ts
  packages/refine/src/styles/theme.css
  packages/refine/theme-tokens.d.mts
  packages/refine/vite.config.ts
  pnpm-lock.yaml
Due: lint:resources, lint:js, test:unit

fix(theme): update require path for prettier to ensure consistent module resolution across directory depths
  packages/refine/scripts/theme-tokens.mjs
Due: none

chore: update dependencies
  common/config/rush/pnpm-lock.yaml
  package.json
  packages/arsenal/package.json
  packages/clockwork/package.json
  packages/codex/package.json
  packages/coins/package.json
  packages/conduit/package.json
  packages/courier/package.json
  packages/dnd/package.json
  packages/familiar/package.json
  packages/flux/package.json
  packages/forge/package.json
  packages/herald/package.json
  packages/keymap/package.json
  packages/ledger/package.json
  packages/lingua/package.json
  packages/orbit/package.json
  packages/ore/package.json
  packages/prism/package.json
  packages/pulse/package.json
  packages/refine/package.json
  packages/ripple/package.json
  packages/rune/package.json
  packages/sandbox/package.json
  packages/scout/package.json
  packages/scroll/package.json
  packages/sourcerer/package.json
  packages/spell/package.json
  packages/tempo/package.json
  packages/vault/package.json
  packages/ward/package.json
  packages/wayfinder/package.json
  pnpm-lock.yaml
Due: lint:resources

feat(dependencies): add stylelint as a devDependency and update pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
  packages/refine/package.json
  packages/refine/scripts/theme-tokens.mjs
  pnpm-lock.yaml
Due: lint:resources

feat(ore): useEmit()'s emit() now returns dispatchEvent()'s boolean result
  common/changes/@vielzeug/ore/agent_1783782219753.json
  common/changes/@vielzeug/ore/agent_1783782227065.json
  docs/ore/api.md
  docs/ore/examples/form-associated-rating-input.md
  packages/ore/src/__tests__/component-form.test.ts
  packages/ore/src/__tests__/component-slots-emit.test.ts
  packages/ore/src/__tests__/runtime-lifecycle.test.ts
  packages/ore/src/base-element.ts
  packages/ore/src/errors.ts
  packages/ore/src/forms/field.ts
  packages/ore/src/index.ts
  packages/ore/src/runtime.ts
  packages/ore/src/testing/dom.ts
  packages/ore/src/testing/form-internals-polyfill.ts
  packages/ore/src/testing/render-hook.ts
  packages/ore/src/testing/testing.ts
  packages/ore/src/utils/emit.ts
  packages/ore/vitest.setup.ts
Due: lint:resources, lint:js, test:unit

test: increase timeout for generate-repl-registry test
  scripts/__tests__/generate-repl-registry.test.ts
Due: lint:js, test:unit

fix(dnd): prevent sortable placeholder oscillation in empty containers
  common/changes/@vielzeug/dnd/agent_1783939183266.json
  packages/dnd/src/sortable.ts
Due: lint:resources

fix(refine): normalize navbar item button base styles
  .gitignore
  .nvmrc
  common/changes/@vielzeug/refine/agent_1783939183326.json
  packages/refine/src/layout/navbar/navbar.css
Due: lint:resources

feat(dnd): add createTouchDragShim() to bridge touch gestures to sortable/drop-zone drag events
  common/changes/@vielzeug/dnd/agent_1783984899258.json
  docs/dnd/api.md
  docs/dnd/examples.md
  docs/dnd/examples/sortable-list.md
  docs/dnd/examples/touch-enabled-sortable-list.md
  docs/dnd/index.md
  docs/dnd/usage.md
  packages/dnd/README.md
  packages/dnd/src/__tests__/touch.test.ts
  packages/dnd/src/index.ts
  packages/dnd/src/touch.ts
Due: lint:resources, lint:js, test:unit

fix(release): rewrite workspace:* deps to real versions before npm pack
  scripts/release/__tests__/npm-publish.test.mjs
  scripts/release/__tests__/resolve-workspace-deps.test.mjs
  scripts/release/npm-publish.mjs
  scripts/release/resolve-workspace-deps.mjs
Due: none

chore: queue patch bumps for packages affected by the workspace:* publish bug
  common/changes/@vielzeug/clockwork/agent_1784008607857.json
  common/changes/@vielzeug/courier/agent_1784008607920.json
  common/changes/@vielzeug/familiar/agent_1784008607979.json
  common/changes/@vielzeug/flux/agent_1784008608030.json
  common/changes/@vielzeug/forge/agent_1784008608081.json
  common/changes/@vielzeug/ledger/agent_1784008608133.json
  common/changes/@vielzeug/orbit/agent_1784008608186.json
  common/changes/@vielzeug/ore/agent_1784008608243.json
  common/changes/@vielzeug/prism/agent_1784008608296.json
  common/changes/@vielzeug/pulse/agent_1784008608353.json
  common/changes/@vielzeug/refine/agent_1784008608405.json
  common/changes/@vielzeug/scout/agent_1784008608455.json
  common/changes/@vielzeug/scroll/agent_1784008608508.json
  common/changes/@vielzeug/sourcerer/agent_1784008608564.json
  common/changes/@vielzeug/spell/agent_1784008608614.json
Due: lint:resources

feat(refine): added playwright
  .gitignore
  common/config/rush/pnpm-lock.yaml
  lefthook.yml
  package.json
  packages/codex/scripts/vitest-global-setup.ts
  packages/codex/vitest.config.ts
  packages/refine/AGENTS.md
  packages/refine/package.json
  packages/refine/playwright.config.ts
  packages/refine/scripts/theme-tokens.d.mts
  packages/refine/src/__e2e__/a11y.spec.ts
  packages/refine/src/__e2e__/fixtures.ts
  packages/refine/src/__e2e__/interaction.spec.ts
  packages/refine/src/__e2e__/layout.spec.ts
  packages/refine/tsconfig.declarations.json
  packages/refine/tsconfig.json
  packages/refine/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint:resources, lint:js, test:unit

docs(scroll): add infinite scroll example and clarify useLayoutEffect usage
  docs/scroll/usage.md
Due: none

fix(refine): render ore-number-input's stepper buttons inside the field's bordered box instead of floating beside it
  common/changes/@vielzeug/refine/agent_1784021044487.json
  common/changes/@vielzeug/refine/agent_1784025659521.json
  common/changes/@vielzeug/refine/agent_1784027633832.json
  packages/refine/src/inputs/number-input/number-input.css
  packages/refine/src/inputs/number-input/number-input.test.ts
  packages/refine/src/inputs/number-input/number-input.ts
Due: lint:resources, lint:js, test:unit
